{% load extras %}
<div name="users" data-id="{{pk}}" data-kind="{{kind}}" {# FIXME data-kind -> data-instance ?? #}
     data-users="{{users|id_list}}" data-marked="{{marked|id_list}}">
    <div class="content" name="userlist">
        {% for user in users %}
	{% if user != skip %}
          {{ user.profile.render_html }}<br>
	  {% endif %}
	{% empty %}
	  Click to add {{kind|lower}}
        {% endfor %}
	{% if skip and users|length == 1 %}
	  Click to add {{kind|lower}}
	{% endif %}
    </div>
</div>


