<div class="position-relative" id="projectSelection" data-selected="">
  <div class="rounded border p-3 rounded-3 border-2 border-secondary" style="max-height: {{maxheight}}; height: 100%; overflow-y: auto;">
      <div class="content">
          <table>
            {% for project in projects %}
            <tr data-bs-toggle="tooltip" title="Creator {{project.creator}}" data-id="{{project.id}}"><td>{{ project.name }}</td></tr>
            {% endfor %}
          </table>
      </div>
      <div class="position-absolute top-0 start-0 badge rounded-pill bg-secondary text-white shadow-sm p-2" style="transform: translate(0%, -50%);">
        Accessible projects
      </div>
  </div>
</div>

