{% load volume_tags %}
{% load extras %}

<div class="card bg-light rounded rounded-3 mb-3 shadow-light card-fixed d-flex flex-column" id="card-{{ volume.id }}">
  <div class="card-header py-2">
    {% render_scope volume user %}
    {{ volume.folder }}
  </div>
  <div class="card-body">
    {% render_description volume user %}
  </div>

  {% if volume.owner != user %}
    <div class="card-footer py-2" data-toggle="tooltip" title="{{volume.admins|join:', '}}">
      Created by {{ volume.owner }}
    </div>
  {% endif %}
</div>


