{% load container_runtime %}
{% runtime_for container as runtime %}
{% compute_for container as compute %}

{# these may not be needed #}
{% load container_buttons %}
{% load check_show %}

<div
  class="card bg-light shadow-2-strong border border-3 shadow-light border-success mb-3"
  data-widget="containercard"
  data-id="{{ container.id }}"
>
  <div class="card-header d-flex justify-content-start align-items-center border-success">
    {% button_open container %}

    {% include "ui/widgets/editable_text/display.html" with dom_id=container.name_dom_id value=container.name edit_url=container.name_edit_url %}

    <div class="flex-grow-1"></div>

    {% include "container/partials/widgets/stop_button.html" %}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <div class="d-flex align-items-center mb-3">
          {#% button_teleport container %#}
          {% button_image container "container" "image" %}
        </div>

        <div class="d-flex mb-3">
          {#% button_seafile container %#}
          {% button_mount container %}
        </div>

        <div>
          {% include "container/partials/widgets/restart_button.html" %}
        </div>
      </div>

      <div class="col-md-6 d-flex flex-column">
        {% include "container/partials/widgets/log_display.html" with container=container only %}
        {% include "container/partials/widgets/compute_display.html" with container=container compute=compute only %}
        {% include "container/partials/widgets/uptime_display.html" with container=container runtime=runtime only %}
      </div>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between border-success">
    {% include "container/partials/widgets/start_button.html" %}
    {% include "container/button/delete.html" %}
  </div>
</div>
