{% extends "app/layout.html" %}

{% block content %}

<div class="row">
    <div class="col-md-8">
        <section id="changepasswForm">
            <form action="{% url 'passwordresettoken' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <h4>Please, check your e-mail to know your temporary token</h4>
                <hr />
                <input type = 'hidden' name = "username" value = "{{ username }}">
                <div class="form-group">
                    <label class="col-md-2 control-label">Token</label>
                    <div class="col-md-10">
                        <input class = "form-control" name = "token" placeholder = "token">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">New password</label>
                    <div class="col-md-10">
                        <input class = "form-control" name = "password1" placeholder = "new password" type = "password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Retype password</label>
                    <div class="col-md-10">
                        <input class = "form-control" name = "password2" placeholder = "new password again" type = "password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Set new password" class="btn btn-default" />
                    </div>
                </div>
                {% if errors %}
                <p class="validation-summary-errors">{{ errors }}</p>
                {% endif %}
            </form>
        </section>
    </div>

</div>

{% endblock %}


{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
