<div class="modal-content">
    <form action="{% url 'project-commit' %}" method="post" class="form-horizontal">
  {% csrf_token %}

<div class="panel panel-default ">

<div class="panel-heading">
<div style="display: inline-block;">
      <h4>Commit changes for project <strong>tyjtjy</strong></h4>
    </div>
    <div style="float: right;">
      <a href="/hub/projects">
        <button role="button" type="button" class="btn btn-default" style="padding: 3px 6px 6px 6px">
          <span class="glyphicon glyphicon-arrow-left" aria-hidden="true">
          Back to projects</span>
        </button>
      </a>
</div>
</div>
  {% if committable_dict.modified or committable_dict.deleted or committable_dict.other %}
    <div class="panel-body">
      <div class="form-group">
          <table class="table table-striped">    
           <thead><tr><th colspan=3>Select the files you want to commit:</th></tr></thead>
           <tbody>
            <tr><th></th><th>Filename</th><th>Status</th></tr>
        {% for committable in committable_dict.deleted %}
          <tr>
            <td> <input type="checkbox" value="{{ committable }}" name="deleted_files"></td>
            <td> {{ committable }} </td>
            <td> (deleted) </td>
          </tr>
        {% endfor %}
        {% for committable in committable_dict.modified %}
          <tr>
            <td> <input type="checkbox" value="{{ committable }}" name="modified_files"></td>
            <td> {{ committable }} </td>
            <td> (modified) </td>
          </tr>
        {% endfor %}
        {% for committable in committable_dict.other %}
          <tr>
            <td> <input type="checkbox" value="{{ committable }}" name="other_files"> </td>
            <td> {{ committable }} </td>
            <td> (untracted/renamed/new) </td>
          </tr>
        {% endfor %}
        </tbody>
        </table>
      </div> <!-- form-group -->
      
      <label>Your commit message:</label>
      <input id="id_message" type="text" name="message" value="Update the project file(s)">
      <input type="hidden" name="project_id" value="{{ project.id }}" />
      <div class="alert alert-info">
        <p>In your favour the following commands are issued in the project folder:</p>
        <hr>
        <code> 
git add &lt;names of modified and added files&gt;<br>
git rm &lt;names of deleted files&gt; .<br>
git commmit -m '&lt;your commit message&gt;'<br>
git push
        </code>
      </div>
    </div>   <!-- panel-body -->
    <div class="panel-footer" style="text-align: left;">
      <input type="submit" name="button" value="Commit and push" class="btn btn-primary" />
      <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
    </div>   <!-- panel-footer -->
   {% else %}
     <div class="alert alert-warning">You have nothing to commit yet.</div>
   {% endif %}
</div>
</form>
</div>

