<form action="{% url 'project-commit' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="panel-heading">
    <h4>Commit changes for project <strong>{{ project.name }}</strong></h4>
  </div>
  {% if committable_dict.modified or committable_dict.deleted or committable_dict.other %}
    <div class="panel-body">
      <label>Select the files you want to commit:</label>
      <div class="form-group">
        {% for committable in committable_dict.deleted %}
          <input type="checkbox" value="{{ committable }}" name="deleted_files">
          {{ committable }} (deleted)<br>
        {% endfor %}
        {% for committable in committable_dict.modified %}
          <input type="checkbox" value="{{ committable }}" name="modified_files">
          {{ committable }} (modified)<br>
        {% endfor %}
        {% for committable in committable_dict.other %}
          <input type="checkbox" value="{{ committable }}" name="other_files">
          {{ committable }} (untracted/renamed/new)<br>
        {% endfor %}
      </div> <!-- form-group -->
      <label>Your commit message:</label>
      <input id="id_message" type="text" name="message" value="Update the project file(s)">
      <input type="hidden" name="project_id" value="{{ project.id }}" />
      <hr>
      <p>In your favour the following commands are issued in the project folder:</p> 
      <code> 
git add &lt;names of modified and added files&gt;<br>
git rm &lt;names of deleted files&gt; .<br>
git commmit -m '&lt;your commit message&gt;'<br>
git push
      </code>
    </div>   <!-- panel-body -->
    <div class="panel-footer" style="text-align: left;">
      <input type="submit" name="button" value="Commit and push" class="btn btn-primary" />
      <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
    </div>   <!-- panel-footer -->
   {% else %}
     <p>You have nothing to commit yet.</p>
   {% endif %}
</form>

