{% extends "app/layout.html" %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="active"><a href="#pane_commit" data-toggle="tab">Commit</a></li>
  <li><a href="#pane_update" data-toggle="tab">Update</a></li>
  <li><a href="#pane_revert" data-toggle="tab">Revert</a></li>
</ul>
<div class="tab-content">
  <div id="pane_commit" class="tab-pane fade in active">
    {% include 'project/commitform.html' %}
  </div>
  <div id="pane_update" class="tab-pane fade">
    {% include 'project/updateform.html' %}
  </div>
  <div id="pane_revert" class="tab-pane fade">
    {% include 'project/revertform.html' %}
  </div>
</div>   <!-- tab-content -->

{% endblock %}
