<div class="modal-content">
  <form id="newproject" class="form-horizontal" action="{% url 'project-new' %}" method="post">
    {% csrf_token %}
    <div class="modal-body">
      <h4>Create new project</h4>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#pane_thename" data-toggle="tab">Description</a></li>
        <li><a href="#pane_template" data-toggle="tab">Template</a></li>
        <li><a href="#pane_funcvolume" data-toggle="tab">Module volumes</a></li>
        <li><a href="#pane_stgvolume" data-toggle="tab">Storage volumes</a></li>
      </ul>
      <div class="tab-content">
        <div id="pane_thename" class="tab-pane fade in active">
          {% include 'project/pane-nameNdescription.html' %}
        </div>
        <div id="pane_template" class="tab-pane fade">
          {% include 'project/pane-template.html' %}
        </div>
        <div id="pane_funcvolume" class="tab-pane fade">
          {% include 'project/pane-functionalvolume.html' with project=None %}
        </div>
        <div id="pane_stgvolume" class="tab-pane fade">
          {% include 'project/pane-storagevolume.html' with project=None %}
        </div>
      </div>   <!-- tab-content -->
    </div>     <!-- modal-body -->
    <div class="modal-footer">
      <label for="footer">Create your project:</label>
      <button type="submit" class="btn btn-default" name="button" value="public"> Public</button>
      <button type="submit" class="btn btn-default" name="button" value="private"> Private</button>
      <button type="submit" class="btn btn-default" name="button" value="Cancel"> Cancel</button>
    </div>
  </form>
</div>         <!-- modal-content -->
