<label for="project_template">Choose a template for your project</label><br>
<select id="project_template" name="project_template">
  {% for image in images %}
  <option value="image={{ image }}" style="background-color: silver">(empty) {{ image }}</option>
  {% endfor %}
  {% for project in projects_mine %}
  <option value="clonable_project={{ project.id }}" style="background-color: gray">(mine) {{ project }}</option>
  {% endfor %}
  {% for project in projects_shared %}
  <option value="clonable_project={{ project.id }}" style="background-color: gray">(shared) {{ project }}</option>
  {% endfor %}
  {% for project in projects_public %}
  <option value="clonable_project={{ project.id }}" style="background-color: lightgray">(public) {{ project }}</option>
  {% endfor %}
</select><br>

<br>
<br>
<div class="panel panel-success">
  <div class="panel-heading">
    <a data-toggle="collapse"  href="#collapse-help-template" style="text-decoration: none; color: gray">
      <span class="glyphicon  glyphicon-question-sign"></span> Help <span
      class="glyphicon glyphicon-option-horizontal"></span>
    </a>
  </div>
<div id="collapse-help-template" class="panel-collapse collapse">
  <div class="panel-body">
    <p>Select a project starting template, which can be either an <strong>empty</strong> template or you can clone an already available project.</p>
    <p>When selecting an empty template choose by the image name. The <code>basic</code> image provides your project with all the necessary packages.</p>
    <p>In case you clone a project the following project groups are defined:
    <ul>
     <li><strong>mine:</strong> those projects you created so far.</li>
     <li><strong>shared:</strong> those projects other users created but you are a collaborator of.</li>
     <li><strong>public:</strong> those projects that anyone can see.</li>
    </ul>
  </div>
 </div>
</div>
