{% if volumes %}
<label>Select volumes to attach to your project</label><br>
{% for volume in volumes %}
<input type="checkbox" name="vol={{ volume }}" value="{{ volume }}"
  {% for p, vs in volumes_attached.items %}
    {% if p = item  and volume in vs %}
      checked
    {% endif %}
  {% endfor %}><span style="padding-left:10px"> <strong >{{ volume }}</strong>:  <span style="padding-left:10px"> {{ volume.description }}
    </span></span>

<br>
{% endfor %}
{% endif %}

{% if volumes and bindings %}
<hr>
{% endif %}

{% if bindings %}
<label>Select shared storages to associate with your project</label><br>
{% for binding in bindings %}
<input type="checkbox" name="mp={{ binding.mountpoint.id }}" value="{{ binding.mountpoint.id }}"
  {% for p, pbs in shares_attached.items %}
    {% if p = item %}
      {% for pb in pbs %}
        {% if pb.mountpoint = binding.mountpoint %}
          checked
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}> <span style="padding-left:10px"> <strong > {{ binding.mountpoint.displayname }}
    </strong>:  <span style="padding-left:20px"> {{ binding.mountpoint.description }} </span>
    </span>
{% comment %}
  {% if binding.rw_ %}
(grant write access <input type="checkbox" name="mprw={{ binding.mountpoint.id }}" value="{{ binding.mountpoint.id }}">)
  {% else %}
(read only access)
  {% endif %}
{% endcomment %}
<br>
{% endfor %}
{% endif %}

<br>
<br>

<div class="panel panel-success">
  <div class="panel-heading">
   <a data-toggle="collapse"  href="#collapse-help-vol" style="text-decoration: none; color: gray">
      <span class="glyphicon  glyphicon-question-sign"></span> Help <span
      class="glyphicon glyphicon-option-horizontal"></span>
    </a>
    </div>
<div id="collapse-help-vol" class="panel-collapse collapse">
  <div class="panel-body">
    <strong>Volumes </strong>contain installed conda environments, python and other packages.
    <ul>
    <li> Any number volume can be selected. </li>
    <li> Volumes will be mounted under  <code> /vol/"volumename" </code> </li>
    <li> When you run a notebook only one conda environment can enabled at
    once, but all the other packages will be available like yaehmop or siesta.
    </ul>
    <strong> Storage volumes </strong> will be mounted also under  <code> /vol/</code>. They contain large amount of data. Only those will be visible
    here to which you have access.  
  </div>
</div>
</div>
