{% if storage_volumes %}

    <table class="table table-striped">
      <thead>
        <tr>
          <label>Select volumes to attach to your project</label></tr>
      </thead>
      <tbody>
      <tr>
          <th></th><th>Volume name</th><th>Description</th>
      </tr>
        {% for volume in storage_volumes %}
          <tr>
            <td>
                <input type="checkbox" name="stg_volumes" value="{{ volume }}"
                {% if project %}
                {% for v in project.volumes %}
                    {% if v.name = volume.name %}
                        checked
                    {% endif %}
                {% endfor %}
                {% endif %}>
            </td>
            <td> <strong >{{ volume }}</strong>: </td>
            <td> {{ volume.description }} </td>
          </tr>

        {% endfor %}
      </tbody>
    </table>
{% else %}
  <div class="alert alert-danger" role="alert">Currently there are no volumes you can attach.</div>
{% endif %}
{% if project %}
{% if project in running %}
<div class="alert alert-warning" role="alert">This project {{ project }} is running. Storage volume mounting at runtime is not possible, so do not forget to restart the project container to take effect if you change the setup.</div>
{% endif %}
{% endif %}

<div class="panel panel-success">
  <div class="panel-heading">
    {% if project %}
    <a data-toggle="collapse"  href="#collapse-help-stgvol-{{ project.id }}" style="text-decoration: none; color: gray">
    {% else %}
    <a data-toggle="collapse"  href="#collapse-help-stgvol-new" style="text-decoration: none; color: gray">
    {% endif %}
      <span class="glyphicon  glyphicon-question-sign"></span> Help <span
      class="glyphicon glyphicon-option-horizontal"></span>
    </a>
  </div>
  {% if project %}
  <div id="collapse-help-stgvol-{{ project.id }}" class="panel-collapse collapse">
  {% else %}
  <div id="collapse-help-stgvol-new" class="panel-collapse collapse">
  {% endif %}
    <div class="panel-body">
      <strong>Volumes </strong>contain data.
      <ul>
        <li>Any number volumes you have access to can be selected. </li>
        <li>Data volumes are mounted under  <code>/mnt/"volumename" </code> </li>
      </ul>
    </div>
  </div>
</div>
