<h4>Manage members</h4>
<div class="form-group" style="margin: 0px 5px;">

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Short Bio</th>
      <th scope="col">Position</th>
    </tr>
  </thead>
  <tbody>
  {% for user in users %}
    {% if project.owner != user %}
     <tr>
      <th scope="row"> <input type="checkbox" name="collaborators" value="{{ user.id }}" {% if user in project.collaborators %}checked{% endif %}></th>
      <td><div data-toggle="tooltip" title="Username: {{ user.username }}" data-placement="right" data-html="true">
             {{ user.first_name }} {{ user.last_name }}
           </div></td>
      <td>{{ user.bio }}</td>
      <td> </td>
    </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>

</div>
