{% extends "app/layout.html" %}

{% block content %}

<div class="row">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active" ><a href="#myprojects" data-toggle="tab">My projects</a></li>
            <li><a href="#otherprojects" data-toggle="tab">Public projects</a></li>
            <li><a href="#newproject" data-toggle="tab">New project</a></li>
        </ul>
      </div>            <!-- /.navbar-collapse -->
    </div>              <!-- /.container-fluid -->
  </nav>
</div>                  <!-- row -->

{% comment %}
#FIXME:
{% include 'app/about.html' %}
{% endcomment %}

{% if errors %}
<div class="alert alert-danger" role="alert">
  {% for error in errors %}
  <p class="validation-summary-errors">{{ error }}</p>
  {% endfor %}
</div>
{% endif %}

{% if messages %}
  {% include 'message.html' %}
{% endif %}


<div class="tab-content">
  <div id="myprojects" class="tab-pane fade in active">
        {% for project in projects_mine %}
          <div class="row">
            {% include 'project/project-partial.html' with publicvar=False %}
          </div>
        {% endfor %}
        {% for project in projects_shared %}
          <div class="row">
            {% include 'project/project-partial.html' with publicvar=False %}
          </div>
        {% endfor %}
  </div>
  <div id="otherprojects" class="tab-pane fade">
        {% for project in projects_public %}
          <div class="row">
            {% include 'project/project-partial.html' with publicvar=True %}
          </div>
        {% endfor %}
  </div>
  <div id="newproject" class="tab-pane fade">
     {% include 'project/new.html' %}
  </div>
</div><!-- /.tab-content -->


{% endblock %}

