<form action="{% url 'project-revert' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="panel-heading">
    <h4>Restore your project <strong>{{ project.name }}</strong> to a former state</h4>
  </div>
  {% if changedremote %}
    <p>There are some remote changes. Please update your project and see changes before trying to revert to a former state.</p>
  {% else %}
    <div class="panel-body">
      <select id="commitid" name="commitid" style="max-width: 100%">
        {% for commit in  commits %}
          <option value="{{ commit.commitid }}">{{ commit.date }} {{ commit.time }} ({{ commit.name }}) &nbsp; {{ commit.message }}  </option>
        {% endfor %}
      </select>
      <input type="hidden" name="project_id" value="{{ project.id }}" />
      <hr>
      <p>In your favour the following commands are issued in the project folder:</p>
      <code>
git reset<br>
git revert --no-commit &lt;latest id&gt;..&lt;next to selected id&gt;<br>
git checkout &lt;selected id&gt; .<br>
git commmit -m 'Revert "&lt;selected commit message&gt;"'<br>
git push
      </code>
    </div>    <!-- panel.body -->
    <div class="panel-footer">
      <input type="submit" name="button" value="Revert" class="btn btn-primary" />
      <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
    </div>
  {% endif %}
</form>

