<div id="project-settings-{{ project.id }}" class="modal fade modal-dialog" role="dialog" style="position: fixed; top: 0px; ">
  <div class="modal-content">
    <form id="project-settings-form-{{ project.id }}" class="form-horizontal" action="{% url 'project-settings' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="project_id" value="{{ project.id }}">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4>Settings of project <span style="font-weight: bold">{{ project.name }}</span></h4>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#pane_collaboration-{{ project.id }}" data-toggle="tab">Collaboration</a></li>
          <li><a href="#pane_image-{{ project.id }}" data-toggle="tab">Image</a></li>
          <li><a href="#pane_funvolume-{{ project.id }}" data-toggle="tab">Module volumes</a></li>
          <li><a href="#pane_stgvolume-{{ project.id }}" data-toggle="tab">Storage volumes</a></li>
          <li><a href="#pane_scope-{{ project.id }}" data-toggle="tab">Scope</a></li>
          <li><a href="#pane_deletion-{{ project.id }}" data-toggle="tab">Deletion</a></li>
        </ul>
        <div class="tab-content">
          <div id="pane_collaboration-{{ project.id }}" class="tab-pane fade in active">
            {% if project.owner == user %}
            {% include 'project/pane-collaboration.html' %}
            {% else %}
            <div class="alert alert-warning" role="alert">The owner of project {{ project.name }} is {{ project.owner.displayname }} ({{ project.owner.username }}). Please contact him/her to remove you from or add someone else to the collaboration.</div>
            {% endif %}
          </div>
          <div id="pane_image-{{ project.id }}" class="tab-pane fade">
            {% if project.owner == user %}
            {% include 'project/pane-image.html' %}
            {% else %}
            <div class="alert alert-warning" role="alert">The owner of project {{ project.name }} is {{ project.owner.displayname }} ({{ project.owner.username }}). Please contact him/her to change the image.</div>
            {% endif %}
          </div>
          <div id="pane_funvolume-{{ project.id }}" class="tab-pane fade">
            {% if project.owner == user %}
            {% include 'project/pane-functionalvolume.html' %}
            {% else %}
            <div class="alert alert-warning" role="alert">The owner of project {{ project.name }} is {{ project.owner.displayname }} ({{ project.owner.username }}). Please contact him/her to modify modules settings.</div>
            {% endif %}
          </div>
          <div id="pane_stgvolume-{{ project.id }}" class="tab-pane fade">
            {% if project.owner == user %}
            {% include 'project/pane-storagevolume.html' %}
            {% else %}
            <div class="alert alert-warning" role="alert">The owner of project {{ project.name }} is {{ project.owner.displayname }} ({{ project.owner.username }}). Please contact him/her to attach or remove some storage volumes.</div>
            {% endif %}
          </div>
          <div id="pane_scope-{{ project.id }}" class="tab-pane fade">
            {% if project.owner == user %}
            {% include 'project/pane-scope.html' %}
            {% else %}
            <div class="alert alert-warning" role="alert">Only the project owner {{ project.owner.displayname }} ({{ project.owner.username }}) can modify the scope.</div>
            {% endif %}
          </div>
          <div id="pane_deletion-{{ project.id }}" class="tab-pane fade">
            {% if project.owner == user %}
            <div class="alert alert-danger" role="alert">All unshared data related to this project are lost by the deletion.</div>
            <p>Are you are sure about it?</p>
            <button type="submit" class="btn btn-danger" name="button" value="delete"> Really delete</button>
            {% else %}
            <div class="alert alert-danger" role="alert">All unshared data related to this project are lost by quitting collaboration.</div>
            <p>Are you are sure about it?</p>
            <button type="submit" class="btn btn-danger" name="button" value="quit"> Really quit</button>
            {% endif %}
          </div>
        </div>   <!-- tab-content -->
      </div>     <!-- modal-body -->
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" name="button" value="apply"> Apply settings</button>
        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </form>
  </div>         <!-- modal-content -->
</div>           <!-- modal -->
