<div class="modal-content">
    <form action="{% url 'project-pull' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="panel-heading">
    <h4>Update your project <strong>{{ project.name }}</strong> to remote changes</h4>
  </div>
  {% if changedremote %}
    <div class="panel-body">
      <input type="hidden" name="project_id" value="{{ project.id }}" />
      <div class="alert alert-info">
        <p>In your favour the following commands are issued in the project folder:</p>
        <hr>
        <code> 
git pull
        </code>
      </div>
    </div>   <!-- panel-body -->
    <div class="panel-footer" style="text-align: left;">
      <input type="submit" name="button" value="Pull" class="btn btn-primary" />
      <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
    </div>   <!-- panel-footer -->
   {% else %}
     <div class="alert alert-warning">You have nothing to pull yet.</div>
   {% endif %}
</form>

</div>