{% extends "admin/index.html" %}
{% load i18n admin_static %}

{% block sidebar %}
{{ block.super }}

<div id="content-related">
    <div class="module">
        <a href="{% url 'refresh-images' %}" class="button" data-toggle="tooltip" title="Turn to docker API and refresh available images in the model.">Refresh Docker Images</a><br>
        <a href="{% url 'init-model' %}" class="button" data-toggle="tooltip" title="Make sure scope types and container types are defined in the model.">Initialize model types</a>
    </div>
</div>



{% endblock %}
