{% load widgets %}
{% load container_tags %}
{% load container_buttons %}
{% load static %}
{% load check_show %}

{# Render a card that represents a contaner #}
<div class="card bg-ligth shadow-2-strong border border-3 shadow-light bg-light {% if container.id %}border-success{%else%}border-warning{%endif%} mb-3" data-widget="containercard" data-id="{{container.id}}" data-search="{{container.search}}" data-search_what="container">
    <!-- Header -->
    <div class="card-header d-flex justify-content-start align-items-center {% if container.id %}border-success{%else%}border-warning{%endif%}">
	{% button_open container %}
        {% render_name container %}
	<div class="flex-grow-1"></div> <!-- Spacer to push the right button to the end -->
	{% button_stop container %}
    </div>
    
    <!-- Body -->
    <div class="card-body">
        <div class="row">
            <!-- Left Column -->
            <div class="col-md-6">
                <!-- Row 1 -->
                <div class="d-flex align-items-center mb-3">
                    {% button_teleport container %}
		    {% button_image container "container" "image" %}
                </div>
                <!-- Row 2 -->
                <div class="d-flex mb-3">
                    {% button_seafile container %}
                    {% button_mount container %}
                </div>
                <!-- Row 3 -->
                <div>
                    {% button_resources container %}
                </div>
            </div>
            
            <!-- Right Column -->
            <div class="col-md-6 d-flex flex-column">
                <!-- Row 1 -->
                <div class="d-flex align-items-center mb-3">
		    {% button_fetchlogs container %}
		    {% indicator_state container %}
                </div>
                <!-- Row 2 -->
                <div class="mb-3">{% button_restart container %}</div>
                <!-- Row 3 -->
                <div class="d-flex justify-content-end mt-auto">
		    {% include 'widgets/widget_savechanges.html' with pk=container.id obj="container" %}
                </div>
            </div>
        </div>
    </div>
    
    <!-- Footer -->
    <div class="card-footer d-flex justify-content-between {% if container.id %}border-success{%else%}border-warning{%endif%}">
      {% if container.id %}
        {% button_start container %}
	{% include 'widgets/widget_delete.html' with msg="Are you sure you want to drop your container?" tooltip="Delete container" link=container.link_drop obj=container %}
      {% else %}
        <div class="btn-placeholder p-1" style="visibility: hidden;">Placeholder</div>
      {% endif %}
    </div>
</div>
