{% extends "layout.html" %}
{% block title %}Kooplex Environments{% endblock %}

{% load static %}

{% block head_content %}
  <!-- bootstrap-toggler requirement -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
  <link href="{% static 'hub/css/inline.css' %}" rel="stylesheet">
  <link href="{% static 'hub/css/dropdown.css' %}" rel="stylesheet">
  <link href="{% static 'hub/css/cardlist.css' %}" rel="stylesheet">
{% endblock %}

{% block infoline %}
Environments are user workspaces with limited resources, attached volumes and projects. Multiple environments can run at the same time. <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/environmentpanel"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}


{# render the container cards #}
{% block content %}
{# new container create #}
<div id="newContainer" class="modal fade createcontainer-modal" tabindex="-1" aria-labelledby="containerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="containerModalLabel">Create a new environment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="container-fluid p-0" id="card-container-new">
                {% include 'container/card.html' with container=empty_container %}
              </div>
            </div>
        </div>
    </div>
</div>

<div id="listPane" class="d-flex flex-wrap justify-content-center gap-3">
    {% for container in containers %}
      <div class="card-container" id="card-container-{{ container.id }}">
        {% include 'container/card.html' %}
      </div>
    {% empty %}
      {% include 'empty.html' with empty_title="You have no envoronments yet." empty_p_before='Use the add (<i class="bi bi-plus border"></i>) button in the navbar to create your first environment.' %}
    {% endfor %}
</div>

{# a modal to configure a container image #}
{% include 'container/image_selection.html' with instance="container" %}

{# a modal to configure a container compute resources #}
{% include 'container/compute_resource_selection.html' with form=resource_form %}

{# a modal to configure a container filesystem resources #}
{% include 'container/file_resource_selection.html' with instance="container" %}

{# a modal to dump logs #}
{% include 'container/modal_logs.html' %}

{% endblock %}


{% block scripts %}
<script src="{% static 'container/js/fetchlogs.js' %}"></script>
<script src="{% static 'container/js/fileresource_selection.js' %}"></script>
<script src="{% static 'container/js/computeresource_selection.js' %}"></script>
<script src="{% static 'container/js/image_selection.js' %}"></script>
<script src="{% static 'container/js/controller.js' %}"></script>
<script src="{% static 'hub/js/buttons.js' %}"></script>
<script src="{% static 'hub/js/inline.js' %}"></script>
<script src="{% static 'hub/js/wss.js' %}"></script> {# FIXME: we could get rid of it if js export/import properly implemented #}
<script src="{% static 'hub/js/config_register.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    window.wss_conf_container = new ConfigHandler(opts = {
        endpoint: "{{ wss_container_config }}",
        userid: {{ user.id }},
        request: "configure-container",
        model: "container",
        required: [ "name", "image"],
    });
    window.inlineEditor = new InlineEditor(window.wss_conf_container);
    window.imageSelector = new ImageSelectionHandler(window.wss_conf_container);
    window.resourceSelector = new ComputeResourceHandler(window.wss_conf_container, opts = { wsEndpoint: "{{ wss_monitor_node }}"});
    window.mountSelector = new MountHandler(window.wss_conf_container);
    window.toggleButton = new ToggleButton(window.wss_conf_container);

    window.fetchLogs = new FetchLogs(opts = {
        endpoint: "{{ wss_container_fetchlog }}"
    });

    window.containerControl = new ContainerControl(opts = {
        endpoint: "{{ wss_container_control }}",
        userid: {{ user.id }}
    });

    window.openControl = new HoverDropDown();

    $("#add").on('click', function() {
      $("#newContainer").modal("show");
    })
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}
