{% load container_buttons %}

{% if containers|length %}
<table id="environmentControl-{{objectId}}">
    {% for container in containers %}
      <tr>
          <td>{% button_open container %}</td>
	  <td>{% button_start container %}</td>
          <td>{% button_stop container %}</td>
          <td>{% button_restart container %}</td>
          <td>{{ container.name }}</td>
          <td>{% indicator_state container %}</td>
      </tr>
    {% endfor %}
</table>
{% else %}
<button id="environmentControl-{{objectId}}"  class="btn btn-secondary btn-sm rounded rounded-5 border border-2 border-dark mb-2" data-id="{{pk}}" data-autoadd="container">
    <i class="bi bi-boxes pe-1"></i>Generate default environment
</button>
{% endif %}
