{% load widgets %}
{% load course_tags %}
{% load container_buttons %}

<div class="card rounded rounded-3 mb-3 border border-2 {% if course.id %}border-success{% else %}border-warning{% endif %} shadow-light bg-light" id="card-{{ course.id }}" data-widget="coursecard" data-id="{{course.id}}">
    <div class="card-header">
        {% render_name course %}
    </div>
    <div class="card-body">
	{% if course %}
        {% include 'education/multitabs.html' with pk=course.id %}
	{% else %}
        {% include 'education/multitabs.html' with pk='None' new=True %}
	{% endif%}
    </div>
</div>
