{% extends "layout.html" %}
{% block title %}Kooplex Courses{% endblock %}
{% load static %}

{% block infoline %}
For help on courses see the documentation <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/education" target="_blank"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{% block head_content %}
<link href="{% static 'education/css/course.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/dropdown.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/cardlist.css' %}" rel="stylesheet">
{% endblock %}


{# render the course cards #}
{% block content %}
<div id="listPane" class="d-flex flex-wrap justify-content-center gap-3">
    {% for ucb in coursebindinglist reversed %}
      <div class="card-container" id="card-container-{{ ucb.course.id }}">
        {% include 'education/course/card_student.html' with course=ucb.course t_assignments=ucb.assignments_table %}
      </div>
    {% empty %}
      {% include 'empty.html' with empty_title="You have not been added to a course yet." %}
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'container/js/environments.js' %}"></script>
<script src="{% static 'container/js/controller.js' %}"></script>
<script src="{% static 'hub/js/buttons.js' %}"></script>
<script src="{% static 'hub/js/wss.js' %}"></script>
<script src="{% static 'education/js/handin.js' %}"></script>
<script>
document.addEventListener('DOMContentLoaded', () => {
    window.fetchContainers = new FetchContainer(opts = {
        endpoint: "{{ wss_course_container }}",
        userid: {{user.id}}
    });

    window.containerControl = new ContainerControl(opts = {
        endpoint: "{{ wss_container_control }}",
        userid: {{ user.id }}
    });

    window.assignmentHadler = new AssignmentHandin(opts={
        endpoint: "{{ wss_handin }}",
        userid: {{ user.id }}
    });
});
</script>
{% endblock %}

