{% extends "app/layout.html" %}
{% block content %}

<div class="row">
  <div class=" col-md-10 col-sm-10 col-xs-12">
    <div class="panel panel-default ">
      <div class="panel-heading">
        <h4>Publish your work</h4>
      </div>    <!-- heading -->
      <div class="panel-body">
        <p>Notebooks can be published as static (html) or as interactive (dashboard) documents. These documents are available at the
           <a href="{% url 'reports' %}" target="_blank" >Reports</a> section.
        </p>
        <hr>
        {% if notebooks|length > 0  %}
        <p>Please select the notebook to publish as a new report:</p>
        <form action="{% url 'notebook-publishform' %}" method="post" class="form-horizontal">
          {% csrf_token %}
          <div class="form-group">
          {% for nbfile in notebooks %}
             <input type="radio" name="ipynb_file" value="{{ nbfile.fullpath }}" {% if forloop.first %} checked {% endif %} > {{ nbfile.filename }} ({{ nbfile.volume }})<br>
          {% endfor %}
          </div>
          <hr>
          <ul class="nav nav-tabs">
              <li class="active"><a href="#pane_desc" data-toggle="tab">Description</a></li>
              <li><a href="#pane_files" data-toggle="tab">Attach files</a></li>
              <li><a href="#pane_passwdNscope" data-toggle="tab">Password and scope</a></li>
              <li><a href="#pane_unpublish" data-toggle="tab">Unpublish</a></li>
          </ul>
          <div class="tab-content">
              <div id="pane_desc" class="tab-pane fade in active">
                <strong>Name of the report:</strong> <input type="text" name="report_name" /><br>
                <strong>Description:</strong> <textarea rows="6" cols="100" id="report_description" name="report_description"></textarea>
              </div>
              <div id="pane_files" class="tab-pane fade">
                {% if files %}
                Select those files to be attached to your report:
                <div class="form-group">
                  {% for file in files %}
                     <input type="checkbox" name="other_files" value="{{ file }}">
                     {% if file.is_dir %}
                     <span class="glyphicon glyphicon-folder-open">
                     {% else %}
                     <span class="glyphicon glyphicon-file">
                     {% endif %}
                     {{ file.filename }} ({{ file.volume }})</span><br>
                  {% endfor %}
                </div>
                {% else %}
                <div class="alert alert-warning" role="alert">There are no files you can attach.</div>
                {% endif %}
              </div>
              <div id="pane_passwdNscope" class="tab-pane fade">
                <strong>Password:</strong> <input type="text" class="form-control" id="password" name="password" placeholder="Leave blank toyield unrestricted access" /><br>
                <strong>Scope:</strong> <select name = "scope" class = "btn btn-default">
                  {% for scope in scopes %}
                  <option value="{{ scope.name }}">{{ scope }}</option>
                  {% endfor %}
                </select>
              </div>
              <div id="pane_unpublish" class="tab-pane fade">
                {% if reports %}
                <strong>Tick to remove:</strong><br>
                  {% for r in reports %}
                  <input type="checkbox" name="report2remove" value="{{ r.id }}">[{{ r.pretty_ts }}] ({{ r }} - {{ r.scope }}) <br>
                  {% endfor %}
                {% else %}
                <div class="alert alert-warning" role="alert">There are no former reports of this project yet.</div>
                {% endif %}
              </div>
          </div>   <!-- tab-content -->

          <div class="well">
            <ul>
              <li>The url to the <strong>latest report:</strong> <code>{{ base_url }}{% url 'report-openlatest' %}?project_id={{ project_id }}&amp;filename=<strong>your_chosen_file</strong></code>
              <li>The filename in the url should not contain any filename extension.
              <li>If no <strong>Name</strong> is provided for the report, it is automatically generated from the noteboook's filename.
              <li>Public reports can be protected by a password if you provide one under the <strong>Password</strong> tab.
              <li>File attachments are deployed only with dashboard reports.
            </ul>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                 <input type="hidden" name="project_id" value="{{ project_id }}" />
                 <input type="hidden" id="reports2remove" name="reports2remove" value="" />
                 <input type="submit" name="html" value="Convert to html" class="btn btn-default" />
                 <input type="submit" name="dashboard" value="Deploy as dashboard" class="btn btn-default" onClick="return empty()" />
              <input type="submit" name="cancel" value="Cancel" class="btn btn-default" />
            </div>   <!-- col -->
          </div>     <!-- form-group -->
        </form>
        {% else %}              
        <div class="alert alert-warning" role="alert">There is nothing to publish yet. Notebook files (with ipynb filename extension) are searched in your git directory, the the share directory and in the shares without recursion.</div>
        {% endif %}
      </div>         <!-- panel-body -->
    </div>           <!-- panel -->
  </div>             <!-- col -->
</div>               <!-- row -->

<script>
function empty() {
    var x;
    x = document.getElementById("password").value;
    if (x == "") {
        alert("Please enter a password.\nIt will have effect only at querying the report server...");
        return false;
    };
}
</script>

{% endblock %}
