{% load static %}

<!-- templates/widgets/environments.html -->
<div id="environmentsModal" class="modal fade environments-modal" tabindex="-1" aria-labelledby="environmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="environmentsModalLabel">Start, stop and access environments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
	        <table id="environmentControl">
	        </table>
            </div>
        </div>
    </div>
</div>


{# place in static/js #}
<script src="{% static 'js/container_buttons.js' %}"></script>
<script>
$(document).ready(function() {
    if (wsURLs.project_container) { //FIXME APP_INSTALLED
      sock_fetch_containers = open_ws(wsURLs['project_container'], refresh_environmenttable)
    } else if (wsURLs.course_container) {
      sock_fetch_containers = open_ws(wsURLs['course_container'], refresh_environmenttable)
    }
})

// wss callback handler
function refresh_environmenttable(message) {
  if (message.response) {
    $("#environmentControl").replaceWith(message.response)
  }
}


$(document).on('click', '[data-bs-target="#environmentsModal"]', function () {
  const objectId = $(this).data('id'); // Get the id from the button's data-id attribute
  $("#environmentControl").html('<div class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>')

  // Send the requested resource id via WebSocket to kooplex
  var data = {
      pk: objectId,
  }
  setTimeout(function() {
      sock_fetch_containers.send(JSON.stringify(data))
  }, 200)
})
</script>
