<!-- templates/widgets/image_selection.html -->
<div class="modal fade image-modal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Select Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
		    <div class="row">
                    <!-- List of images on the left -->
                    <div class="col-md-6">
                        <div class="list-group overflow-auto" id="image-list" style="max-height: 300px;" tabindex="0">
                            {% for image in images %}
                            <button class="list-group-item list-group-item-action image-item" 
                                    data-description="{{ image.description }}" 
				    data-thumbnail="{{ image.thumbnail.img_src }}"
                                    data-id="{{ image.id }}">
                                {{ image.hr }}
                            </button>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Description on the right -->
                    <div class="col-md-6">
                        <div class="card overflow-auto" style="max-height: 300px;">
                            <div class="card-body">
                                <div id="imageModalAlert" class="alert alert-danger d-none" role="alert">
                                  Current image is not available anymore.
                                </div>
                                <h5 class="card-title" id="image-name">Select an Image</h5>
                                <p class="card-text" id="image-description">Description will appear here.</p>
				<div class="d-flex align-items-end justify-content-end"><img id="image-thumbnail" class="float-end" alt=""></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm-image-selection">Confirm</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Dismiss</button>
            </div>
        </div>
    </div>
</div>

