{% if container.state == container.ST_RUNNING or container.state == conatiner.ST_NEED_RESTART %}
<button name="opencontainer" data-id="{{container.id}}" data-url="{{link}}" class="badge rounded-pill text-bg-success border p-2"
        data-toggle="tooltip" title="Jump to environment {{container.name}}">
  <span class="oi oi-external-link" aria-hidden="true"></span>
</button>
{% else %}
<button name="opencontainer" data-id="{{container.id}}" class="badge rounded-pill text-bg-secondary border p-2" name="default" disabled>
  <span class="oi oi-external-link" aria-hidden="true"></span>
</button>
{% endif %}

