<div id="container-resources-{{container.id}}"
      data-bs-toggle="tooltip" data-placement="bottom"
      title="Requested compute resources. Click to tune."
      data-node="{{node}}" data-cpurequest="{{cpurequest}}" data-gpurequest="{{gpurequest}}"
      data-memoryrequest="{{memoryrequest}}" data-idletime="{{idletime}}"
      onclick="ComputeResourceSelection.openModal('{{container.id}}', '{{node}}')">
  <button class="badge rounded-pill text-dark p-2 border border-1 border-dark w-100 text-start" role="button">
    <span class="{% if not node %}d-none{%endif%}" name="node"><i class="bi bi-pc me-1"></i><span name="node_name" class="me-2">{{node|truncatechars:6}}</span></span>
    <span class="{% if not cpurequest %}d-none{%endif%}" name"cpu"><i class="bi bi-cpu me-1"></i><span name="node_cpu_request" class="me-2">{{cpurequest}}</span></span>
    <span class="{% if not gpurequest %}d-none{%endif%}" name="gpu"><i class="bi bi-gpu-card me-1"></i><span name="node_gpu_request" class="me-2">{{gpurequest}}</span></span>
    <span class="{% if not memoryrequest %}d-none{%endif%}" name="mem"><i class="bi bi-memory me-1"></i><span name="node_mem_request" class="me-2">{{memoryrequest}} GB</span></span>
    <span class="{% if not idletime %}d-none{%endif%}" name="up"><i class="bi bi-clock-history me-1"></i><span name="node_idle" class="me-2">{{idletime}} h</span></span>
    <span class="{% if node or cpurequest or gpurequest or memoryrequest or idletime %}d-none{%endif%}" name="empty"><i class="bi bi-wrench-adjustable me-1"></i>default resources</span>
  </button>
</div>

