<div class="modal fade" id="about-contacts" tabindex="-1" role="dialog" aria-labelledby="titleAbout" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleAbout">Kooplex information</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="nav nav-tabs" id="myAboutTabs" role="tablist">
          <li class="nav-item"><a id="about-tab" class="nav-link active" href="#pane_about" data-toggle="tab">About</a></li>
          <li class="nav-item"><a id="contact-tab" class="nav-link" href="#pane_contact" data-toggle="tab">Contact</a></li>
        </ul>
        <div class="tab-content" id="myAboutTabContent">
          <div id="pane_about" class="tab-pane fade show active" role="tabpanel" aria-labelledby="about-tab">
            <div class="well">
              <p>Kooplex is developed by the <strong>Kooplex Team</strong>.</p>
              <p>It's purpose is to give easy access to large databases, facilitate collaboration between members and groups and explore effective workflows in research</p>
            </div>
          </div>
          <div id="pane_contact" class="tab-pane fade" role="tabpanel" aria-labelledby="contact-tab">
            <div class="well">
              <ul>
                <li>To reach the developers, please send a message to <strong>kooplex at complex.elte.hu</strong>.</li>
		<li>The official Kooplex page is at <a href="https://kooplex.github.io/" target="_blank">https://kooplex.github.io/</a></li>
                <li>
                  To report problems or buggy features, please, file an issue at
                  <a href="https://github.com/kooplex/kooplex-hub" target="_blank">https://github.com/kooplex/kooplex-hub</a>
                </li>
              </ul>
            </div>
          </div>
        </div>   <!-- tab-content -->
      </div>     <!-- model-body -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

