<div class="modal fade" id="update-bio" tabindex="-1" role="dialog" aria-labelledby="titleBiography" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleBiography">Update your profile</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="profile" class="form-horizontal" action="{% url 'user:updateprofile' next_page %}" method="post">
      {% csrf_token %}
        <div class="modal-body">
          <table>
            {{ f_bio.as_table }}
          </table>
          <input type="hidden" name="user_id" value="{{ user.id }}">
        </div>     <!-- modal-body -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-default" name="button" value="apply"> Apply</button>
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>       <!-- modal-content -->
  </div>         <!-- modal-dialog -->
</div>           <!-- modal -->
