  {# fixme #}
<style>
.myoverlaybase {
position: relative;
}
.myoverlay {
position: absolute;
top: 0;
left: 0;
}
.carousel-indicators {
        bottom: -4.2375rem;
    }


</style>




<div class="modal fade modal-lg row" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div  class="col-3">
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
  </div> 
   <div class="modal-dialog modal-dialog-centered col-8">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel"><span class="bi bi-question-circle"></span>&nbsp;Help: Home page</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body row">
<div id="carouselExampleIndicators" data-ride="carousel" class="carousel slide" data-interval="0">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
  </div>
  <div class="carousel-inner">
  <div>
    <div class="carousel-item active">
		<p>This is the Kooplex home screen. Note on the bottom informs you about the status of the platform. In the top-right corner there is Help, Messages and Profile: Acess your profile, documentation and get to know more about our work at Kooplex.</p> 
	 <div class="container-fluid myoverlaybase">
          <img class="w-100" src="/static/printhome_hhome.png" alt="help home">
        </div>
    </div>
    <div class="carousel-item">
		<p>Messages appear in the lower right corner informing you about the success or failure of your last operations. </p> 
	 <div class="container-fluid myoverlaybase">
          <img class="w-100" src="/static/printhome_hmessage.png" alt="help home">
        </div>
    </div>
    <div class="carousel-item">
         <p>Environment: Create a new Environment (virtual machine), configure/launch etc. your notebook and report Environments. </p>    
         <div class="container-fluid myoverlaybase">
          <img class="w-100" src="/static/printhome_ienvironment.png" alt="help home">
        </div>
    </div>
    <div class="carousel-item">
      <p>Project: Adds collaborative features to Environments.</p>
      <div class="container-fluid myoverlaybase">
        <img class="w-100" src="/static/printhome_iproject.png" alt="help home">
      </div>
              </div>
    <div class="carousel-item">
      <p> Report: You can publish static or interactive Reports for a larger audience.</p>
      <div class="container-fluid myoverlaybase">
        <img class="w-100" src="/static/printhome_ireport.png" alt="help home">
      </div>
              </div>
    <div class="carousel-item">
      <p>Education: Add course features to Environments and create/handle Assignments.</p>
      <div class="container-fluid myoverlaybase">
        <img class="w-100" src="/static/printhome_ieducation.png" alt="help home">
      </div>
              </div>
    <div class="carousel-item">
      <p>Storage: Create or list Attachments and configure data Volumes.</p>
      {#<img class="w-100" src="/static/printhome_environment.png" alt="print home">#}
      <img class="w-100" src="/static/printhome_istorage.png" alt="help home">
    </div>
    <div class="carousel-item">
      <p>Monitoring: Gives an overview about the computational resources. </p>    
      <div class="container-fluid myoverlaybase">
        <img class="w-100" src="/static/printhome_hmonitoring.png" alt="help home">
      </div>
    </div>
  </div>
</div>
</div>
        </div>
      </div>
    </div>
    <div  class="col-3">
      <button class="right carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <a class="btn btn-dark"  data-toggle="tooltip" title="Help" data-placement="bottom" data-bs-toggle="modal" href="#exampleModalToggle" role="button"><span class="oi oi-question-mark"></span></a>  
