<div class="dropdown">
  <li class="nav-item {{ active }}">
     <a href="{% url 'service:list' %}" class="nav-link" data-toggle="tooltip" title="List and manage your service environments, also know as containers" data-placement="bottom">Environments</a>
  </li>
  <div class="dropdown-content" aria-labelledby="navbarDropdownContainer">
    <a href="#" data-toggle="modal" data-target="#container-new">New environment</a>
    <a href="{% url 'service:list' %}">List environments</a>
  </div>
</div>
{% include "container/new.html" %}
