  <li class="nav-item {{ active }}">
      <a href="{% url 'service_external:filesync' %}" class="nav-link" data-toggle="tooltip" title="Manage file synchronization and version control" data-placement="bottom">Services</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownService" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownService">
      <a class="dropdown-item" href="{% url 'service_external:filesync' %}" rel="noreferrer">Synchronized Files</a>
      <a class="dropdown-item" href="{% url 'service_external:versioncontrol' %}" rel="noreferrer">Repositories</a>
      <hr>
      <a class="dropdown-item" href="/seafile/" rel="noreferrer" target="blank"><span class="oi oi-external-link" aria-hidden="true"> Seafile</span></a>
      <a class="dropdown-item" href="/gitea/user/login" rel="noreferrer" target="blank"><span class="oi oi-external-link" aria-hidden="true"> Gitea</span></a>
    </div>
  </li>

