<li class="nav-item dropdown {{ active }}">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Projects
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownProject">
   {% if user.profile.can_createproject %}
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#project-new">New project</a></li>
   {% endif %}
    <li><a class="dropdown-item" href="{% url 'project:list' %}">List projects</a></li>
    <li><a class="dropdown-item" href="{% url 'project:join' %}">Join a project</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'project:showhide' %}">Show/hide projects</a></li>
  </ul>
</li>
{% if user.profile.can_createproject %}
  {% include "project/new.html" %}
{% endif %}
