  <li class="nav-item {{ active }}">
      <a href="{% url 'volume:list' %}" class="nav-link" data-toggle="tooltip" title="List and manage your volumes" data-placement="bottom">Volumes</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContainer" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownContainer">
      <a class="dropdown-item" href="{% url 'volume:new' %}">New volume</a>
      <a class="dropdown-item" href="{% url 'volume:list' %}">List Volumes</a>
    </div>
  </li>
