<style>
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}
</style>


<div class="dropdown">
  <li class="nav-item {{ active }}">
    <a href="{% url 'project:list' %}" class="nav-link" data-toggle="tooltip" title="List and manage your projects" data-placement="bottom">Projects</a>
  </li>
  <div class="dropdown-content" aria-labelledby="navbarDropdownProject">
{% if user.profile.can_createproject %}
      <a href="#" data-toggle="modal" data-target="#project-new">New project</a>
{% endif %}
      <a href="{% url 'project:join' %}">Join a project</a>
      <a href="{% url 'project:list' %}">List projects</a>
      <a href="{% url 'project:showhide' %}">Show/hide projects</a>
  </div>
</div>
{% if user.profile.can_createproject %}
  {% include "project/new.html" %}
{% endif %}
