{% if messages %}
<div class="card"> 
  <div class="card-body">
    <h5 class="card-title">Messages</h5>
    {% for message in messages %}
      {% if message.level == 25 %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
	  <strong>Success</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if message.level == 20 %}
        <div class="alert alert-info alert-dismissible fade show" role="alert">
	  <strong>Info</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if message.level == 30 %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <strong>Warning:</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
      {% if message.level == 40 %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
	  <strong>Error:</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
