{% for message in messages %}
  {% if message.level == 25 %}
      <div class="alert alert-success">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
         {{ message }}
      </div>
  {% endif %}
  {% if message.level == 20 %}
      <div class="alert alert-info">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
         <strong>Info: </strong>  {{ message }}
      </div>
  {% endif %}
  {% if message.level == 30 %}
      <div class="alert alert-warning">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
         <strong>Warning!</strong>  {{ message }}
      </div>
  {% endif %}
  {% if message.level == 40 %}
      <div class="alert alert-danger">
         <a href="#" class="close" data-dismiss="alert">&times;</a>
         <strong>ERROR!</strong>  {{ message }}
      </div>
  {% endif %}
{% endfor %}
