{% extends "layout.html" %}
{% block page_title %}Monitoring{% endblock %}

{% block pagedescription %}
	 Some stats from kubernetes metrics and the resource usage of your environments (<a href="https://xwiki.vo.elte.hu/en/kooplex-manual/monitoring">see manual</a>).
{% endblock %}

{% load static %}
{% block submenu %}
<ul class="navbar-nav flex-row flex-md-row">
  <li class="ms-3 nav-item text-center">
	  <a data-toggle="tooltip" title="Simple node overview" data-placement="bottom" class="nav-link {% if submenu == 'simple' %}active border-2 border-bottom{% endif %}" href=""><i class="bi bi-bag-plus"></i><span class="d-md-block d-none">&nbsp;Simple view</span></a>
  </li>
</ul>
{% endblock %}


<script>
  var hidden = false;
  function action() {
      hidden = !hidden;
      if(hidden) {
          document.getElementById('togglee').style.visibility = 'hidden';
      } else {
          document.getElementById('togglee').style.visibility = 'visible';
      }
  }
</script>


{% block bodycontent %}
<div class="m-2" style="height: calc(100vh - 105px); overflow-y: scroll; overflow-x:hidden;">
  <div class="container" style="display:none;" id="myAlert">
    <div class="alert alert-warning alert-dismissable" id="myAlert2">
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      Dear Kooplex users! We are interested in your opinion about Kooplex in order to improve our platform. Our team would appreciate if you could have five minutes to answer this quick and anonymous questionnaire by <a href="https://forms.gle/cJ52qSQNN8kUKXpL9" target="_blank" class="alert-link" id="toggler" value="Toggler" onClick="action();">clicking here</a>. Thank you!
    </div>
    </div>
<div class="container-fluid ms-1" style="overflow-x:hidden;">
{% block realcontent %}
  <div id="simple">
  </div>
  <div id="simple">
    <!--div class="row">
    	<iframe src="https://monitoring.vo.elte.hu/grafana/d/ZhxFwBz4k/node-overview-simple-rows?orgId=1&from=1659610945771&to=1659614545772"	height="600" width="1100" frameborder="0"></iframe>
    </div>
  </div>
  <div id="all">
    <div class="row">
    	<iframe src="https://monitoring.vo.elte.hu/grafana/d/aE-v7Bk4z/node-overview?orgId=1&refresh=5m&from=1659611026026&to=1659614626026"	height="600" width="1100" frameborder="0"></iframe>
    </div-->
  </div>
{% endblock %}
</div>
{% endblock %}
