{% include 'about.html' %}
{% if user.is_authenticated %}
  {% include 'bio.html' %}
  {% include 'usertokens.html' %}
{% endif %}

<ul class="navbar-nav navbar-right">
  <li class="nav-item">
    <a class="nav-link" href="/manual/" target="_blank">Documentation </a>
  </li>

  <div class="dropdown">
    <li class="nav-item">
      <a class="nav-link" href="#" role="button">
    {% if user.is_authenticated %}
      Hello {{ user.first_name }}!
    {% else %}
      Help
    {% endif %}
      </a>
    </li>
    <div class="dropdown-content" aria-labelledby="navbarDropdownProfile">
    {% if user.is_authenticated %}
      <a href="{% url 'logout' %}">Logout <span class="oi oi-account-logout"></span></a>
      <a href="#" data-toggle="modal" data-target="#update-bio">Update bio</a>
      <a href="#" data-toggle="modal" data-target="#reset-token">Manage secrets</a>
      <div class="dropdown-divider"></div>
    {% endif %}
      <a href="https://github.com/kooplex/kooplex-hub/wiki" target="_blank">Kooplex Hub Wiki</a>
      <a href="#" data-toggle="modal" data-target="#about-contacts">Contacts and about</a>
    </div>
  </div>
  <li class="nav-item">
  {% if user.is_authenticated %}
    <a class="nav-link" href="{% url 'do_logout' %}">Log off <span class="oi oi-account-logout"></span></a>
  {% else %}
    <a class="nav-link" href="{% url 'social:begin' 'hydraoidc' %}" style="color: white">Log in <span class="oi oi-account-login"></span></a>
  {% endif %}
  </li>
</ul>
