{% if search_form %}
<div class="card">
  {% if search_form.extra %}
  <form id="searchForm" class="form-horizontal form-control card-body" action="{% url search_form.action search_form.extra %}" method="post">
  {% else %}
  <form id="searchForm" class="form-horizontal form-control card-body" action="{% url search_form.action %}" method="post">
  {% endif %}
    {% csrf_token %}
    <h6 class="card-header">Narrow selection</h6>
    <div class="card-body">
      {% for i in search_form.items %}
        <input type="text" name="{{ i.name }}" placeholder="{{ i.placeholder }}" value="{{ i.value }}" data-toggle="tooltip" title="Enter {{ i.placeholder }}" data-placement="top"><br>
      {% endfor %}
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary" name="button" value="search"><span class="oi oi-magnifying-glass" aria-hidden="true"></span> Search</button>
    </div>
  </form>
</div>
{% endif %}
