{% extends "layout.html" %}
{% block page_title %}Kooplex Home ??{% endblock %}

{% block help %} 
{% include 'homehelp.html' %}
  {% endblock %}

{% load static %}

{% block bodycontent %}

<div class="container mt-4">
	{% include 'widgets/card_tokens.html' %}
</div>

<div class="container mt-4">
	{% include 'widgets/widget_resources.html' %}
</div>

<script>
const wsURLs = {
  tokens: "{{ wss_token_config }}",
  nodes: "{{ wss_resources }}",
}
</script>
<script src="{% static 'js/wss.js' %}"></script>
<script src="{% static 'js/tokens.js' %}"></script>
{% endblock %}

  
