<div class="modal fade" id="reset-token" tabindex="-1" role="dialog" aria-labelledby="titleResetToken" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleResetToken">Manege secrets</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form id="reset_token" class="form-horizontal" {#action="{% url 'user:managetokens' next_page %}" method="post" #}>
      {% csrf_token %}
        <div class="modal-body">
          You can request a new token to access your notebook servers
        </div>     <!-- modal-body -->
        <div class="modal-footer">
	  <button class="btn btn-danger" name="button" value="reset_notebook_token">Reset token</button>
          <button class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>       <!-- modal-content -->
  </div>         <!-- modal-dialog -->
</div>           <!-- modal -->
