{% extends "app/layout.html" %}

{% block content %}

{% if admin %}


<div class="container">  

 <ul class="nav nav-tabs">    
  <li class="active"><a data-toggle="tab" href="#home">Running containers</a></li>    
  <li><a data-toggle="tab" href="#menu1">Users</a></li> 
  <li><a data-toggle="tab" href="#menu2">Projects</a></li> 
  <li><a data-toggle="tab" href="#menu3">Groups</a></li>
     <li><a data-toggle="tab" href="#menu4">Add user</a></li>
 </ul>  

 <div class="tab-content">    
 
  <div id="home" class="tab-pane fade in active">      
   <div class="projects">
    <div class="projects running-containers">
     
     <h2>Running containers</h2>
     {% for item in notebooks %}

      <p><span  style="padding-right: 50px;"><b>{{ item.name }}</b></span>
      {% if item.is_stopped %}
            <a href="{% url 'container-start' %}?notebook_id={{ item.id }}&session_id={{ item.id }}"><span class="button start">
            <img src="http://findicons.com/files/icons/811/developer_kit/128/play.png" width="21px">
            Start</span></a>
       {%  else %}
            <a href="{% url 'container-stop' %}?notebook_id={{ item.id }}&session_id={{ item.id }}"><span class="button stop">
            <img src="http://www.iconshock.com/img_jpg/PLASTICXP/general/jpg/128/stop_icon.jpg" width="21px"> Stop</span></a>
       {% endif %}

      <a href="{% url 'container-delete' %}?notebook_id={{ item.id }}&session_id={{ item.id }}">
      <span class="button
       delete" style="margin-right:15px;">
       <img src="http://image.flaticon.com/icons/png/128/61/61391.png"
       width="21px">Delete
      {% comment %}
       {% if process %}
       <img
       src="https://media.giphy.com/media/7eygrJEkHFHEY/giphy.gif"  width="30px">
       {% endif %}
     {% endcomment %}
        </span></a>
    {% if item.is_stopped %}       
       <b> Container is stopped </b>
    {% else %}
       <b> Container is running </b>
    {% endif %}
    </p>
      {% for session in sessions %}
        {%  if session.container_name == item.name %}
            <div class="session running">
                <p><span  style="padding-right: 50px;"><b>{{ session.notebook_path }}</b></span>
                
                {% if item.is_stopped %}
                   <span class="button  stop">container stopped</span>
                {% else %}
                  <a href="{{ session.external_url }}" target="_blank"><span class="button open"><img src="http://findicons.com/files/icons/1938/xp_icandy_1/128/open_folder_yellow.png"
                  width="21px">Open</span></a>
                {% endif %}
                </p>
            </div>  
        {% endif %}
      {% endfor %}
      
{% endfor %} 
  </div>    
  </div>    
 </div>
 
    <div id="menu1" class="tab-pane fade projects my">     
     <h2> Users </h2>


     {% for user in users %}
     <div style="margin: 10px;">
       
       <div class="panel-group">
        <div class="panel panel-default">
         <div class="panel-heading">
          <h4 class="panel-title">
           <a data-toggle="collapse" href="#{{ user.id }}"> {{ user.username }}
           - {{ user.id }} </a>
          </h4>
         </div>
        <div id="{{ user.id }}" class="panel-collapse collapse">
         <div class="panel-body">
             {{ user }}
         </div>
         <div class="panel-footer">
                <h4> Is admin: {{ user.is_admin }}</h4>
              <h4> Last sign in: {{ user.last_sign_in_at }}</h4>
         </div>
        </div>
       </div>
      </div>

     </div>
     {% endfor %}
    </div>    


    <div id="menu2" class="tab-pane fade projects my">     
     <h2> Projects </h2>


     {% for project in projects %}
     <div style="margin: 10px;">
       
       <div class="panel-group">
        <div class="panel panel-default">
         <div class="panel-heading">
          <h4 class="panel-title">
           <a data-toggle="collapse" href="#{{ project.id }}"> {{ project.name }} </a>
          </h4>
         </div>
        <div id="{{ project.id }}" class="panel-collapse collapse">
         <div class="panel-body">
             {{ project }}        
         </div>
         <div class="panel-footer">
                <h4> Project members: </h4>
           {% for member in project.members %} 
           <p>Name: {{ member.name }}, Id: {{ member.id }}, Access Level: {{ member.access }}  </p>
           {% endfor %}
              <h4> Membergroups </h4>
           {% for group in project.shared_with_groups %} 
           <p><strong>Name: {{ group.group_name }}, Id: {{ group.group_id }}, Access Level: {{ group.group_access_level }}
               </strong></p>
          {% endfor %}
         </div>
        </div>
       </div>
      </div>

    </div>    
    {% endfor %}
  </div>  

    <div id="menu3" class="tab-pane fade projects my">     
     <h2> Groups </h2>


     {% for group in groups %}
     <div style="margin: 10px;">
 
      <div class="panel-group">
       <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
           <a data-toggle="collapse" href="#{{ group.id }}"> {{ group.name }} - {{ group.id }} </a>
          </h4>
         </div>
        <div id="{{ group.id }}" class="panel-collapse collapse">
         <div class="panel-body">
             {{ group }}
         </div>
         <div class="panel-footer">
            <h4> Group members:: </h4>
            {% for member in group.members %} 
            <p>Name: {{ member.name }}, Id: {{ member.id }}, Access Level: {{ member.access }}  </p>
            {% endfor %}
         
         </div>
        </div>
       </div>
      </div>

     </div>    
     {% endfor %}
   </div>

 <div id="menu4" class="tab-pane fade projects my">
     <h2> Add user </h2>
    <section id="AdduserForm">
            <form action="." method="post" class="form-horizontal">
                {% csrf_token %}
                <hr />
                <div class="form-group">
                    <label for="username" class="col-md-2 control-label">User name</label>
                    <div class="col-md-10">
                        {{ form.username }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="first_name" class="col-md-2 control-label">First name</label>
                    <div class="col-md-10">
                        {{ form.firstname }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="last_name" class="col-md-2 control-label">Last name</label>
                    <div class="col-md-10">
                        {{ form.lastname }}
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_password" class="col-md-2 control-label">Password</label>
                    <div class="col-md-10">
                        {{ form.password }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next" value="{{ next_page }}" />
                        <input type="submit" value="Add user" class="btn btn-default" />
                    </div>
                </div>
                {% if form.errors %}
                <p class="validation-summary-errors">Please enter a correct user name and password.</p>
                {% endif %}
            </form>
        </section>


   </div>

 </div>
</div>

{% endif %}

{% endblock %}

{%  comment %}
{% block scripts %}

    {% load staticfiles %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>
{% endblock %}
{%  endcomment %}