{% extends "app/layout.html" %}

{% block content %}

<h2>Create Merge Request</h2>
<div class="row">
    <div class="col-md-8">
        <section id="mergeRequestForm">
            <form action="{% url 'notebooks-mergerequestform' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title" class="col-md-2 control-label">Title: </label>
                    <div class="col-md-10">
                        <input id="id_message" type="text" name="title" value="Title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="id_description" class="col-md-2 control-label">Description: </label>
                    <div class="col-md-10">
                        <input id="id_message" type="text" name="description" value="Description">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="hidden" name="next_page" value="{{ next_page }}" />
                        <input type="hidden" name="project_id" value="{{ project_id }}" />
                        <input type="hidden" name="target_id" value="{{ target_id }}" />
                        <input type="submit" value="Submit" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </section>
    </div>
</div>

{% endblock %}