{% extends "app/layout.html" %}

{% block content %}

<h2>Opened Merge Requests:</h2>
{% for item in mergerequests %}
    <hr/>
    <p>The merge request <b>'{{ item.title }}'</b> created by <i>{{ item.author.name }}</i> at <i>{{ item.created_at }}</i></p>
    <p>{{ item.description }}</p>
    <p>
    {% if item.merge_status == "can_be_merged" %}
        can be <a href="{% url 'notebooks-acceptmergerequest' %}?project_id={{ item.project_id }}&mergerequestid={{ item.id }}">merged</a>
    {% else %}
        cannot be merged
    {% endif %}
    | see the details in <a href="{{ base_url }}/gitlab/{{ path_with_namespace }}/merge_requests/{{ item.id }}/diffs">Gitlab</a>
    </p>
{% endfor %}

{% endblock %}