<label for="project_template">Choose a template for your project</label><br>
<select id="project_template" name="project_template">
  {% for image in notebook_images %}
  <option value="image={{ image }}" style="background-color: silver">{{ image }} (empty)</option>
  {% endfor %}
  {% for project in shared_with_me_projects %}
  <option value="clonable_project={{ project }}" style="background-color: gray">{{ project }}</option>
  {% endfor %}
  {% for project in public_projects %}
  <option value="clonable_project={{ project }}" style="background-color: lightgray">{{ project }}</option>
  {% endfor %}
</select><br>

<br>
<br>
<div class="panel panel-success">
  <div class="panel-heading">
    <a data-toggle="collapse"  href="#collapse-help-template" style="text-decoration: none; color: gray">
      <span class="glyphicon  glyphicon-question-sign"></span> Help <span
      class="glyphicon glyphicon-option-horizontal"></span>
    </a>
  </div>
<div id="collapse-help-template" class="panel-collapse collapse">
  <div class="panel-body">
    <strong>Images</strong> are the bases for the containers in which you can work 
    <ul>
    <li> The <code>basic</code> image provides your project with all the necessary
    packages  </li>
    <li> If you select a template then in addition to the <code>basic</code> image
    you will start with notebooks and other utils that has been used for
    that project.</li>
    
    </ul>
  </div>
 </div>
</div>
