<!-- Modal -->
<div id="notebook-warning-stop" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title" class="panel-success">Stop container to activate button!</h4>
            </div>
            <div class="modal-footer">
                 <button type="button" class="close" data-dismiss="modal">Dismiss</button>

            </div>
    </div>

  </div>
</div>

<div id="notebook-warning-start" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
            {% csrf_token %}
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
                 <h4 class="modal-title" class="panel-success">Start container to activate button!</h4>
            </div>
            <div class="modal-footer">
                 <button type="button" class="close" data-dismiss="modal">Dismiss</button>

            </div>
    </div>

  </div>
</div>