<!-- Modal -->
<div id="repo-commit-{{ item.name }}" tabindex="-1" class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">


        <section id="commitForm">
            <form action="{% url 'notebooks-commit' %}" method="post" class="form-horizontal" onsubmit="collectCheckedElements()">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Commit Changes</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_message" class="col-md-4 control-label">Commit message: </label>
                                    <div class="col-md-8">
                                        <input id="id_message" type="text" name="message" value="Update the project file(s)">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4> Files to commit:</h4>
                                <div class="form-group">
                                    {% for committable in item.committable_dict.d %}
                                        <input type="checkbox" value="deleted" name="{{ committable }}">
                                        {{ committable }} (deleted)<br>
                                    {% endfor %}
                                    {% for committable in item.committable_dict.m %}
                                        <input type="checkbox" value="modified" name="{{ committable }}">
                                        {{ committable }} (modified)<br>
                                    {% endfor %}
                                    {% for committable in item.committable_dict.u %}
                                        <input type="checkbox" value="untracted" name="{{ committable }}">
                                        {{ committable }} (untracted/renamed/new)<br>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>

                        <div class="modal-footer">

                            <div class="form-group">
                                    <input type="hidden" name="repo_dir" value="{{ item.repo_dir }}" />
                                    <input type="hidden" name="project_name" value="{{ item.notebook.project_name }}" />
                                    <input type="hidden" name="is_forked" value="{{ is_forked }}" />
                                    <input type="hidden" name="project_id" value="{{ item.id }}" />
                                    <input type="hidden" name="target_id" value="{{ target_id }}" />
                                    <input type="hidden" name="notebook_path_dir" value="{{ notebook_path_dir }}" />
                                    <input type="hidden" name="modified_files" value="" />
                                    <input type="hidden" name="deleted_files" value="" />
                                    <input type="hidden" name="commitall" value="false" />

                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <input type="submit" name="commitall" value="Commit and push" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </div>
  </div>
</div>


    <script>
        function collectCheckedElements() {
            var inputs = document.getElementsByTagName("input");
            var modified_files = "";
            var deleted_files = "";
            for (var i = 1; i < inputs.length; i++) {
                if (inputs[i].type == "checkbox") {
                    if (inputs[i].checked) {
                        if (inputs[i].value == "deleted") {
                            deleted_files += "'" + inputs[i].name + "',";
                        } else {
                            modified_files += "'" + inputs[i].name + "',";
                        }
                        inputs[i].disabled = true;
                    }
                }
            }
            if (modified_files.length > 0) {
                modified_files = modified_files.substring(0, modified_files.length - 1);
            }
            if (deleted_files.length > 0) {
                deleted_files = deleted_files.substring(0, deleted_files.length - 1);
            }
            document.getElementsByName("modified_files")[0].value = modified_files;
            document.getElementsByName("deleted_files")[0].value = deleted_files;
        }
    </script>

