{% if volumes %}
<label>Select volumes to attach to your project</label><br>
{% for volume in volumes %}
<input type="checkbox" name="vol={{ volume }}" value="{{ volume }}">{{ volume }}
<br>
{% endfor %}

{% endif %}

{% if vlomues and bindings %}
<hr>
{% endif %}

{% if bindings %}
<label>Select shared storages to associate with your project</label><br>
{% for binding in bindings %}
<input type="checkbox" name="mp={{ binding.mountpoint.id }}" value="{{ binding.mountpoint.id }}">{{ binding.mountpoint.name }}
  {% if binding.rw_ %}
(grant write access <input type="checkbox" name="mprw={{ binding.mountpoint.id }}" value="{{ binding.mountpoint.id }}">)
  {% else %}
(read only access)
  {% endif %}<br>
{% endfor %}
{% endif %}

