{% extends "app/layout.html" %}


{% block content %}


<div class="container">

<div class="row">
<div class=" col-md-9 col-sm-9 col-xs-9">
<nav class="navbar navbar-default">
 <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% if username %}
            <li class="active" data-toggle="tab" href="#running"><a href="#running">Running containers </a></li>
            <li><a href="#myprojects" data-toggle="tab" href="#myprojects">My projects</a></li>
            <li><a href="#otherprojects" data-toggle="tab" href="#otherprojects">Other public projects</a></li>
          {% endif %}

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
<div class=" col-md-3 col-sm-3 col-xs-3">
      {% if username %}
          {% include 'app/notebooks-new-partial.html' with myprojects=True %}
        <a href="#" data-toggle="modal" data-target="#project-new"><button type="button" class="btn btn-lg  btn-primary navbar-btn">Start new project </button></a>
        {%  if errors %}
        <script>
        $(document).ready(function () {

        $('#project-new').modal('show');
        });
        </script>
        {% endif %}
      {% endif %}
</div>
</div>


 <div class="tab-content">

  {% if username %}
    <div id="running" class="tab-pane fade in active ">
        {% for item in projects %}
            {% if item.running %}
                {% include 'app/project-partial.html' %}
            {% endif %}
        {% endfor %}
    </div>

    <div id="myprojects" class="tab-pane fade">
        {% for item in projects %}
            {% include 'app/project-partial.html' %}
        {% endfor %}
    </div>
 {% endif %}


 <div id="otherprojects" class="tab-pane fade projects ">

     {% for item in public_projects %}
    {% if item.owner.username != username %}
        {% include 'app/project-partial.html' with publicvar=True %}
    {% endif %}
    {% endfor %}
    </div>


 </div>
</div>

{% endblock %}
