<form action="{% url 'notebooks-revert' %}" method="post" class="form-horizontal">
  {% csrf_token %}
  <div class="panel-heading">
    <h4>Restore your project <strong>{{ project.name }}</strong> to a former state</h4>
  </div>
  <div class="panel-body">
    <div class="panel-body">
      <select id="commitid" name="commitid">
        {% for commit in  commits %}
          <option value="{{ commit.id }}">{{ commit.kdate }} {{ commit.ktime }} {{ commit.ktime_zone }} ({{ commit.committer_name }}) &nbsp; {{ commit.title }}  </option>
        {% endfor %}
      </select>
      <input type="hidden" name="project_id" value="{{ project.id }}" />
    </div>    <!-- panel.body -->
    <div class="panel-footer">
      <input type="submit" name="revert" value="Revert" class="btn btn-primary" />
      <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" />
    </div>
</form>

