{% extends "app/layout.html" %}

{% block content %}

 <div class="row">
    <section id="commitForm">
        {% if otherusers %}
        <form action="{% url 'project-members-modify' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Add users to {{ project.name }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4> Members</h4>
                                <div class="form-group">
                                    {% for user in otherusers %}
                                        <input type="checkbox" name="user_id[{{ user.gitlab_id }}]" value="True">
                                        {{ user.gitlab_id }} {{ user.first_name }} {{ user.last_name }} ({{ user.username }})
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: left;">
                                <input type="hidden" name="project_id" value="{{ project.id }}" />
                                <input type="submit" name="button" value="Add" class="btn btn-primary" />
                                <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
        </form>
        {% endif %}
        {% if currentmembers %}
        <form action="{% url 'project-members-modify' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Remove members from {{ project.name }}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4> Members</h4>
                                <div class="form-group">
                                    {% for member in currentmembers %}
                                        <input type="checkbox" name="user_id[{{ member.gitlab_id }}]" value="True" />
                                        {{ member.gitlab_id }} {{ member.first_name }} {{ member.last_name }} ({{ member.username }})
                                        <br>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="form-group" style="text-align: left;">
                                <input type="hidden" name="project_id" value="{{ project.id }}" />
                                <input type="submit" name="button" value="Remove" class="btn btn-primary" />
                                <input type="submit" name="button" value="Cancel" class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
        </form>
        {% endif %}
        </section>
    </div>

{% endblock %}
