{% extends "app/layout.html" %}

{% block content %}
{% if user.is_superuser %}
 <div class="row">

        <section id="commitForm">
            <form action="{% url 'usermanagement-add' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Add a new user</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">

                                <h4> User details:</h4>
                                <div class="form-group">
                                    First name: <input type="text" name="firstname">
                                    Last name: <input type="text" name="lastname">
                                    Username: <input type="text" name="username">
                                    E-mail: <input type="text" name="email">
                                    Be an admin: <input type="checkbox" value="False" unchecked name="isadmin">
                                    <input type="submit" name="button" value="Add" class="btn btn-primary" />
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </div>


 <div class="row">

        <section id="commitForm">
            <form action="{% url 'usermanagement-delete' %}" method="post" class="form-horizontal">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Delete a new user</h4>
                    </div>
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-12">

                                <h4> User details:</h4>
                                <div class="form-group">
                                  {% for user in users %}
                                    {{ user.first_name }} {{ user.last_name }}
                                    <input type="submit" name="button" value="{{ user.username }}" class="btn btn-primary" />
<br>
                                  {% endfor %}
                            </div>
                        </div>

                    </div>
                </div>
            </form>
        </section>
    </div>
{% endif %}
{% endblock %}
