{% extends "app/layout.html" %}

{% block content %}

<div class="container">

<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<nav class="navbar navbar-default">
 <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% if username %}
                <li class="active" ><a href="#myreports" data-toggle="tab">My reports</a></li>
                <li><a href="#mydashboards" data-toggle="tab">My dashboards</a></li>
          {% endif %}


          {% if username %}
              <li><a href="#publicreports" data-toggle="tab" >Public reports </a></li>
          {% else %}
              <li class="active"><a href="#publicreports" data-toggle="tab" >Public reports </a></li>
          {% endif %}
          <li><a href="#publicdashboards" data-toggle="tab" >Public dashboards </a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>


 <div class="tab-content">

     <div id="myreports" class="tab-pane fade in active">
     <div class="row">
         {% for item in reports %}
             {% if username == item.creator_name %}
                {% include 'app/worksheet-partial.html' with publicvar=False %}
             {% endif %}
         {% endfor %}
     </div>
     </div>
     <div id="mydashboards" class="tab-pane fade">
     <div class="row">
         {% for item in dashboards %}
            {% if username == item.creator_name %}
                {% include 'app/worksheet-partial.html' with publicvar=False %}
            {% endif %}
         {% endfor %}
     </div>
     </div>

     {% if username %}
        <div id="publicreports" class="tab-pane fade">
     {% else %}
        <div id="publicreports" class="tab-pane fade in active">
     {% endif %}
     <div class="row">
         {% for item in reports %}
             {% if item.public %}
                {% if username != item.creator_name %}
                    {% include 'app/worksheet-partial.html' with publicvar=True %}
                 {% endif %}
             {% endif %}
         {% endfor %}
     </div>
     </div>
     <div id="publicdashboards" class="tab-pane fade">
     <div class="row">
         {% for item in dashboards %}
             {% if item.public %}
                {% if username != item.creator_name %}
                    {% include 'app/worksheet-partial.html' with publicvar=True %}
                {% endif %}
             {% endif %}
         {% endfor %}
     </div>
     </div>
 </div>
 
</div>

{% endblock %}
