<div class=" col-md-6 col-sm-6 col-xs-12">
<div class="panel panel-default ">
    <div class="panel-heading">
        <h4><strong>{{ item.name  }}</strong> - {{ item.creator_name }} - {{ item.file_name }}</h4>
    </div>
    <div class="panel-body">
                <div class="projects worksheet" style="text-align: center;">
                <a href="{{ item.url_ }}" target="_blank">
                    <img src="{{ item.picture }}"  style="max-height: 200px; max-width: 100%;"></a>

                    <p> {{ item.description }} </p>
                    <div>
                        <a href="{{ item.url_ }}" target="_blank">
                                    <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open</button></a>
                        {%  if pane == 'mine' %}
                                <a href="{% url 'worksheet-unpublish' %}?report_id={{ item.id }}">

                            <button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Unpublish</button></a>
                       <form class="form-horizontal" action="{% url 'reportschangescope' %}" method = "post">
{% csrf_token %}
                        <select name = "scope">
                            <option value="private" {% if item.scope == 'private' %} selected {% endif %}>private</option>
                            <option value="internal" {% if item.scope == 'internal' %} selected {% endif %}>internal</option>
                            <option value="public" {% if item.scope == 'public' %} selected {% endif %}>public</option>
                        </select>
                            <input type = "hidden"  name = "report_id" value = "{{ item.id }}">
                            <button type="submit" class="btn btn-warning"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Apply scope</button>
</form>
                        {% endif  %}
                    </div>
                </div>
    </div>
</div>
</div>

