{% for r in reports %}
  {% include 'app/reports-settings.html' %}
{% endfor %}
{% if item.type == 'dashboard' %}
<div class="panel panel-success ">
{% else %}
<div class="panel panel-default ">
{% endif %}
{% with reports|first as item %}
  <div class="panel-heading">
    <a href="{{ item.url_ }}" target="_blank">
      <button type="button" class="btn btn-info"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span> Open</button>
    </a>
    <a data-toggle="collapse" href="#collapse{{ item.id }}{{ pane }}" style="text-decoration: none; color: gray">
      <strong>{{ item.name  }} [{{ item.ts_ }}]</strong> - {{ item.creator_name }} - {{ item.file_name }}
    </a>
  </div>
  <div id="collapse{{ item.id }}{{ pane }}" class="panel-collapse collapse">
    <div class="panel-body">
      <div class="projects worksheet">
        <a href="{{ item.url_ }}" target="_blank">
          <img src="{{ item.picture }}"  style="max-height: 200px; max-width: 100%;">
        </a>
        <div class="well">
          <p><strong>Project description:</strong>{{ project.description }}
          <p><strong>Report description (latest):</strong>{{ item.description }}
        {% if pane == 'mine' %}
          <p><strong>Url to the latest report:</strong><code>{% url 'worksheet-open-latest' %}?project_id={{ project.id }}</code>
        {% endif %}
        </div>
        <form action="{% url 'reportformer' %}" method="post">
          {% csrf_token %}
          <label>Former reports</label>
          <select id='report_id{{ project.id }}'>
        {% for r in reports %}
          <option value="{{ r.id }}">[{{ r.ts_ }}] {{ r.description }}</option>
        {% endfor %}
          </select>
          <button type="submit" class="btn btn-info" data-toggle="tooltip" title="Open a former report" data-placement="top"><span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></button>
      {% if pane == 'mine' %}
          <button type="button" class="btn btn-info" data-toggle="tooltip" title="Report settings" data-placement="top" onclick="settings({{ project.id }});"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></button>
      {% endif  %}
        </form>
      </div>    <!-- projects -->
    </div>      <!-- panel body -->
  </div>        <!-- collapse -->
{% endwith %}
</div>        <!-- panel -->

<script type="text/javascript">
function settings(project_id) {
  var report_id;
  report_id = document.getElementById('report_id' + project_id).value;
  $('#report-settings-' + report_id).modal('show');
}
</script>
