{% extends "app/layout.html" %}

{% block content %}

<div class="container">

<div class="row">
<div class="col-md-9 col-sm-9 col-xs-9">
<nav class="navbar navbar-default">
 <div class="container-fluid">


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% if username %}

                <li class="active" ><a href="#my" data-toggle="tab">My reports</a></li>
                <li><a href="#public" data-toggle="tab" >Public reports </a></li>
          {% else %}
                <li class="active" ><a href="#public" data-toggle="tab" >Public reports </a></li>

          {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>
</div>


 <div class="tab-content">

     <div id="my" class="tab-pane fade in active">
              {% include 'app/worksheet-partial.html' with publicvar=False %}
     </div>

     <div id="public" class="tab-pane fade">
            {% include 'app/worksheet-partial.html' with publicvar=True %}
     </div>
 </div>
 
</div>

{% endblock %}
