{% load course_buttons %}
<div data-tab="individual">
{% if assignments|length %}
<table class="table" style="width: max-content">
    <thead>
    	<tr>
    		<td>Student</td>
    		{% for a in assignments %}
    		<td>{{a.name}}</td>
    		{% endfor %}
    	</tr>
    </thead>
    <tbody>
    	{% for s in students %}
    	<tr>
		<td><span data-bs-toggle="tooltip" title="{{s.username}}">{{s.last_name}}, {{s.first_name}} ({{s.username}})</span></td>
    		{% for a in assignments %}
    		<td>
    		  {% get_uabind_value bindings s.id a.id %}
    		</td>
    		{% endfor %}
    	</tr>
    	{% endfor %}
    </tbody>
</table>

<div class="d-flex justify-content-end">
  <button type="submit" data-submit="individual" class="badge rounded-pill bg-warning shadow-sm text-dark p-2 border border-secondary">
    <i class="bi bi-arrow-right-square me-1"></i>Trigger
  </button>
</div>
{% else %}
<p>There are no assignments you can hand out or collect per students.</p>
{% endif %}
</div>
