{% extends 'storage_layout.html' %}
{% load static %}
{% load extras %}

{% block realcontent %}
<div class="container mt-2">
  <form id="attachment_update" class="form-horizontal was-validated card bg-light border-secondary shadow p-3" action="{% url 'container:configure_attachment' attachment_id %}" method="post">
   {% csrf_token %}
   {% title "Update the details of attachment" %}
   <table>
     {{ form.as_table }}
   </table>
   {% for hidden in form.hidden_fields %}
     {{ hidden }}
   {% endfor %}
    {% apply_cancel %}
  </form>
</div>
{% endblock %}
