{% extends "volume_layout.html" %}

{% load static %}

{% block pagedescription %}
A volume is the place for storing large, read-only datasets and user created storages for e.g. tools and test datasets. <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/storages"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{% block bodycontent %}
{# the search bar #}
{% if volumes %}
<div class="card border border-light border-3 mx-5 mb-3 rounded-3">
  <div class="input-group">
    <span class="input-group-text"><span class="bi bi-search"></span></span>
    <input class="form-control" type="text" id="search_volume" placeholder="Search volume" title="Type in a folder" autofocus >
  </div>
</div>
{% endif %}

{# render the volume cards #}
{% if volumes|length %}
  <div class="row row-cols-4">
    {% for volume in volumes %}
      <div class="col" id="hideable-volume-{{ volume.id }}">
        {% include 'volume_partial_list.html' %}
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include 'empty.html' %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
{# on click show modal #}
$("div[id^=hideable-volume-]").click(function() {
  // console.log( this );
  var obj_id = $( this ).attr("id").split("-", 3)[2];
  $("#volumeInfoModal-" + obj_id).modal('show');
});
</script>
{% endblock %}
