{% load extras %}
{% block style %}
<style>
  @media all and (min-width: 991px) {
    .go{ display: none; }
  }
  
  </style>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="margin-left:auto; margin-right:auto;" class="badge go bg-secondary dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContainer" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white; font-weight: bold;">Environments</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownContainer">
      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#volume-new" style="color:black">New volume</a></li>
      <li><a {% if submenu == 'list' %} class="nav-link" href="#" {% else %} class="dropdown-item" href="{% url 'volume:list' %}" {% endif %} style="color:black">List volumes</a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSubmenu">
     <div class="col-3">
      <div style="margin-left: 30px;"><h5><span class="badge bg-secondary">{{ title }}</span></h5></div>
    </div>
     <div class="col-8">
        <ul class="navbar-nav mr-auto" style="margin-left: 110px;" id="shown_volumes">
		{% comment %} FIXME: volume -- volume {% endcomment %}
          <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#volume-new">New volume</a></li>
          <li class="nav-item"><a {% if submenu == 'list' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'volume:list' %}" {% endif %}>List volumes</a></li>
        </ul>
     </div>
     <div class="col-1" style="margin-left: -10px;">
       <div class="justify-content-end">
    <div style="margin-left: 5px; margin-top: 2px">
	  {#% layout_flip user.profile.layout_volume_list 'volume:layout_flip' %#}
  </div>
       </div>
     </div>
  </div>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Messages</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'message.html' %}
      </div>
    </div>
  </div>
</div>
</nav>
