{% extends "storage_layout.html" %}

{% load static %}

{% block realcontent %}
<input class="form-control me-2 mb-3 mt-3" type="text" id="search_volume" placeholder="Search volume" title="Type in a name" autofocus >

<div id="volumeListPane" >
    {% for uvb in uservolumebindingslist  %}
      {% include 'volume_partial_list.html' with next_page='volume:list' volume=uvb.volume volumecontainerbindings=uvb.volumecontainerbindings is_admin=uvb.is_admin %}
    {% endfor %}
</div>    
{% endblock %}

{% block scripts %}
<script>
$("#search_volume").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $("input[id^='volume-dump-'").each(function() {
  console.log( this );
    var volumeid = $( this ).attr('id').split('-')[2];
    var hide_it = true;
    var card = $("#card-" + volumeid);
    if (pattern.length > 0) {
      var name = $( this ).attr("value").toUpperCase();
      if ( name.indexOf(pattern) > -1 ) {
        hide_it = false;
      }
    } else {
      hide_it = false;
    }
    if (hide_it) {
      $( card ).hide();
    } else {
      $( card ).show();
    }
  });
});
</script>
{% endblock %}

