{% extends "volume_layout.html" %}
{% load render_table from django_tables2 %}
{% load extras %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<div class="container" style="overflow-x:hidden;">
  <div id="volumeConfogTabs" class="card shadow p-3 mt-3 bg-light rounded">
<form id="volume-manage" class="form-horizontal" action="{% url 'volume:configure' volume.id %}" method="post">
{% csrf_token %}

  {% title_with_button "You are now configuring <em>" volume.name "</em> volume" %}
  <ul class="nav nav-tabs" id="volumeConfigTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "meta" %}active{% endif %}" id="tab-meta" data-bs-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="{% if active == "meta" %}true{% else %}false{% endif %}">Meta</a>
    </li>
    <li class="nav-item" role="presentation">
      {% if is_attachment %}
        <a class="nav-link mytab disabled" id="tab-share" data-bs-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="false">Share</a>
      {% else %}
        <a class="nav-link mytab {% if active == "share" %}active{% endif %}" id="tab-share" data-bs-toggle="tab" href="#share" role="tab" aria-controls="share" aria-selected="{% if active == "share" %}true{% else %}false{% endif %}">Share</a>
      {% endif %}
    </li>
    {#FIXME: ADD delete/leave tab #}
  </ul>
  <div class="tab-content" id="volumeConfigTabsContent">
    <div class="tab-pane fade {% if active == "meta" %}show active{% endif %}" id="meta" role="tabpanel" aria-labelledby="tab-meta">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <div class="tab-pane fade {% if active == "share" %}show active{% endif %}" id="share" role="tabpanel" aria-labelledby="tab-share">
      <div class="d-flex flex-row align-items-baseline">
        <div class="flex-fill w-100 me-1">
          <input class="form-control me-2 mb-3 mt-3" type="text" id="search_Ucollaborator" placeholder="Search collaborator" title="Type in a name">
          {% if form.t_users %}
            {% render_table form.t_users %}
          {% endif %}
        </div>
        <div class="flex-fill w-100 mb-1">
          {% if form.t_collaborators %}
            {% render_table form.t_collaborators %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>  
{# check if widget belongs to collaborator table #}
function tc(obj) {
  return $(obj).parent().parent().parent().parent().attr('id') === 'collaborators';
}

{# catch submit event, in order to fill properly the share volume information #}
$("#volume-manage").submit(function (e) {
  bindings = $.map($("input[name=uservolumebinding_id]"), function (k, v) { if (tc(k)) { return $(k).val(); } });
  bind_users = $.map($("input[name=user_id]"), function (k, v) { if (tc(k)) { return $(k).val(); } });
  admin_users = $.map($("input[id^=admin-]"), function (k, v) { if (tc($(k).parent().parent())) { if ($(k).prop('checked')) { return $(k).val() } }; }); 
  $("#id_shared").val(JSON.stringify( {
    'bindings': bindings,
    'bind_users': bind_users,
    'admin_users': admin_users
  }));
});

$("#volumeConfigTabs li a").on("click", function () {
  var tab = $( this ).attr("id").split('-')[1]
  console.log( tab )
  $.cookie("configure_volume_tab", tab, { 'path': '/;SameSite=Strict', 'secure': true });
});

$(document).ready(function() {
  $("#users").find("th").text("Users");
});

{# handle clicking on table rows #}
$("span[id^='userid-'").click(function() {
  userid = $( this ).attr("id").split("-", 2)[1];
  w_admin = $("#admintoggler-" + userid);
  tr = $( this ).parent().parent();
  table_id = tr.parent().parent().attr("id");
  console.log( table_id );
  if (table_id === "users") {
    other_table = $("#collaborators");
    w_admin.removeClass("d-none");
  } else {
    other_table = $("#users");
    w_admin.addClass("d-none");
  }
  other_table.children("tbody").append(tr);
});

{# hide all table rows except for those matching #}
function is_visible_callback(obj, obj_id, is_empty, is_found) {
  if (obj != 'Ucollaborator') {
    return true; 
  }
  if (is_empty) {
    return false;
  }
  return is_found;
}
{# trigger set_visibility #}
$("#search_Ucollaborator").keyup();
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}


