{% load extras %}


<div class="card bg-light rounded rounded-3 mb-3 shadow-light card-fixed d-flex flex-column" id="card-{{ volume.id }}">
  <div class="card-header py-2">
    {{ volume.render_scope_html }}
    {{ volume.folder }}
  </div>

  <div class="card-body">
    <!-- long content here will scroll vertically -->
    {{ volume.description }}
    <!-- etc. -->
  </div>

  {% if volume.owner != user %}
    <div class="card-footer py-2" data-toggle="tooltip" title="{{volume.render_admins}}">
      Created by {{ volume.owner }}
    </div>
  {% endif %}
</div>

