{% extends 'volume_layout.html' %}

{% block realcontent %}
<div class="container mt-2"id="volume-new" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titleNewVolume" aria-hidden="true">
  <form id="service_new" class="form-horizontal" action="{% url 'volume:new' %}" method="post">
    <h5>Describe your new project</h5>
    {% csrf_token %}
    <table>
		  {#% {{ f_environment_meta.as_table }} %#}
          </table>
          <input type="hidden" name="user_id" value="{{ user.id }}">
        </div>
        <div class="modal-footer">
      {% apply_cancel label_apply="Create" icon_apply="bi bi-check-circle-fill" color_apply="btn-success" %}
        </div>
  </form>
</div>
{% endblock %}




{% comment %}
<div class="modal fade shadow" id="volume-new" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titleNewVolume" aria-hidden="true">
  <div class="modal-dialog shadow bg-light p-1 mb-5  rounded">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleNewVolume">Name your new volume</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="service_new" class="form-horizontal" action="{% url 'volume:new' %}" method="post">
       {% csrf_token %}
        <div class="modal-body">
          <table>
		  {#% {{ f_environment_meta.as_table }} %#}
          </table>
          <input type="hidden" name="user_id" value="{{ user.id }}">
        </div>
        <div class="modal-footer">
          {% include 'apply_cancel.html' with modal=True apply='Create' %}
        </div>
      </form>
    </div>
  </div>
</div>
{% endcomment %}
