{% comment %}
{% extends "layout.html" %}

{% block page_title %}Kooplex Volume{% endblock %}


{% load static %}
{% load project_buttons %}


{% block submenu %}
<ul class="navbar-nav flex-row flex-md-row">
  <li class="ms-3 nav-item text-center">
    <a data-toggle="tooltip" title="New volume" data-placement="bottom" {% if submenu == 'new' %} class="nav-link" href="#" {% else %} class="nav-link active border-2 border-bottom" href="{% url 'volume:new' %}" {% endif %} ><i class="bi bi-bag-plus"></i><span class="d-none d-sm-block">&nbsp;New</span></a>
  </li>
  <li class="ms-3 nav-item text-center">
    <a data-toggle="tooltip" title="List volume" data-placement="bottom" {% if submenu == 'list' %} class="nav-link" href="#" {% else %} class="nav-link active border-2 border-bottom" href="{% url 'volume:list' %}" {% endif %}><i class="bi bi-bag-dash"></i><span class="d-none d-sm-block">&nbsp;List volume</span></a>
  </li>
</ul>
{% endblock %}


{% block bodycontent %}
<div class="container mt-4">
{% block realcontent %}
  <div class="card shadow p-3 mb-2 mt-3 bg-light rounded"> 
    <h6 class="card-title">Nothing interesting</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
{% endblock %}
</div>
{% endblock %}
{% endcomment %}}

DEPRECATED in favor of storage_layout (in container/templates)
