{% extends "layout.html" %}

{% block submenu %}
  {% include 'container/service_submenu.html' with title="List of your service environments" submenu="list" %}
{% endblock %}

{% block main_content_center %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for service in services %}
     {% include 'container/partial.html' %}
  {% endfor %}
</div>
{% endblock %}

{% block main_content_right %}
  {% include 'container/hint_list.html' %}
{% endblock %}

{% block navsearch %}
<form class="d-flex" action="{% url 'service:l_search' %}" method="post">
  {% csrf_token %}
  <input class="form-control me-2" type="search" name="service" placeholder="Search environment" 
    {% if search_value %}  
      value="{{ search_value }}" 
    {% endif %}  
      aria-label="Search">
  <button class="btn btn-outline-secondary" type="submit" name="button" value="search">Search</button>
</form>
{% endblock %}
