<div class="modal fade shadow" id="container-new" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titleNewContainer" aria-hidden="true">
  <div class="modal-dialog shadow bg-light p-1 mb-5  rounded">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleNewContainer">Name your new service environment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="service_new" class="form-horizontal" action="{% url 'service:new' %}" method="post">
       {% csrf_token %}
        <div class="modal-body">
          <table>
            {{ f_environment_meta.as_table }}
          </table>
          <input type="hidden" name="user_id" value="{{ user.id }}">
        </div>
        <div class="modal-footer">
          {% include 'apply_cancel.html' with modal=True apply='Create' %}
        </div>
      </form>
    </div>
  </div>
</div>
