<div class="card bg-light border-secondary shadow mb-3">
  <div class="card-header">
    <div class="row">
      <div class="col-1">
        {% if service.state == service.ST_NEED_RESTART %}
          <a href="{% url 'service:restart' service.id next_page %}" role="button" class="btn btn-warning btn-sm" data-toggle="tooltip" title="Restart inconsistent environment {{ service.name }}"><span class="bi bi-bootstrap-reboot" aria-hidden="true"></span></a>
        {% else %}
          {% include 'container/startopen.html' with service=service next_page="service:list" %}
        {% endif %}
      </div>
      <div class="col-11" data-bs-toggle="collapse" data-bs-target="#collapse-{{ service.id }}" aria-expanded="false" aria-controls="collapse-{{ service.id }}">
        {{ service.name }}
        <div class="float-end">
          {% if service.state == service.ST_NEED_RESTART %}
          <span class="badge rounded-pill bg-danger"><i class="ri-image-2-line"></i>{{ service.image }}</span>
          {% elif service.state == service.ST_RUNNING  %}
            <span class="badge rounded-pill bg-success"><i class="ri-image-2-line"></i>{{ service.image }}</span>
          {% else %}
            <span class="badge rounded-pill bg-secondary"><i class="ri-image-2-line"></i>{{ service.image }}</span>
          {% endif %}
        </div>
      </div>
    </div>
  </div> <!-- card header -->
  <div class="collapse" id="collapse-{{ service.id }}">
    <div class="card card-body">
      <p class="card-text"><strong>Information:</strong>
          {% if service.projects|length > 0 %}
          <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Projects:
{% for p in service.projects %}
{{ p.name }} ({{ p.description }})
{% endfor %}" data-placement="top"><i class="ri-product-hunt-line"></i> {{service.projects|length}}</span>
	  {% elif service.report %}
	  <span class="badge rounded-pill bg-secondary" aria-hidden="true" data-bs-toggle="tooltip" 
		title="Report service environment for {{ service.report.name }}"
                data-placement="top"><i class="oi oi-graph"></i> {{service.report.name}}</span>
	  {% else %}
	  <span class="badge rounded-pill bg-warning"><i class="oi oi-warning"></i>
            Not bound to any projects.
          </span>
          {% endif %}
          {% if service.synced_libraries|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Synchron folders:
{% for l in service.synced_libraries %}
{{ l.library_name }} from server {{ l.token.syncserver.url }}
{% endfor %}" data-placement="top"><i class="ri-refresh-fill"></i> {{service.synced_libraries|length}}</span>
          {% endif %}
          {% if service.repos|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Version control repositories:
{% for r in service.repos %}
{{ r.project_name }} from server {{ r.token.repository.url }}
{% endfor %}" data-placement="top"><i class="ri-git-repository-line"></i> {{service.repos|length}}</span>
          {% endif %}
          {% if service.volumes|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Volumes:
{% for v in service.volumes %}
{{ v }} ({{ v.description }})
{% endfor %}" data-placement="top"><i class="ri-database-2-line"></i> {{service.volumes|length}}</span>
          {% endif %}
      </p>
      {% if service.restart_reasons %}
      <p class="card-text">
          <div class="alert alert-warning" role="alert">
            <strong>Needs restart:</strong> {{ service.restart_reasons }}
          </div>
      </p>
      {% endif %}
      {% if service.last_message %}
        <p class="card-text"><strong>Last message:</strong> {{ service.last_message }}</p>
      {% endif %}
      <div class="float-end">
        {% include 'container/startopen.html' with service=service next_page="service:list" %}
        {% include 'container/stopremove.html' with service=service next_page="service:list" %}
	<a href="{% url 'service:refreshlogs' service.id %}" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-reload" aria-hidden="true" data-toggle="tooltip" title="Refresh service information (last message)" data-placement="bottom"></span></a>
        {% if not service.report %}
	  {% if service.state == service.ST_STARTING %}
            <a href="#" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-wrench disabled" aria-hidden="true" data-toggle="tooltip" title="Your service is still starting up, cannot configure right now" data-placement="bottom"></span></a>
	  {% else %}
            <a href="{% url 'service:configure' service.id %}" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-wrench" aria-hidden="true" data-toggle="tooltip" title="Add/remove project to the service" data-placement="bottom"></span></a>
	  {% endif %}
          <a href="{% url 'service:destroy' service.id next_page %}" role="button" class="btn btn-danger btn-sm"><span class="oi oi-fire" aria-hidden="true" data-toggle="tooltip" title="Remove {{ service.name }}"></span></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

