<div class="col">
  <div class="card text-dark bg-light">
{% comment %}
    <img src="..." class="card-img-top" alt="...">
{% endcomment %}
    <div class="card-body">
      <h5 class="card-title">
        {% if service.state == service.ST_NEED_RESTART %}
        <span class="badge rounded-pill bg-danger"><strong>{{ service.name }}</strong>: <i class="ri-image-2-line" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Service image is {{ service.image }}"></i></span>
        {% elif service.state == service.ST_RUNNING  %}
          <span class="badge rounded-pill bg-success"><strong>{{ service.name }}</strong>: <i class="ri-image-2-line" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Service image is {{ service.image }}"></i></span>
        {% else %}
          <span class="badge rounded-pill bg-secondary"><strong>{{ service.name }}</strong>: <i class="ri-image-2-line" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Service image is {{ service.image }}"></i></span>
        {% endif %}
      </h5>
      <p class="card-text"><strong>Information:</strong>
          {% if service.projects|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Projects:
 for p in service.projects %}
{{ p.name }} ({{ p.description }})
 endfor %}" data-placement="top"><i class="ri-product-hunt-line"></i>: {{service.projects|length}}</span>
          {% endif %}
          {% if service.synced_libraries|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Synchron folders:
 for l in service.synced_libraries %}
{{ l.library_name }} from server {{ l.token.syncserver.url }}
 endfor %}" data-placement="top"><i class="ri-refresh-fill"></i>: {{service.synced_libraries|length}}</span>
          {% endif %}
          {% if service.repos|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Version control repositories:
 for r in service.repos %}
{{ r.project_name }} from server {{ r.token.repository.url }}
 endfor %}" data-placement="top"><i class="ri-git-repository-line"></i>: {{service.repos|length}}</span>
          {% endif %}
          {% if service.volumes|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Volumes:
 for v in service.volumes %}
{{ v }} ({{ v.description }})
 endfor %}" data-placement="top"><i class="ri-database-2-line"></i>: {{service.volumes|length}}</span>
          {% endif %}
      </p>
      <p class="card-text">
        {% if service.restart_reasons %}
          <div class="alert alert-warning" role="alert">
            <strong>Needs restart:</strong> {{ service.restart_reasons }}
          </div>
        {% endif %}
      </p>
      {% if service.last_message %}
        <p class="card-text"><strong>Last message:</strong> {{ service.last_message }}
          <a href="{% url 'service:refreshlogs' service.id %}" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-reload" aria-hidden="true" data-toggle="tooltip" title="Refresh service information" data-placement="bottom"></span></a>
	</p>
      {% endif %}
      <p class="card-text"><strong>Control:</strong>
        {% include 'container/startopen.html' with service=service next_page="service:list" label_open="Open" label_start="Start" %}
        {% include 'container/stopremove.html' with service=service next_page="service:list" %}
        {% if service.report %}
          <a href="#" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-wrench disabled" aria-hidden="true" data-toggle="tooltip" title="TODO: attach volume" data-placement="bottom"></span></a>
          <a href="#" role="button" class="btn btn-danger btn-sm"><span class="oi oi-fire disabled" aria-hidden="true" data-toggle="tooltip" title="Remove report {{ service.report.name }} to get rid of service environment {{ service.name }}"></span></a>
        {% else %}
          <a href="{% url 'service:configure' service.id %}" role="button" class="btn btn-secondary btn-sm"><span class="oi oi-wrench" aria-hidden="true" data-toggle="tooltip" title="Add/remove project to the service" data-placement="bottom"></span></a>
          <a href="{% url 'service:destroy' service.id next_page %}" role="button" class="btn btn-danger btn-sm"><span class="oi oi-fire" aria-hidden="true" data-toggle="tooltip" title="Remove {{ service.name }}"></span></a>
        {% endif %}
      </p>
    </div>
  </div>
</div>

