{% if service.state == service.ST_RUNNING %}
  <a href="{% url 'service:open' service.id next_page %}" target="_blank" role="button" class="btn btn-success" data-toggle="tooltip" title="Access environment {{ service.name }}">
    <span class="oi oi-external-link" aria-hidden="true">{{ label_open }}</span></a>
{% elif service.state == service.ST_NEED_RESTART %}
  <a href="{% url 'service:open' service.id next_page %}" target="_blank" role="button" class="btn btn-warning" data-toggle="tooltip" title="Access inconsistent environment {{ service.name }}">
    <span class="oi oi-external-link" aria-hidden="true">{{ label_open }}</span></a>
{% elif service.state == service.ST_ERROR %}
  <a href="#" role="button" class="btn btn-outline-warning disabled" data-toggle="tooltip" title="Access erronous environment {{ service.name }}">
    <span class="oi oi-flash" aria-hidden="true">{{ label_open }}</span></a>
{% else %}
  <a href="{% url 'service:start' service.id next_page %}" role="button" class="btn btn-outline-secondary" data-toggle="tooltip" title="Start environment {{ service.name }}">
    <span class="oi oi-flash" aria-hidden="true">{{ label_start }}</span></a>
{% endif %}
