{% if container %}
  {% if container.is_running %}
     <a href="{% url 'container:stop' container.id %}">
       <button role="button" type="button" class="btn btn-success" style="padding: 3px 6px 6px 6px">
       <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"/></button>
     </a>
  {% else %}
     <a href="{% url 'container:remove' container.id %}">
       <button role="button" type="button" class="btn btn-danger" style="padding: 3px 6px 6px 6px">
       <span class="glyphicon glyphicon-fire" aria-hidden="true"/></button>
     </a>
  {% endif %}
{% else %}
     <a href="#">
       <button role="button" type="button" class="btn btn-default" style="padding: 3px 6px 6px 6px">
       <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"/></button>
     </a>
{% endif %}

