{% extends "app/layout.html" %}

{% block content %}

<h2>My running notebooks</h2>
{% for item in notebooks %}
    <p>Container: <b>{{ item.name }}</b></p>
    <p>shut down</p>
{% endfor %}

{% for item in sessions %}
    <p><b>{{ item.notebook_path }}</b></p>
    <p><a href="{{ item.external_url }}">open</a> | shut down</p>
{% endfor %}

<h2>Start new notebook</h2>

{% include 'app/notebooks-new-partial.html' %}

<p><button type="button" class="btn btn-default" data-toggle="modal" data-target="#notebooks-new">Start new notebook &raquo;</button></p>

<h2>Public notebooks</h2>
{% for item in projects %}
    {% include 'app/project-partial.html'  %}
{% endfor %}

{% endblock %}
