{% extends "layout.html" %}

{% block header_extra %}

<!--script src="https://kit.fontawesome.com/27d0a7c7d0.js"></script-->
<link rel="stylesheet" href="/static/fontawesome-free-5.10.2-web/css/all.css">

<style>
.card-header .btn-vmi.collapsed:before {
    content:"\f105";
}
.card-header .btn-vmi:before {
    font-weight:900;
   content:"\f107";
    padding-right: 4px;
}
.card-header .btn:hover, 
.card-header .btn:active, 
.card-header .btn:focus  {
    text-decoration:none;
}

/* Container holding the image and the text */
.kept-cont {
	position: relative;
	text-align: center;
	color: white;
}
/* Bottom left text */
.bottom-left {
	position: absolute;
	top: 30px;
	left: 10%;
}
</style>
{% endblock %}

{% block submenu %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <h5><span class="badge badge-secondary">The list of volumes</span></h5>
      <h5 class="hmm" style="padding-left: 30px">Volumes... </h5>
</div>
{% endblock %}

{% block main_content_left %}
<form id="volumeListSettingsForm" class="form-horizontal form-control" action="{% url 'volume:filter_volumes' %}" method="post">
	{% csrf_token %}

        <div  class="alert alert-secondary">
            <input type="text" name="name" placeholder="name" value="{{ search_name }}" size="28">
	    <input type="hidden" name="pager" value="{{ pager }}">
	    <input type="hidden" name="sort" value="{{ sort }}">
	</div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="search"> Search</button>
      <button type="submit" class="btn btn-default" name="button" value="showall">Show all</button>
    </div>

</form>
{% endblock %}
{% block main_content_center %}
{% comment %}
{% for directory_name, volumes  in volume_cats.items %}
		<h4><span class="label label-default">  {{ directory_name }} </span></h4>
            {% for volume, table  in volumes %}
              {% include 'volume/partial.html' %}
            {% endfor %}
           {% endfor %}
{% endcomment %}
{% load render_table from django_tables2 %}
    <p>Functional volumes</p>
    {% render_table t_volumes_fun %}
    <p>Storage volumes</p>
    {% render_table t_volumes_stg %}

{% endblock %}

{% block main_content_right %}
<ul>
	<li><span class="badge badge-pill badge-info">Functional</span> - packages or modules 
		<a href="{{ url_manual }}/Reports/index.html"><span class="oi oi-external-link" aria-hidden="true"> </span></a> </li>
	<li><span class="badge badge-pill badge-success">Storage</span> - large dataset
		<a href="{{ url_manual }}/Reports/index.html"><span class="oi oi-external-link" aria-hidden="true"> </span></a> </li>
	<li><span class="badge badge-pill badge-warning">Private</span> - private
		<a href="{{ url_manual }}/Reports/index.html"><span class="oi oi-external-link" aria-hidden="true"> </span></a> </li>
</ul>
{{block.super}}
{% endblock %}

