{# new project cration modal #}
<div id="newProjectModal" class="modal fade" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProjectModalLabel">Create a new project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
              <div class="container">
                {% include 'project.html' with is_admin=True project=empty_project %}
              </div>
            </div>
        </div>
    </div>
</div>

