{% extends "project_layout.html" %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block pagedescription %}
Projects are a good way to collaborate with each other without much restriction. Permissions on files and folders are set in a restrictive way protecting user's own work. <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/projects"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{# the search bar #}
{% block search %}
{% if userprojectbindinglist %}
<div class="card border border-light border-3 mx-5 mb-3 rounded-3">
  <div class="input-group">
    <span class="input-group-text"><span class="bi bi-search"></span></span>
    <input class="form-control" type="text" id="search_project" placeholder="Search project" title="Type in a name" autofocus >
    <span class="input-group-text">
      <input id="toggler-project_hidden" data-size="mini" data-width="50"
             type="checkbox" data-toggle="toggle" name="search_hidden"
             data-on="<span class='bi bi-eye'></span>"
	     data-off="<span class='bi bi-eye-slash' id='hidden-counter'> {{n_hidden}}</span>"
             data-onstyle="success" data-offstyle="secondary">
    </span>
  </div>
</div>
{% endif %}
{% endblock %}


{# render the project cards #}
{% block bodycontent %}
{% if userprojectbindinglist|length %}
  <div class="row row-cols-1 row-cols-md-2">
    {% for upb in userprojectbindinglist %}
      <div class="col" id="hideable-project-{{ upb.project.id }}">
        {% include 'project_partial_list.html' with project=upb.project projectcontainerbindings=upb.projectcontainerbindings is_admin=upb.is_admin hidden=upb.is_hidden upb_id=upb.id %}
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include 'empty.html' %}
{% endif %}
{% endblock %}


{% block scripts %}
<script>
{# before redirecting to container page save info to narrow search #}
$("a[name=shortcut]").on("click", function(event) {
  //event.preventDefault();
  href = $( this ).attr("href");
  container_id = $( this ).attr("value");
  expire = new Date();
  expire.setTime(expire.getTime() + 1000); // 1 second
  $.cookie("search_container_id", container_id, { 'path': '/;SameSite=Strict', 'secure': true, 'expires': expire });
});

containerSocket = open_ws('{{ wss_container }}', ws_callback_container);
projectSocket = open_ws('{{ wss_project }}', ws_callback_project);

{# handle websocket callback #}
function ws_callback_project(data) {
  //console.log(data);
  if (data['command'] == 'showhide') {
      var pid = data['project-id'];
      var hidden = data['hidden'];
      $("#project-hidden-" + pid).val(hidden);
      widget = $("#project-showhide-" + pid).children()[0]; // the only child is the span
      $(widget).removeClass('bi-eye');
      $(widget).removeClass('bi-eye-slash');
      if (hidden) {
        $(widget).addClass('bi-eye');
      } else {
        $(widget).addClass('bi-eye-slash');
      }
      $("#hidden-counter").text(' ' + data['hidden-count']);
      $("#search_project").keyup();
      set_visibility("project");
  }
};

{# handle websocket callback #}
function ws_callback_container(data) {
  //console.log(data);
  var command = data['command'];
  var msg = data['message'];
  var containerid = data['container-id'];
  console.log('SOCK: --> ' + command + ": " + msg);
  if (command == 'feedback') {
    feedback(data['message']);
  }
  if (data['state'] == 'np') { //FIXME: Container.ST_NOTPRESENT
    start_button(containerid);
  } if (data['state'] == 'run') { //FIXME: Container.ST_RUNNING
    open_button(containerid);
  }
};

{# set visibility states for all cards #}
function is_visible_callback(obj, obj_id, pattern_is_empty, match) {
  disable_hide = B($( "#toggler-project_hidden" )[0].checked);
  hidden_project = B($( "#project-hidden-" + obj_id ).val());
  return (match && ! pattern_is_empty) || (pattern_is_empty && ((! hidden_project) || disable_hide));
}


{# whether to suppress is_hidden state of user project binding #}
$("#toggler-project_hidden").change(function() {
  $("#search_project").keyup();
  set_visibility("project");
}).change();                    // invoked just in case the page was reloaded for some reasons and to hide the necessary cards 


{# show/hide button clicked #}
$("a[id^=project-showhide-]").click(function() {
  // console.log( this );
  var pid = $( this ).attr("id").split("-", 3)[2];
  var cur_state = B($("#project-hidden-" + pid).val());
  if (projectSocket.readyState != 1) {
    console.log("Socket not open: " + projectSocket.readyState);
    projectSocket = open_ws('{{ wss_project }}', ws_callback_project);
  }
  projectSocket.send(JSON.stringify({
    'command': 'showhide',
    'project-id': pid,
    'hidden': cur_state,
  }));
});

{# when project name is clicked open info #}
$("div[id^=project-name-]").click(function() {
  //console.log( this );
  var pid = $( this ).attr("id").split("-", 3)[2];
  $("#projectInfoModal-" + pid).modal('show');
});

{# when project name is hovered change cursor face #}
$("div[id^=project-name-]").mouseenter(function() {
  $( this ).css("cursor", "pointer");
});

{# open a container #} //FIXME: repetition
function open_container(containerid) {
  var url = $( "#url-containeropen-" + containerid).val();
  console.log( "opening: " + url );
  var win = window.open(url, '_blank');
  if (win) {
    win.focus();
  }
}

{# disable start, and show spinner #}
function spin_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", true);
  $("#container-start-" + containerid).addClass("d-none");
  $("#spinner-start-" + containerid).removeClass("d-none");
}

{# enable button and show open button face #}
function open_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", false);
  $("#spinner-start-" + containerid).addClass("d-none");
  $("#container-open-" + containerid).removeClass("d-none");
}

{# enable button and show start button face #}
function start_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", false);
  $("#spinner-start-" + containerid).addClass("d-none");
  $("#container-start-" + containerid).removeClass("d-none");
}


{# start/open a container #}
$("button[name=container-start]").click(function() {
  var containerid = $( this ).val();
  if (! $("#container-open-" + containerid).hasClass('d-none')) {
    open_container(containerid);
    return;
  }
  if (containerSocket.readyState != 1) {
    console.log("Socket not open: " + containerSocket.readyState);
    containerSocket = open_ws('{{ wss_container }}', ws_callback_container);
  }
  console.log( "start: " + containerid );
  spin_button(containerid);
  containerSocket.send(JSON.stringify({
    'command': 'container-start',
    'container-id': containerid,
  }));
});

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}

