{% load widgets %}
{% load project_buttons %}
{% load container_buttons %}
{% load check_show %}

{# FIXME: read only if not admin!!! #}

<div class="card rounded rounded-3 mb-3 border border-2 shadow bg-light {% project_card_border project %}" id="card-{{ project.id }}" data-editable="{{is_admin}}">
    <div class="card-body">
        <div class="row">
            <!-- First Column -->
            <div class="col">
                <div class="d-flex align-items-center mb-3">
		    {% field_name project 'project' %}
                </div>
		{% if not project %}
		{# FIXME ugly code ugly rendering #}
		        {% project_folder project %}
		{% endif %}
                <div class="d-flex mb-2">
		    {% project_image project %}
                </div>
	            {% button_environment project %}
            </div>

            <!-- Second Column -->
            <div class="col">
              {% include 'widgets/widget_description.html' with pk=project.id orig=project.description placeholder="Add project description" tooltip="Describe project" maxheight="160px" %}
            </div>

            <!-- Third Column -->
            <div class="col position-relative">
              {% include 'widgets/widget_users.html' with maxheight="160px" pk=project.id users=project.collaborators marked=project.admins kind="Collaborators" skip=user %}
            </div>

            <!-- Fourth Column -->
            <div class="col position-relative">
              {% include 'widgets/widget_volumes.html' with maxheight="160px" pk=project.id volumes=project.volumes %}
            </div>

            <!-- Fifth Column -->
            <div class="col">
	        {% project_scope project %}
		{# FIXME: az alábbi infókat tooltipre tenni? #}
		{% comment %}
		        {% project_folder project %}
			{% project_creator project user %}
			{% list_reports project %}
		{% endcomment %}
                <div class="d-flex justify-content-end">
		    {% include 'widgets/widget_savechanges.html' with pk=project.id obj="project" %}
	            {% include 'widgets/widget_delete.html' with msg="Are you sure you want to delete or leave project?" tooltip="Leave/delete project" link=project|link_project_drop obj=project %}
                </div>
            </div>
        </div>
    </div>
</div>

