{% extends "project_layout.html" %}

{% load static %}
{% load render_table from django_tables2 %}

{% block chardinhelp %}
         url: "{% static 'chardinjs/joinproject.json' %}"
{% endblock %}

{% block realcontent %}
<h4 class="mb-3">Join project</h4>

<div class="card shadow mt-3 p-3 mb-5 bg-light rounded" data-intro="#join_project"> 
<form id="project-manage" class="form-horizontal" action="{% url 'project:join' %}" method="post">
  {% csrf_token %}
    <h5>Use the switch select those projects you want to join</h5>
  <div class="card-body">
    {% if t_joinable.data|length > 0 %}
      {% render_table t_joinable %}
    {% else %}
      <p>There are no projects to join.</p>
    {% endif %}
    {% include 'apply_cancel.html' with hide_cancel=True apply='Join projects' %}
  </div>
</form>
</div>
{% endblock %}

