{% extends "project_layout.html" %}
{% load render_table from django_tables2 %}

{% block realcontent %}
<div class="card shadow p-3 mt-3 mb-3 bg-light rounded">
  <form id="project-manage" class="form-horizontal" action="{% url 'project:configure' project.id %}" method="post">
  {% csrf_token %}
  <ul class="nav nav-tabs" id="projectConfigTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if active == "meta" %}active{% endif %}" 
         id="tab-meta" data-bs-toggle="tab" href="#meta" role="tab" aria-controls="meta" 
         aria-selected="{% if active == "meta" %}true{% else %}false{% endif %}">Meta</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if active == "collaboration" %}active{% endif %}" 
         id="tab-collaboration" data-bs-toggle="tab" href="#collaboration" role="tab" aria-controls="collaboration" 
         aria-selected="{% if active == "collaboration" %}true{% else %}false{% endif %}">Collaboration</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link {% if active == "service" %}active{% endif %}"
         id="tab-service" data-bs-toggle="tab" href="#service" role="tab" aria-controls="service" 
         aria-selected=""{% if active == "service" %}true{% else %}false{% endif %}>Container environments</a>
    </li>
  </ul>
  <div class="tab-content" id="projectConfogTabsContent">
    <div class="tab-pane fade {% if active == "meta" %}show active{% endif %}" id="meta" role="tabpanel" aria-labelledby="tab-meta">
      <h5 class="card-title mt-2">Describe your project</h5>
      <textarea class="form-control" rows="6" cols="50" id="description" name="description">{{ project.description }}</textarea>
      <h5 class="card-title mt-2">Change the scope for this project</h5>
      <select class="form-control" id="project_scopes-{{ project.id }}" name="project_scope">
        {% for k, v in project.SCP_LOOKUP.items %}
          <option value="{{ k }}" {% if project.scope == k %} selected {% endif %}>{{ v }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="tab-pane fade {% if active == "collaboration" %}show active{% endif %}" id="collaboration" role="tabpanel" aria-labelledby="tab-collaboration">
      <h5 class="card-title mt-2">Select collaborators of this project</h5>
      {% if t_collaborators %}
        <input class="form-control me-2 mb-3 mt-3" type="text" id="search_collaborator" placeholder="Search collaborator" title="Type in a name" data-intro="#search_collaborator">
        {% render_table t_collaborators %}
        <hr>
        <h5 class="card-title">Select environments to create for your collaborators</h5>
        <span>Your collaborators are free to change this environment later.</span>
        <div class='mt-2'>
        {% render_table t_services %}
        </div>
      {% else %}
        You cannot manage collaboration of this project.
      {% endif %}
    </div>
    <div class="tab-pane fade {% if active == "service" %}show active{% endif %}" id="service" role="tabpanel" aria-labelledby="tab-service">
      <h5 class="card-title mt-2">Manage project environment bindings</h5>
      <p>In these environments will you have access to the project folders and files</p>
      {% if t_all_services %}
      <div class='mt-2'>
        {% render_table t_all_services %}
      </div>
      {% endif %}
    </div>
  </div>
  {% include 'apply_cancel.html' %}
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>  
$("#search_collaborator").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $("input[id^='search-collaborator-'").each(function() {
    var hide_it = true;
    if (pattern.length > 0) {
      var name = $( this ).attr("value").toUpperCase();
      if ( name.indexOf(pattern) > -1 ) {
        hide_it = false;
      }
    }
    var widget = $( this ).parent().parent();
    if (hide_it) {
      widget.hide();
    } else {
      widget.show();
    }
  });
}).keyup();
</script>
{% endblock %}
