{% extends "project_layout.html" %}
{% load render_table from django_tables2 %}
{% load extras %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
{% endblock %}


{% block bodycontent %}
<div class="m-2" style="height: calc(100vh - 105px); overflow-y: scroll; overflow-x:hidden;">
<div class="card shadow mt-3 p-3 mb-5 bg-light rounded" > 
<form id="project-manage" class="form-horizontal" action="{% url 'project:join' %}" method="post">
  {% csrf_token %}
  {% if t_joinable.data|length > 0 %}
  {% title_with_button "Use the switch to select those projects you want to join" button_icon="bi bi-people" button_label="Collaborate" button_color="btn-success"%}
  <div class="input-group">
    <span class="input-group-text"><span class="bi bi-search"></span></span>
    <input class="form-control" type="text" id="search_project" placeholder="Search project" title="Type in a name" autofocus >
  </div>
  <div class="card-body">
      {% render_table t_joinable %}
  </div>
  {% else %}
   {% include 'empty.html' with empty_body="There are no projects to join." skip_border=True %}
  {% endif %}
</form>
</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}
