{% load project_buttons %}
{% load container_buttons %}
{% load check_show %}


<div class="card bg-light rounded rounded-pill mb-3" id="card-{{ project.id }}">
  <input type="hidden" id="project-hidden-{{ project.id }}" value="{{ hidden }}">
  <input type="hidden" id="project-search-{{ project.id }}" value="{{ project.search }}">
  <input type="hidden" id="project-match-{{ project.id }}" value="true">
  <input type="hidden" id="project-isshown-{{ project.id }}" value="true">
  <div class="card-header">
    <div class="row">
      <div class="col-4"> {# FIXME: fine tune column width based on spect ratio/device size #}
        {% dropdown_start_open bindings=projectcontainerbindings ancestor=upb ancestor_type='project' %}
	{% button_project_hide project hidden %}
	{% button_project_conf project enabled=is_admin %}
        <button data-bs-toggle="modal"  data-bs-target="#projectInfoModal-{{ project.id }}" role="button" class="btn btn-warning btn-sm mb-1" ><span class="bi bi-info-square" aria-hidden="true" data-toggle="tooltip" title="Click for more info" data-placement="top" ></span></button>
        {% icon_collaborator project user %}
      </div>
      <div class="col-8" id="project-name-{{ project.id }}">
        <div class="card-title fw-bold h5 pt-1">{{ project.name }}</div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="projectInfoModal-{{ project.id }}" tabindex="-1" aria-labelledby="projectInfoModal-{{ project.id }}" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
	{% scope project %}
        <h5 class="modal-title ms-2">{{ project.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% if project.creator != user %}
          <p class="card-text"><strong>Creator:</strong> {{ project.creator.profile.name_and_username }}</p>
        {% endif %}
        <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
        <p class="card-text"><strong>Collaborators:</strong> {% list_collaborator project user %}</p>
        <p class="card-text"><strong>Folder:</strong> {{ project.subpath }}</p>
      </div>
      <div class="modal-footer">
	{% dropdown_start_open bindings=projectcontainerbindings ancestor=upb ancestor_type='project' %}
	{% button_project_conf project enabled=is_admin %}
        {% include 'reports_button.html' %}
	{% button_project_delete project %}
      </div>
    </div>
  </div>
</div>

