{% load project_buttons %}
{% load container_buttons %}
{% load check_show %}


<div class="card bg-light border-secondary shadow mb-3" id="card-{{ project.id }}">
  <div class="card-header">
    <div class="container-fluid">
      <div class="d-flex flex-row">
        <div class="d-flex flex-row justify-content-start" style="width:2%">
          <div>{% dropdown_start_open_stop bindings=projectcontainerbindings ancestor=upb ancestor_type='project' next_page='project:list' %}</div>
        </div>
	  <div class="ms-5 d-flex flex-row justify-content-between" 
	       style="width:97%" 
               data-bs-toggle="collapse" data-bs-target="#collapse-{{ project.id }}" aria-expanded="false" aria-controls="collapse-{{ project.id }}">
           <div class="d-flex flex-row justify-content-start" ><span id="project-name-{{ project.id }}"><i class="bi bi-arrow-down-square-fill pe-2" style="color: green;"></i>{{ project.name }}</span></div> 
            <div class="d-flex flex-row justify-content-end">
              <div>{% icon_collaborator project user %}</div>
              <div class="ms-3">{% scope project %}</div>
          </div>
	  </div>
	</div>
    </div>
  </div><!-- card header -->
  <div class="collapse" id="collapse-{{ project.id }}">
    <div class="card card-body">
      {% if project.creator != user %}
        <p class="card-text"><strong>Creator:</strong> {{ project.creator.profile.name_and_username }}</p>
      {% endif %}
      <p class="card-text"><strong>Description:</strong> {{ project.description }}</p>
      <p class="card-text"><strong>Collaborators:</strong> {% list_collaborator project user %}</p>
      <p class="card-text"><strong>Folder:</strong> {{ project.subpath }}</p>
      <p class="card-text">
      {# fixme hoe report button is rendered #}
        {% include 'reports_button.html' %}
      </p>
    </div>
    <div class="card card-footer" >
      <div class="container-fluid">
        <div class="d-flex flex-row justify-content-between">
          <div class="d-flex flex-row justify-content-start">
	    <div>{% button_project_hide project %}</div>
	    <div class="ms-2">{% button_project_conf project enabled=is_admin %}</div>
          </div>
          <div class="d-flex flex-row justify-content-end">
	    <div>{% button_project_delete project %}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


