{% load render_table from django_tables2 %}

<h5 class="card-title mt-2">Select collaborators of this project</h5>
<div class="container-fluid d-flex flex-row justify-content-between align-items-baseline">
  <div>
    <input class="form-control me-2 mb-3 mt-3" type="text" id="search_collaborator" placeholder="Search collaborator" title="Type in a name" data-intro="#search_collaborator">
    {% render_table t_users %}
  </div>
  <div>
    {% render_table t_collaborators %}
  </div>
</div>
<hr>
<h5 class="card-title">Select environments to create for your collaborators</h5>
<span>Your collaborators are free to change this environment later.</span>
<div class='mt-2'>
{% render_table t_services %}
</div>

<script>
$("span[id^='userid-'").click(function() {
  var tr = $( this ).parent().parent();
  var t = tr.parent().parent().attr("id");
  console.log( t );
  var other_table;
  if (t === "users") {
     other_table = $("#collaborators");
  } else {
     other_table = $("#users");
  }
  other_table.children("tbody").append(tr);
});
</script>
