{% extends "project_layout.html" %}
{% load render_table from django_tables2 %}
{% load static %}

{% block chardinhelp %}
{# fixme: name #}
         url: "{% static 'chardinjs/menueducation_env.json' %}"
{% endblock %}

{% block realcontent %}

<form id="project-manage" class="form-horizontal" action="{% url 'project:showhide' %}" method="post">
  {% csrf_token %}
  <h5 data-intro="#project_list" style="margin-top: 10px">Use the switch to hide or show some of your projects</h5>
  {% if t_project.data|length > 0 %}
  <input class="form-control mb-3" type="text" id="search_project" placeholder="Search project" title="Type in a name" autofocus>
  <div id="projectListPane">
    {% render_table t_project %}
    {% include 'apply_cancel.html' with hide_cancel=True %}
  </div>
</form>
  {% else %}
    <p>You do not have any projects to hide or show.</p>
  {% endif %}
{% endblock %}

{% block scripts %}
<script>  
$("#search_project").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $( "#project-manage" ).find('tr').each(function() {
    if ( $( this ).parent().is("thead") ) {
      return;
    }
    var hide_it = true;
    if (pattern.length > 0) {
      $( this ).find("input").each(function() {
        var name = $( this ).attr('value').toUpperCase();
        if ( name.indexOf(pattern) > -1 ) {
          hide_it = false;
        }
      });
    } else {
      hide_it = false;
    }
    if (hide_it) {
      $( this ).hide();
    } else {
      $( this ).show();
    }
  });
});
</script>
{% endblock %}

