{% load project_buttons %}
{% load extras %}

{% block style %}
<style>
  @media all and (min-width: 991px) {
    .go{ display: none; }
  }
  
  </style>
{% endblock %}

<nav style="width: 100%;"class="navbar navbar-expand-lg navbar-light bg-light">
  <div style="width:150px; height:40px; margin-left:auto; margin-right:auto;" class="badge go bg-secondary dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProject" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-intro="#projects" style="color:white; font-weight: bold; width:70%; margin-left:auto; margin-right:auto;">Projects</a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownProject">
      <li class="nav-item"><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#project-new" style="color:black">New project</a></li>
      <li class="nav-item"><a {% if submenu == 'join' %} class="nav-link active" href="#" {% else %} class="dropdown-item" href="{% url 'project:join' %}" {% endif %} style="color:black">Join a project</a></li>
      <li class="nav-item"><a {% if submenu == 'list' %} class="nav-link active" href="#" {% else %} class="dropdown-item" href="{% url 'project:list' %}" {% endif %} style="color:black">List projects</a></li>
      <li class="nav-item"><a {% if submenu == 'showhide' %} class="nav-link active" href="#" {% else %} class="dropdown-item" href="{% url 'project:showhide' %}" {% endif %} style="color:black">Show/hide projects 
    {% number_square user.profile.number_of_hidden_projects %}
      </a></li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="navbarSubmenu">
     <div class="col-3">
       <div style="margin-left: 30px;"><h5><span class="badge bg-secondary">{{ title }}</span></h5></div>
     </div>
     <div class="col-8">
        <ul class="navbar-nav mr-auto" style="margin-left: 110px;">
          <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#project-new">New project</a></li>
          <li class="nav-item"><a {% if submenu == 'join' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:join' %}" {% endif %}>Join a project</a></li>
          <li class="nav-item"><a {% if submenu == 'list' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:list' %}" {% endif %}>List projects</a></li>
          <li class="nav-item"><a {% if submenu == 'showhide' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:showhide' %}" {% endif %}>Show/hide projects 
			  {% number_square user.profile.number_of_hidden_projects %}
          </a></li>
	  {% comment %}
	  <li class="nav-item"><a {% if submenu == 'configure' %} class="nav-link active" href="#" {% else %} class="nav-link" href="#" {% endif %}>Configure project </a></li>
	  {% endcomment %}
        </ul>
     </div>
     <div class="col-1" style="margin-left: -40px;">
      {% if submenu == 'list' %}
       <div class="d-flex justify-content-end" >
    <div style="margin-left: 5px; margin-top: 2px">
	  {% layout_flip user.profile.layout_project_list 'project:layout_flip' %}
  </div>
       </div>
      {% endif %}
     </div>
  </div>
</nav>
