{% extends "project_layout.html" %}

{% load static %}
{% load project_buttons %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
<link href="{% static 'css/multitabs.css' %}" rel="stylesheet">
<link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
{% endblock %}

{% block bodycontent %}
<div class="container-fluid">
    <div class="d-flex flex-wrap gap-3">
        <div class="card rounded rounded-3 mb-3 border border-2 border-warning shadow bg-light">
            <div class="card-body">
                <div class="d-flex flex-column">
                    {% button_fetch_joinable_projects user %}
                    {% button_new_project user %}
                </div>
            </div>
        </div>
    </div>
</div>

{# new project cration modal #}
<div id="newProjectModal" class="modal fade" tabindex="-1" aria-labelledby="newProjectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newProjectModalLabel">Create a new project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
              <div class="container">
                {% include 'project.html' with is_admin=True %}
              </div>
	      <div class="modal-footer">
		{% include 'widgets/widget_savechanges.html' with obj="project" show=True %}
              </div>
            </div>
        </div>
    </div>
</div>

{# render the project cards #}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100 mx-auto justify-content-center gap-3">
  {% for upb in userprojectbindinglist %}
      {% include 'project.html' with project=upb.project projectcontainerbindings=upb.projectcontainerbindings is_admin=upb.is_admin %}
  {% endfor %}
</div>
<script src="{% static 'js/config_register.js' %}"></script>
<script src="{% static 'js/project_buttons.js' %}"></script>
<script src="{% static 'js/project_changes.js' %}"></script>

{# a modal to join a project #}
{% include 'widgets/fetch_joinproject_modal.html' %}
<script src="{% static 'js/project_join.js' %}"></script>


{# a modal to configure a project image #}
{% include 'widgets/image_selection.html' with instance="project" %}
<script src="{% static 'js/image_selection.js' %}"></script>

{# a modal to configure a project collaborators #}
{% include 'widgets/select_users.html' with instance="project" %}
<script src="{% static 'js/select_users.js' %}"></script>

{# a modal to configure a project volumes #}
{% include 'widgets/volumes.html' with instance="project" %}
<script src="{% static 'js/volume_selection.js' %}"></script>
<script src="{% static 'js/widget_volumes.js' %}"></script>

{# a modal to start/stop/jump to project environments #}
{% include 'widgets/environments.html' %}
<script src="{% static 'js/environments.js' %}"></script>
<script src="{% static 'js/container_buttons.js' %}"></script>

{% endblock %}


{% block scripts %}
<script src="{% static 'js/multitabs.js' %}"></script>






{# FIXME static/sj/ #}
<script>
$(document).on('click', '[name="users"]', function() {
    const objectId = $(this).data('id')  // Get the id from the button's data-id attribute
    const kind = $(this).data('kind')  // Get the id from the button's data-id attribute
    UserSelection.openModal(objectId, kind)
})
</script>






<script src="{% static 'js/wss.js' %}"></script>
<script>
// Save web socket urls
const wsURLs = {
  container_control: "{{ wss_container }}",
  project_config: "{{ wss_project_config }}",
  project_joinable: "{{ wss_project_joinable }}",
  project_join: "{{ wss_project_join }}",
  get_containers: "{{ wss_project_container }}",
}




//FIXME should be placed somewhere else
$(document).ready(function() {
    // Example initialization, assuming `containers` is passed from Django context
    {% for upb in userprojectbindinglist %}
        updateProjectScope({{ upb.project.id }}, "{{ upb.project.scope }}")
    {% endfor %}
    updateProjectScope("new", "")
    // remove control from those entries for which user is not a creator os admin
    $("[data-editable=False] .editable").editable().off('click')
    $("[data-editable=False] [onclick]").not("[onclick^=return]").prop("onclick", null).off("click")
});   







</script>
<script src="{% static 'js/xeditable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}

