{% load static %}
{% load course_buttons %}

<!-- templates/widgets/fetch_canvascourses_modal.html -->
<div id="canvascoursesModal" class="modal fade canvascourses-modal" tabindex="-1" aria-labelledby="canvascoursesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="canvascoursesModalLabel">Select from your canvas courses be created in kooplex</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
              <div class="container">
                <div class="row mb-3">
                  <!-- First Row: Two Inputs -->
                  <div class="col-md-4">
		    {% include 'widgets/widget_input.html' with field="name" placeholder="Give unique name to kooplex course" instance="course" %}
                  </div>
                  <div class="col-md-4">
		    {% include 'widgets/widget_input.html' with field="folder" placeholder="Add a unique folder name" instance="course" %}
                  </div>
                  <div class="col-md-4">
		    {% course_image course %}
                  </div>
                </div>
                <div class="row">
                  <!-- Second Row: Two Textareas or Tables -->
                  <div class="col-md-6">
	            <div id="canvascourseSelection"></div>
                  </div>
                  <div class="col-md-6">
		    {% include 'widgets/widget_description.html' with placeholder="Add course description" maxheight="200px" iinstance="course" %}
                  </div>
                </div>
              </div>
	      <div class="modal-footer">
		{% include 'widgets/widget_savechanges.html' with obj="canvascourse" show=True %}
              </div>
            </div>
        </div>
    </div>
</div>


{# place in static/js #}
<script>
$(document).on('click', '[data-bs-target="#canvascoursesModal"]', function () {
  $("#canvascourseSelection").replaceWith('<div id="canvascourseSelection" class="spinner-border" role="status"><span class="visually-hidden">Loading...</span></div>')
    //sock = open_ws(wsURLs['project_config'], project_config_callback)
    setTimeout(function() {
    sockkkk2.send(JSON.stringify({}))
    }, 200)
});
</script>
