{% extends "assignment.html" %}

{% load render_table from django_tables2 %}
{% load extras %}

{% block assignment_content %}
<div class="tab-pane fade {% if active == "handle" %}show active{% endif %} py-3" id="handleAssignment" role="tabpanel" aria-labelledby="tab-handle">
  {% if form.okay %}
    <div class="input-group my-3">
      <span class="input-group-text"><span class="bi bi-search"></span></span>
      <input class="form-control" type="text" id="search_assignment" placeholder="Search course or assignment" title="Type in a name">
    </div>
    <form id='assignment-form-handle' class="" action="{% url 'education:assignment_handle' %}" method="post">
      {% csrf_token %}
      {% apply_cancel with icon_apply="bi bi-save" %}
      <table class="mt-3">{{ form.as_table }}</table>
      {% render_table form.t_mass %}
    </form>

    {% comment %}


      <hr>
    {% for a_id, t in form.t_assignments.items %}
        {% render_table t %}
      {% endfor %}

      <hr>
      
            <select class="form-select" id="assignment_selected" name="assignment_selected">
		    <option class="dropdown-item" value="">Select an assignment</option>
              {% for c_id, ass in form.d_course_assignments.items %}
                {% with ass|first as a0 %}
                <optgroup label="Course {{ a0.course.name }}"> 
                {% for a in ass %}
                  <option class="dropdown-item" value="{{ a.id }}"
                    {% if a.id == assignment_selected %} selected {% endif %}
                  >{{ a.name }} ({{ a0.course.folder }}/{{ a.folder }})</option>
                {% endfor %}
                </optgroup>
                {% endwith %}
              {% endfor %}
            </select>
    {% endcomment %}

  {% else %}
    {% include 'empty.html' with empty_body='You have not defined any assignments yet.' skip_border=True %}
  {% endif %}
</div>
{% endblock %}

{% block child_scripts %}
<script>
{# catch submit event, in order to see what is changed #}
$("#assignment-form-handle").submit(function (e) {
  $("#id_change_log").val(JSON.stringify( {
    'user_id': {{ user.id }}
  }));
	alert($("#id_change_log").val());
});
</script>
{% endblock %}


