{% extends "education_layout.html" %}

{% load render_table from django_tables2 %}
{% load static %}
{% load extras %}


{% block head_content %}
{% block child_head %}{% endblock %}
<style>
  .form-control:focus {
    border-color: gray;
    box-shadow: inset 0 1px 1px gray, 0 0 8px gray;
  }

  .form-select:focus {
    border-color: gray;
    box-shadow: inset 0 1px 1px gray, 0 0 8px gray;
  }
  </style>
<style>
  .mytab{
    color: rgb(196, 196, 196);
  }
  .mytab:hover{
    color: rgb(196, 196, 196);
    font-weight: bolder;
  }
  .mytab.active {
    font-weight: bolder;
  }
</style>
{% endblock %}

{% block bodycontent %}
  <ul class="nav nav-tabs  mb-2 mt-3" id="assignmentTeacherTabs" role="tablist">
  <li class="nav-item" role="presentation">
    {% if active == "new" %}
    <a class="nav-link mytab active" id="tab-new" href="#" type="button" role="tab" aria-controls="newAssignment" aria-selected="true">New Assignment</a>
    {% else %}
    <a class="nav-link mytab" id="tab-new" href="{% url 'education:assignment_new' %}" type="button" role="tab" aria-controls="newAssignment" aria-selected="false">New Assignment</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "conf" %}
    <a class="nav-link mytab active" id="tab-conf" href="#" type="button" role="tab" aria-controls="confAssignment" aria-selected="true">Configure Assignment</a>
    {% else %}
    <a class="nav-link mytab" id="tab-conf" href="{% url 'education:assignment_configure' %}" type="button" role="tab" aria-controls="confAssignment" aria-selected="false">Configure Assignment</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "handlemass" %}
    <a class="nav-link mytab active" id="tab-handlemass" href="#" type="button" role="tab" aria-controls="AssignmentMass" aria-selected="true">Mass Assignments</a>
    {% else %}
    <a class="nav-link mytab" id="tab-handlemass" href="{% url 'education:assignment_mass' %}" type="button" role="tab" aria-controls="AssignmentMass" aria-selected="false">Mass Assignments</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "handle" %}
    <a class="nav-link mytab active" id="tab-handle" href="#" type="button" role="tab" aria-controls="Assignment" aria-selected="true">Handle Assignments</a>
    {% else %}
    <a class="nav-link mytab" id="tab-handle" href="{% url 'education:assignment_handler' %}" type="button" role="tab" aria-controls="Assignment" aria-selected="false">Handle Assignments</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "summary" %}
    <a class="nav-link mytab active" id="tab-summary" href="#" type="button" role="tab" aria-controls="summary" aria-selected="true">Student points</a>
    {% else %}
    <a class="nav-link mytab" id="tab-summary" href="{% url 'education:assignment_summary' %}" type="button" role="tab" aria-controls="summary" aria-selected="false">Student points</a>
    {% endif %}
  </li>
</ul>

<div class="tab-content {#mb-2 mt-2#}" id="assignmentTeacherTabContent">
  {% block assignment_content %}
  <div class="tab-pane fade {% if active == "summary" %}show active{% endif %}" id="summary" role="tabpanel" aria-labelledby="tab-summary">
    {% if d_course_assignments|length > 0 %}
    <div class="d-flex flex-row mb-2 mt-2">
      <div class="p-2 mt-1">
        <span data-toggle="tooltip" title="Select assignment you'd like to handle"><i class="bi bi-journal-bookmark-fill"></i>&nbsp;Course</span>
      </div>
      <div class="p-2 flex-fill">
        <select class="form-select" id="summary_course_selected" name="summary_course_selected">
              <optgroup label="-- Select course --"></optgroup>
              {% for c_id, ass in d_course_assignments.items %}
                {% with ass|first as a0 %}
                <option value="{{ a0.course.id }}"> 
                {{ a0.course.name }}
                </option>               
                 {% endwith %}
              {% endfor %}
        </select>
      </div>
    </div>
    {% else %}
        {% include 'empty.html' with empty_body='<p class="text-light">You have not filled in the scores for your assignments.</p>' skip_border=True %}
    {% endif %}
    <form id='student-grade' class="mb-3 mt-3">
      <input type="hidden" name="assignment" value="{{assignment_id}}" >
      {% for c_id, t in  t_summary.items %}
      <div id="st-{{c_id}}">
        {{ t }}
      </div>
      {% endfor %}
    </form>
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script>
$("#assignmentTeacherTabs li a").on("click", function () {
  var tab = $( this ).attr("id").split('-')[1]
  console.log( tab )
  $.cookie("assignment_teacher_tab", tab, { 'path': '/', 'secure': true });
});
$("#summary_course_selected").change(function() {
  var sel_id = $( this ).val();
  console.log( "summary course changed to " + sel_id );
  $('[id^=st-]').each(function() {
    var myid = $(this).attr("id").split('-')[1]
    console.log( "checking " + myid );
    if (myid == sel_id) {
      $( this ).show();
    } else {
      $( this ).hide();
    }
  });
}).change();

</script>

{% block child_scripts %}{% endblock %}
{% endblock %}
