{% extends "education_layout.html" %}

{% load render_table from django_tables2 %}

{% block bodycontent %}
<ul class="nav nav-tabs mt-3 mb-0 container" id="assignmentTeacherTabs" role="tablist">
  <li class="nav-item" role="presentation">
    {% if active == "new" %}
    <a class="nav-link mytab active" id="tab-new" href="#" type="button" role="tab" aria-controls="newAssignment" aria-selected="true">New Assignment</a>
    {% else %}
    <a class="nav-link mytab" id="tab-new" href="{% url 'education:assignment_new' %}" type="button" role="tab" aria-controls="newAssignment" aria-selected="false">New Assignment</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "conf" %}
    <a class="nav-link mytab active" id="tab-conf" href="#" type="button" role="tab" aria-controls="confAssignment" aria-selected="true">Configure Assignment</a>
    {% else %}
    <a class="nav-link mytab" id="tab-conf" href="{% url 'education:assignment_configure' %}" type="button" role="tab" aria-controls="confAssignment" aria-selected="false">Configure Assignment</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "handle" %}
    <a class="nav-link mytab active" id="tab-handle" href="#" type="button" role="tab" aria-controls="handleAssignment" aria-selected="true">Assignments</a>
    {% else %}
    <a class="nav-link mytab" id="tab-handle" href="{% url 'education:assignment_handle' %}" type="button" role="tab" aria-controls="handleAssignment" aria-selected="false">Assignments</a>
    {% endif %}
  </li>
  <li class="nav-item" role="presentation">
    {% if active == "summary" %}
    <a class="nav-link mytab active" id="tab-summary" href="#" type="button" role="tab" aria-controls="summary" aria-selected="true">Student points</a>
    {% else %}
    <a class="nav-link mytab" id="tab-summary" href="{% url 'education:assignment_summary' %}" type="button" role="tab" aria-controls="summary" aria-selected="false">Student points</a>
    {% endif %}
  </li>
</ul>

<div class="tab-content bg-light container rounded-bottom" id="assignmentTeacherTabContent">
  {% block assignment_content %}
  <div class="tab-pane fade {% if active == "summary" %}show active{% endif %} py-3" id="summary" role="tabpanel" aria-labelledby="tab-summary">
    {% if d_course_assignments|length > 0 %}
    <div class="input-group my-3">
      <span class="input-group-text"><span class="bi bi-journal-bookmark-fill"></span></span>
      <select class="form-select" id="select_summary_course">
        <option label="Select a course..."></option>
        {% for c_id, ass in d_course_assignments.items %}
          {% with ass|first as a0 %}
            <option value="{{ a0.course.id }}"> {{ a0.course.name }}</option>               
          {% endwith %}
        {% endfor %}
      </select>
    </div>
    <div id="table_details">
      <div class="card shadow m-3 p-2 bg-warning rounded"> 
        <p class="m-0 p-0">Use the dropdown to select a course and then a summary table is retrieved for your selection.</p>
      </div>
    </div>
    {% else %}
      {% include 'empty.html' with empty_body="<p class=''>You have not filled in the scores for your assignments.</p>" skip_border=True %}
    {% endif %}
  </div>
  {% endblock %}
</div>
{% endblock %}

{% block scripts %}
<script>
$("#assignmentTeacherTabs li a").on("click", function () {
  var tab = $( this ).attr("id").split('-')[1]
  console.log( tab )
  $.cookie("assignment_teacher_tab", tab, { 'path': '/;SameSite=Strict', 'secure': true });
});
$("#summary_course_selected").change(function() {
  var sel_id = $( this ).val();
  console.log( "summary course changed to " + sel_id );
  $('[id^=st-]').each(function() {
    var myid = $(this).attr("id").split('-')[1]
    console.log( "checking " + myid );
    if (myid == sel_id) {
      $( this ).show();
    } else {
      $( this ).hide();
    }
  });
}).change();

</script>
{% block child_scripts %}
<script>
{# if dropdown changes use wss to retrieve the summary table #}
$("#select_summary_course").change(function () {
  course_id = $(this).val();
  if (assignmentSocket.readyState != 1) {
    console.log("Socket not open: " + assignmentSocket.readyState);
    assignmentSocket = open_ws('{{ wss_assignment }}', ws_callback_assignment);
  }
  assignmentSocket.send(JSON.stringify({
    'user_id': {{ user.id }},
    'course_id': course_id
  }));
});

{# FIXME: code repetition see project #}
assignmentSocket = open_ws('{{ wss_assignment }}', ws_callback_assignment);

{# handle websocket callback #}
function ws_callback_assignment(data) {
  $("#table_details").html(data);
  //$("#tablesearcher").removeClass("d-none");
  feedback("Table refreshed");
};
</script>
{% endblock %}
{% endblock %}
