{% extends "education_layout.html" %}
{% load static %}

{% block pagedescription %}
{# one liner . <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/educaion"><span class="ms-2 bi bi-book"></span></a>#}
{% endblock %}

{# the search bar #}
{% block search %}
{% if coursebindinglist %}
<div class="card border border-light border-3 mx-5 mb-3 rounded-3">
  <div class="input-group">
    <span class="input-group-text"><span class="bi bi-search"></span></span>
    <input class="form-control" type="text" id="search_course" placeholder="Search course" title="Type in a name" autofocus >
  </div>
</div>
{% endif %}
{% endblock %}


{# render the course cards #}
{% block bodycontent %}
{% if coursebindinglist %}
  <div class="row row-cols-1 row-cols-md-4">
    {% for ucb in coursebindinglist %}
      <div class="col" id="hideable-course-{{ ucb.course.id }}">
        {% include 'course_partial_list.html' with course=ucb.course %}
      </div>
    {% endfor %}
  </div>
{% else %}
  {% include 'empty.html' with empty_title="You are not associated with any courses yet" empty_body="If this is unexpected, please ask system administrators to take care of it. <a href='mailto:kooplex@elte.hu'><i class='bi bi-envelope'></i><span>&nbsp;Send e-mail...</span></a>" %}
{% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>  
{# when course name is clicked open info #}
$("div[id^=course-name-]").click(function() {
  //console.log( this );
  var cid = $( this ).attr("id").split("-", 3)[2];
  $("#courseInfoModal-" + cid).modal('show');
});

{# when hovering course name is change pointer type #}
$("div[id^=course-name-]").mouseenter(function() {
  $( this ).css("cursor", "pointer");
});


{# FIXME: code repetition see project #}
containerSocket = open_ws('{{ wss_container }}', ws_callback_container);

{# handle websocket callback #}
function ws_callback_container(data) {
  //console.log(data);
  var command = data['command'];
  var msg = data['message'];
  var containerid = data['container-id'];
  console.log('SOCK: --> ' + command + ": " + msg);
  if (command == 'feedback') {
    feedback(data['message']);
  }
  if (data['state'] == 'np') { //FIXME: Container.ST_NOTPRESENT
    start_button(containerid);
  } if (data['state'] == 'run') { //FIXME: Container.ST_RUNNING
    open_button(containerid);
  }
};

{# open a container #} //FIXME: repetition
function open_container(containerid) {
  var url = $( "#url-containeropen-" + containerid).val();
  console.log( "opening: " + url );
  var win = window.open(url, '_blank');
  if (win) {
    win.focus();
  }
}

{# disable start, and show spinner #}
function spin_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", true);
  $("#container-start-" + containerid).addClass("d-none");
  $("#spinner-start-" + containerid).removeClass("d-none");
}

{# enable button and show open button face #}
function open_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", false);
  $("#spinner-start-" + containerid).addClass("d-none");
  $("#container-open-" + containerid).removeClass("d-none");
}

{# enable button and show start button face #}
function start_button(containerid) {
  $("#container-start-" + containerid).parent().attr("disabled", false);
  $("#spinner-start-" + containerid).addClass("d-none");
  $("#container-start-" + containerid).removeClass("d-none");
}


{# start/open a container #}
$("button[name=container-start]").click(function() {
  var containerid = $( this ).val();
  if (! $("#container-open-" + containerid).hasClass('d-none')) {
    open_container(containerid);
    return;
  }
  if (containerSocket.readyState != 1) {
    console.log("Socket not open: " + containerSocket.readyState);
    containerSocket = open_ws('{{ wss_container }}', ws_callback_container);
  }
  console.log( "start: " + containerid );
  spin_button(containerid);
  containerSocket.send(JSON.stringify({
    'command': 'container-start',
    'container-id': containerid,
  }));
//  dd_id = $($(this).parents()[2]).attr("aria-labelled-by");
//	console.log(dd_id);
//  $(".dropdowm-toggle").each(function () { i = $( this ).attr('id'); if (i == dd_id) { $(this).dropdown('toggle') } } ) 
});
</script>
{% endblock %}

