{% load widgets %}
{% load container_buttons %}

<div class="card rounded rounded-3 mb-3 border border-2 {% if course %}border-success{% else %}border-warning{% endif %} shadow bg-light" id="card-{{ course.id }}" data-editable="true">
    <div class="card-header">
         {% field_name course 'course' %} {# FIXME field_name replace like below #}
    </div>
    <div class="card-body">
	    {% if course %}
		{% include 'widgets/multitabs.html' %}
	    {% endif %}

		    {% if course %}{% else %}
                    {% include 'widgets/widget_input.html' with field="folder" placeholder="Add a unique folder name" instance="course" %}
		    {% endif %}


                <div class="d-flex justify-content-end">
		    {% include 'widgets/widget_savechanges.html' with pk=course.id obj="course" %}
                </div>
    </div>
    <div class="card-footer">
	 {% button_environment course %}
    </div>
</div>
