{% extends "education_layout.html" %}
{% load static %}
{# FIXME: only if app_installed #}
{% load course_buttons %}
{% load canvas_buttons %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
<link href="{% static 'css/multitabs.css' %}" rel="stylesheet">
<link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
{% endblock %}

{% block pagedescription %}
{% endblock %}

{# render the course cards #}

{% block bodycontent %}
{% if user.profile.can_createcourse %}
<div class="container-fluid">
    <div class="d-flex flex-wrap gap-3">
        <div class="card rounded rounded-3 mb-3 border border-2 border-warning shadow bg-light">
            <div class="card-body">
                <div class="d-flex flex-column">
                    {% button_fetch_canvascourses user %}
                    {% button_new_course user %}
                </div>
            </div>
        </div>
    </div>
</div>


{# new course creation modal #}
<div id="newCourseModal" class="modal fade" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCourseModalLabel">Create a new course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
              <div class="container">
                {% include 'course.html' with course=empty_course %}
              </div>
            </div>
        </div>
    </div>
</div>
{% else %}
{% if not coursebindinglist %}
<p>You cannot create a course. You are redirected to <a href="{% url 'education:courses' %}">Courses</a></p>
<script>
$(document).ready(function() {
    setTimeout(function() {
        window.location.href = "{% url 'education:courses' %}"
    }, 3000)
})
</script>
{% endif %}
{% endif %}

{% if coursebindinglist %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100 mx-auto justify-content-center gap-3">
                {#% include 'course.html' with course=empty_course %#}
  {% for ucb in coursebindinglist %}
      {% include 'course.html' with course=ucb.course %}
  {% endfor %}
</div>
{% endif %}


<script src="{% static 'js/config_register.js' %}"></script>

{# a modal to create using canvas course #}
{% include 'widgets/fetch_canvascourses_modal.html' %}
<script src="{% static 'js/canvascourse.js' %}"></script>

{# a modal to configure a course image #}
{% include 'widgets/image_selection.html' with instance="course" %}
<script src="{% static 'js/image_selection.js' %}"></script>

{# a modal to configure a course's students/teachers #}
{% include 'widgets/select_users.html' with instance="course" %}
<script src="{% static 'js/select_users.js' %}"></script>

{# a modal to start/stop/jump to course environments #}
{% include 'widgets/environments.html' %}
<script src="{% static 'js/environments.js' %}"></script>
<script src="{% static 'js/container_buttons.js' %}"></script>

{# a modal to configure a course volumes #}
{% include 'widgets/volumes.html' with instance="course" %}
<script src="{% static 'js/widget_volumes.js' %}"></script>
<script src="{% static 'js/volume_selection.js' %}"></script>

{# a modal to configure assignments #}
{% include 'widgets/modal_assignment.html' %}
<script src="{% static 'js/datetimepicker.js' %}"></script>
{% endblock %}

{% block scripts %}
{% if user.profile.can_createcourse %}
{# FIXME static/sj/ #}
<script>
// Show Save Changes button
showSaveNew['course']=function() {
     let req=$('#canvascoursesModal').hasClass('show')?["name", "folder", "image", "description", "canvasid"]:["name", "folder", "image", "description"]
     var count = changes.filter(x => x.pk === ""  && req.includes(x.field)).length
     return count>=req.length
}

// handle web socket callback
function course_config_callback(message) {
        console.log(message)
	//FIXME: put reload in common
    if (message.reloadpage) {
        location.reload()
        return
    }
    if (message.response && message.course_id) {
	$(`[data-widget=coursecard][data-id="${message.course_id}"]`).replaceWith(message.response)
    }
}


$(document).ready(function() {
  if (wsURLs.course_config) {
    wss_courseconfig = new ManagedWebSocket(wsURLs.course_config, {
      onMessage: course_config_callback,
    })
  } 
})

// Save changes  FIXME: common code, put in util
function save_course_config(pk) {
    //pk = pk === "" ? "" : parseInt(pk)
    pk=(pk === null || pk === undefined || pk === "" || (typeof pk === "number" && isNaN(pk)))?"None":pk
    console.log(pk)
    // Object to represent the changes
    var changeObject = { }
    // Iterate and pop elements where pk equals s
    for (var i = changes.length - 1; i >= 0; i--) {
        if (changes[i].pk === pk) {
            // Use the field as the key and newValue as the value
            changeObject[changes[i].field] = changes[i].newValue;
            // Remove the element from the original array
            changes.splice(i, 1)
        }
    }

    // Send the updated value via WebSocket to kooplex
    var data = {
        pk: pk,
        changes: changeObject
    }
    setTimeout(function() {
        wss_courseconfig.send(JSON.stringify(data))
    }, 200)
    // Return a promise to handle asynchronous behavior
    var deferred = $.Deferred();
    deferred.resolve();
    return deferred.promise();
}


$(document).on('click', '[name="assignment"][data-id]', function() {
    let pk = $(this).data('id')
    AssignmentHandler.openModal(pk)
})


$(document).on('click', '[name="save"][data-id][data-instance=course]', function() {
    const pk = $(this).data('id')
    save_course_config(pk)
    hideSaveChanges(pk, 'course')
})


$(document).on('click', '[name="users"]', function() {
    const objectId = $(this).data('id')  // Get the id from the button's data-id attribute
    const kind = $(this).data('kind')  // Get the id from the button's data-id attribute
    UserSelection.openModal(objectId, kind)
})
</script>

<script src="{% static 'js/wss.js' %}"></script>
<script>  
// Save web socket urls
const wsURLs = {
  container_control: "{{ wss_container }}",
  wss_canvas: "{{ wss_canvas }}",
  get_containers: "{{ wss_course_container }}",
  course_config: "{{ wss_course_config }}",
  assignment_config: "{{ wss_assignment_config }}",
}

</script>
<script src="{% static 'js/xeditable.js' %}"></script>
<script src="{% static 'js/multitabs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endif %}
{% endblock %}

