{% extends "education_layout.html" %}
{% load render_table from django_tables2 %}
{% load extras %}

{% block head_content %}
{% endblock %}


{% block bodycontent %}
<div class="card shadow p-3 mb-5 bg-light rounded">
  <form id="course-manage" class="form-horizontal was-validated" action="{{ url_post }}" method="post">
  {% csrf_token %}
  {% title_with_button "You are now configuring <em>" course.name "</em> course" %}
  <ul class="nav nav-tabs" id="courseConfigTabs" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "meta" %}active{% endif %}" id="tab-meta" data-bs-toggle="tab" href="#configureCourse" role="tab" aria-controls="configureCourse" aria-selected="{% if active == "meta" %}true{% else %}false{% endif %}">Configure</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "teacher" %}active{% endif %}" id="tab-teacher" data-bs-toggle="tab" href="#addteachersCourse" role="tab" aria-controls="addteachersCourse" aria-selected="{% if active == "teacher" %}true{% else %}false{% endif %}">Teachers</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "student" %}active{% endif %}" id="tab-student" data-bs-toggle="tab" href="#addstudentsCourse" role="tab" aria-controls="addstudentsCourse" aria-selected="{% if active == "student" %}true{% else %}false{% endif %}">Students</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "group" %}active{% endif %}" id="tab-group" data-bs-toggle="tab" href="#courseGroup" role="tab" aria-controls="confCourseGropu" aria-selected="{% if active == "group" %}true{% else %}false{% endif %}">Groups</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link mytab {% if active == "grpstudent" %}active{% endif %}" id="tab-grpstudent" data-bs-toggle="tab" href="#groupStudent" role="tab" aria-controls="groupStudent" aria-selected="{% if active == "grpstudent" %}true{% else %}false{% endif %}">Group of students</a>
    </li>
  </ul>
  <div class="tab-content mt-3" id="courseConfigTabsContent">
    <div class="tab-pane fade {% if active == "meta" %}show active{% endif %}" id="configureCourse" role="tabpanel" aria-labelledby="tab-meta">
      {% include 'widget_form_image.html' %}
      {# fixme: only show if image is changed #}
      <div class="alert alert-warning mt-2 mb-2" role="alert">If you decide to change the image, do not forget to restart the course container to take effect and notify your students to do so as well.</div>
    </div>
    <div class="tab-pane fade {% if active == "teacher" %}show active{% endif %}" id="addteachersCourse" role="tabpanel" aria-labelledby="tab-teacher">
      <div class="d-flex align-items-baseline">
        <div class="flex-fill w-100 me-1">
          <input class="form-control me-2 mb-3 mt-3" type="text" id="search_teacher" placeholder="Search teacher" title="Type in a name">
          {% render_table form.t_teachers_add %}
        </div>
        <div class="flex-fill w-100 mb-1">
          {% render_table form.t_teachers %}
        </div>
      </div>
    </div>
    <div class="tab-pane fade {% if active == "student" %}show active{% else %}false{% endif %}" id="addstudentsCourse" role="tabpanel" aria-labelledby="tab-student">
      <p class="alert alert-danger" id="reset_p"><button type="button" class="btn btn-danger" id="reset_button" name="button" value="reset">Reset</button> Remove all {{ form.t_students.data|length }} students from the course.</p>
      <div class="d-flex align-items-baseline">
        <div class="flex-fill w-100 me-1">
          <input class="form-control me-2 mb-3 mt-3" type="text" id="search_student" placeholder="Search student" title="Type in a name">
          {% render_table form.t_students_add %}
        </div>
        <div class="flex-fill w-100 mb-1">
          {% render_table form.t_students %}
        </div>
      </div>
    </div>
    <div class="tab-pane mt-2 fade {% if active == "group" %}show active{% endif %}" id="courseGroup" role="tabpanel" aria-labelledby="tab-group">
      {% render_table form.t_group %}
    </div>
    <div class="tab-pane fade {% if active == "grpstudent" %}show active{% else %}false{% endif %}" id="groupStudent" role="tabpanel" aria-labelledby="tab-grpstudent">
      {% include 'drag_and_drop.html' %}
    </div>
  </div>
</form>

<script>
{# save in a cookie the active tab #}
$("#courseConfigTabs li a").on("click", function () {
  tab = $( this ).attr("id").split('-', 2)[1];
  console.log( tab );
  $.cookie("configure_course_tab", tab, { 'path': '/;SameSite=Strict', 'secure': true });
});

{# rewrite table headers and trigger set_visibility #}
$(document).ready(function() {
  $("#bind-teacher").find("th").text("Teachers");
  $("#bind-student").find("th").text("Students");
  $("#search_student").keyup();
  $("#search_teacher").keyup();
});

{# save the rest of the from details befire submission #}
$("#course-manage").submit(function (e) {
  // process groups
  new_grp = Array();
  old_grp = Array();
  $("[name^=group-name][type!=hidden]").each(function() {
    my_id = $(this).attr('id');
    id_description = my_id.replace('name', 'description');
    name = $(this).val();
    description = $("#" + id_description).val();
    t = my_id.split('-')[2];
    if (t === "new") {
      if ((name.length > 0) && (description.length > 0)) {
        new_grp.push([name, description]);
      }
    } else {
	old_id = my_id.replace('after', 'before');
	old_description_id = id_description.replace('after', 'before');
	old_name = $("#" + old_id).val();
	old_description = $("#" + old_description_id).val();
        if ((old_name != name) || (old_description != description)) {
          old_grp.push([my_id.split('-')[3], name, description]);
        }
    }
  })

  $("#id_course_config").val(JSON.stringify( {
    'user_id': {{ user.id }},
    'course_id': "{{ course.id }}",
    'new_group': new_grp,
    'group': old_grp,
    'teachers': $.map($("input[id^=teacher-isshown-]"), function (k, v) { if (tw(k, "bind-teacher")) { return $(k).attr('id').split('-')[2]; } }),
    'students': $.map($("input[id^=student-isshown-]"), function (k, v) { if (tw(k, "bind-student")) { return $(k).attr('id').split('-')[2]; } }),
    'grouping': $.map($("input[id^=grp-]"), function (k, v) { return Array([$(k).attr("id").split("-")[1], JSON.parse($(k).val())]) })
  }));
});

{# check if widget belongs to student/teacher table #}
function tw(obj, what, levels = 3) {
  return $(obj).parents().eq(levels).attr('id') === what;
}

{# hide all table rows except for those matching #}
function is_visible_callback(obj, obj_id, is_empty, is_found) {
  if ((obj == "student") || (obj == "teacher")) {
    if (tw($("input[id$=" + obj + "-isshown-" + obj_id), obj)) {
      return true;
    }
    if (is_empty) {
      return false;
    }
    return is_found;
  }
  return true;
}


{# handle reset button #}
$("#reset_button").click(function() {
  if (confirm('Are you sure?')) {
    $("span[id^='student-'").each(function() {
      if (tw(this, "bind-student")) {
        $(this).click();
        $("#reset_p").addClass("d-none");
      }
    });
    console.log("click");
  }
});

{# handle clicking on table rows #}
$("span[id^='student-'").click(function() {
  userid = $( this ).attr("id").split("-")[1];
  tr = $( this ).parent().parent();
  t = tr.parent().parent().attr("id");
  console.log( t );
  var other_table;
  if (t === "users-student") {
    other_table = $("#bind-student");
    $( this ).parent().find("input[type='hidden'][name").each(function() {
      before = $(this).attr("name");
      $( this ).attr("name", before.substring(1));
    });
  } else {
    other_table = $("#users-student");
    $( this ).parent().find("input[type='hidden'][name").each(function() {
      before = $(this).attr("name");
      $( this ).attr("name", "_" + before);
    });
  }
  other_table.children("tbody").append(tr);
  $("#tab-grpstudent").attr("disabled", true);
});
$("span[id^='teacher-'").click(function() {
  userid = $( this ).attr("id").split("-")[1];
  tr = $( this ).parent().parent();
  t = tr.parent().parent().attr("id");
  console.log( t );
  var other_table;
  if (t === "users-teacher") {
    other_table = $("#bind-teacher");
    $( this ).parent().find("input[type='hidden'][name").each(function() {
      before = $(this).attr("name");
      $( this ).attr("name", before.substring(1));
    });
  } else {
    other_table = $("#users-teacher");
    $( this ).parent().find("input[type='hidden'][name").each(function() {
      before = $(this).attr("name");
      $( this ).attr("name", "_" + before);
    });
  }
  other_table.children("tbody").append(tr);
});
</script>
{% endblock %}

