{% extends "education_layout.html" %}
{% load static %}
{# FIXME: only if app_installed #}
{% load course_buttons %}
{% load canvas_buttons %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link href="{% static 'css/datetimepicker.css' %}" rel="stylesheet">
<link href="{% static 'css/multitabs.css' %}" rel="stylesheet">
<link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
<link href="{% static 'css/dropdown.css' %}" rel="stylesheet">
{% endblock %}

{% block pagedescription %}
Create a new course or import courses from Canvas using a canvas api token <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/education#canvas"  target="_blank"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{# render the course cards #}

{% block bodycontent %}
{% if user.profile.can_createcourse %}
<div class="container-fluid">
    <div class="d-flex flex-wrap gap-3">
        <div class="card rounded rounded-3 mb-3 border border-2 border-warning shadow bg-light">
            <div class="card-body">
                <div class="d-flex flex-column">
                    {% button_new_course user %}
                </div>
            </div>
        </div>
    </div>
</div>


{# new course creation modal #}
{% include modal_new %}

{% else %}
{% if not coursebindinglist %}
<p>You cannot create a course. You are redirected to <a href="{% url 'education:courses' %}">Courses</a></p>
<script>
$(document).ready(function() {
    setTimeout(function() {
        window.location.href = "{% url 'education:courses' %}"
    }, 3000)
})
</script>
{% endif %}
{% endif %}

{% if coursebindinglist %}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100 mx-auto justify-content-center gap-3">
  {% for ucb in coursebindinglist reversed %}
      {% include 'course.html' with course=ucb.course %}
  {% endfor %}
</div>
{% endif %}


{# load common configuration logic #}
<script src="{% static 'js/config_register.js' %}"></script>

{# a modal to configure a course image #}
{% include 'widgets/image_selection.html' with instance="course" %}
<script src="{% static 'js/image_selection.js' %}"></script>

{# a modal to configure a course's students/teachers #}
{% include 'widgets/select_users.html' with instance="course" %}
<script src="{% static 'js/select_users.js' %}"></script>

{# a modal to start/stop/jump to course environments #}
{% include 'widgets/environments.html' %}
<script src="{% static 'js/environments.js' %}"></script>
<script src="{% static 'js/container_buttons.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>

{# a modal to configure a course volumes #}
{% include 'widgets/volumes.html' with instance="course" %}
<script src="{% static 'js/widget_volumes.js' %}"></script>
<script src="{% static 'js/volume_selection.js' %}"></script>

{# a modal to configure assignments #}
{% include 'widgets/modal_assignment.html' %}
<script src="{% static 'js/datetimepicker.js' %}"></script>
<script src="{% static 'js/score.js' %}"></script>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/course_admin.js' %}"></script>
<script src="{% static 'js/wss.js' %}"></script>
<script>  
// Save web socket urls
const wsURLs = {
  container_control: "{{ wss_container }}",
  wss_canvas: "{{ wss_canvas }}",
  get_containers: "{{ wss_course_container }}",
  course_config: "{{ wss_course_config }}",
  assignment_config: "{{ wss_assignment_config }}",
  assignment_score: "{{ wss_assignment_score }}",
}

</script>
<script src="{% static 'js/xeditable.js' %}"></script>
<script src="{% static 'js/multitabs.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

