{% extends "education_layout.html" %}
{% load static %}

{% block infoline %}
For help on courses see the documentation <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/education" target="_blank"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{% block head_content %}
<link href="{% static 'css/course.css' %}" rel="stylesheet">
<link href="{% static 'css/dropdown.css' %}" rel="stylesheet">
<link href="{% static 'css/cardlist.css' %}" rel="stylesheet">
{% endblock %}


{# render the course cards #}
{% block content %}
<div id="listPane" class="d-flex flex-wrap justify-content-center gap-3">
    {% for ucb in coursebindinglist reversed %}
      <div class="card-container" id="card-container-{{ ucb.course.id }}">
        {% include 'student_course.html' with course=ucb.course t_assignments=ucb.assignments_table %}
      </div>
    {% empty %}
    <p>You have not been added to a course yet.</p>
    {% endfor %}
  </div>
</div>

{# a modal to start/stop/jump to project environments #}
{% include 'widgets/environments.html' %}
<script src="{% static 'js/environments.js' %}"></script>
<script src="{% static 'js/container_buttons.js' %}"></script>
<script src="{% static 'js/dropdown.js' %}"></script>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/wss.js' %}"></script>
<script>
// Save web socket urls
const wsURLs = {
  container_control: "{{ wss_container }}",
  get_containers: "{{ wss_course_container }}",
  wss_handin: "{{ wss_handin }}",
}
</script>

<script>

$(document).ready(function () {
  if (wsURLs.wss_handin) {
    wss_handin = new ManagedWebSocket(wsURLs.wss_handin, {
      onMessage: console.log,
    })
  } 
})

$(document).on('click', '[type=submit][data-submit=handin][data-id]', function() {
  let pk=$(this).data('id');
    console.log(pk)
   setTimeout(function() {
     wss_handin.send(JSON.stringify({
       'pk': pk,
     }))
   }, 200);
	$(this).attr('disabled', true);
});
</script>
{% endblock %}

