<div id="newCourseModal" class="modal fade" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newCourseModalLabel">Create a new course</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
              <div class="container">
                {% block course_plugin %}
                {% include 'course.html' with course=empty_course %}
		{% endblock %}
              </div>
            </div>
            <div class="modal-footer">
              {% include 'widgets/widget_savechanges.html' with pk=None obj='course' show=True %}
            </div>
        </div>
    </div>
</div>

{% block script_course_plugin %}{% endblock %}
