{% load container_buttons %}
{% load django_tables2 %}

<div class="container py-5">
  <div class="outer-frame shadow-lg">
    <!-- Tabs -->
    <ul class="nav nav-tabs" id="mainTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="name-tab" data-bs-toggle="tab" data-bs-target="#name" type="button" role="tab" aria-controls="name" aria-selected="true" data-toggle="tooltip" title="Teachers: {{ course.teachers }}">
          {{ course.name }}
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="assignments-tab" data-bs-toggle="tab" data-bs-target="#assignments" type="button" role="tab" aria-controls="assignments" aria-selected="false">
          Assignments
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="environments-tab" data-bs-toggle="tab" data-bs-target="#environments" type="button" role="tab" aria-controls="environments" aria-selected="false">
          Environments
        </button>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Name Tab -->
      <div class="tab-pane fade show active" id="name" role="tabpanel" aria-labelledby="name-tab">
        <div class="inner-frame">
          {{ course.description }}
              <div class="card bg-transparent border-muted h-100">
                <div class="card-body">
                  <p class="mb-3 text-secondary">Teacher{{ course.teachers|pluralize  }}: {{ course.teachers|join:", " }}</p>
                </div>
              </div>

        </div>
      </div>

      <!-- Assignments Tab -->
      <div class="tab-pane fade" id="assignments" role="tabpanel" aria-labelledby="assignments-tab">
        <div class="inner-frame">
          {% render_table t_assignments %}
    	    <button type="submit" data-id="{{course.id}}" data-submit="handin" class="position-absolute bottom-0 end-0 badge rounded-pill bg-warning shadow-sm text-dark p-2 border border-secondary" style="transform: translate(0%, 50%);">
    	      <i class="bi bi-arrow-right-square me-1"></i>Hand in
                </button>
        </div>
      </div>

      <!-- Environments Tab -->
      <div class="tab-pane fade" id="environments" role="tabpanel" aria-labelledby="environments-tab">
        <div class="inner-frame">
          {% button_environment course %}
        </div>
      </div>
    </div>
  </div>
</div>
