{% extends "layout.html" %}

{% block submenu %}
  {% with submenu="filesync" %}
    {% include "service/service_submenu.html" %}
  {% endwith %}
{% endblock %}

{% block main_content_center %}
  <div class="form-horizontal form-control">
    <h3>Connected services</h3>
    {% for s in syncservers %}
      {% with t=s|get_userz_fstoken:user %}
        <div class="card bg-light mb-3">
          <div class="card-header">
            <div class="row">
              <div class="col-8">
                {% if s.backend_type == s.TP_SEAFILE %}
	          <a href="{{ s.url }}" rel="noreferrer" target="blank" role="button" class="btn btn-secondary" data-toggle="tooltip" title="Login Seafile at {{ s.url }}" data-placement="top"><span class="oi oi-external-link" aria-hidden="true"></span></a>
                {% else %}
                  <a href="{{ s.url }}" rel="noreferrer" target="blank" role="button" class="btn btn-secondary" data-toggle="tooltip" title="Login {{s.backend_type }} at {{ s.url }}" data-placement="top"><span class="oi oi-external-link" aria-hidden="true"></span></a>
                {% endif %}
                <span class="badge badge-pill badge-secondary">{{ s.url }}</span>
                {% if t %}
                  <span class="badge badge-pill badge-info">Last updated: {{ t.last_used }}</span>
                {% else %}
                  <span class="badge badge-pill badge-warning">Make sure you login to Seafile server so your account exists there as well</span>
                {% endif %}
              </div>
              <div class="col-2">
                {% if t %}
                  <a href="{% url 'service_external:fs_resettoken' t.id %}" role="button" class="btn btn-danger" data-toggle="tooltip" title="Create a new token" data-placement="top">New token</a> <br style="margin:1ex">
                {% else %}
                  <a href="{% url 'service_external:fs_newtoken' s.id %}" role="button" class="btn btn-danger" data-toggle="tooltip" title="Create a new token" data-placement="top">New token</a> <br style="margin:1ex">
                {% endif %}
              </div>
              <div class="col-2">
                {% if t %}
                  <a href="{% url 'service_external:fs_refresh' t.id %}" role="button" class="btn btn-secondary" data-toggle="tooltip" title="Last updated: {{ t.last_used }}" data-placement="top">Refresh</a> <br style="margin:1ex">
                {% else %}
                  <a href="#" role="button" class="btn btn-disabled" data-toggle="tooltip" title="Disabled" data-placement="top">Refresh</a> <br style="margin:1ex">
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endwith %}
    {% endfor %}
  </div>
  {% load render_table from django_tables2 %}
  <form id="fsSyncForm" class="form-horizontal form-control" action="{% url 'service_external:commit_sync' %}" method="post">
  <h3> Libraries to synchronize</h3>
    {% csrf_token %}
    {% render_table tbl_libraries %}
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="apply"> Apply settings</button>
    </div>
  </form>

{% endblock %}

{% block main_content_right %}
{{block.super}}
{% endblock %}

