{% load widgets %}
{% load project_tags %}
{% load project_buttons %}
{% load container_buttons %}
{% load check_show %}

{# FIXME: read only if not admin!!! #}

<div class="card bg-ligth shadow-2-strong border border-3 shadow-light bg-light {% if project.id %}border-success{% else %}border-warning{% endif %} mb-3" data-widget="containercard" data-id="{{project.id}}" data-editable="{{is_admin}}">
    <div class="card-header d-flex justify-content-start align-items-center">
        {% render_name project user %}
	{% project_scope project is_admin=is_admin %}
    </div>
    <div class="card-body">
      {% if project %}
        {% include 'project/multitabs.html' with pk=project.id %}
      {% else %}
        {% include 'project/multitabs.html' with pk='None' %}
        <div class="d-flex justify-content-end">
	    {% include 'widgets/widget_savechanges.html' with pk='None' obj="project" %}
        </div>
      {% endif %}
    </div>
</div>

