{% extends "layout.html" %}
{% block title %}Kooplex Projects{% endblock %}

{% load static %}
{% load project_buttons %}

{% block infoline %}
Projects are a good way to collaborate with each other without much restriction. Permissions on files and folders are set in a restrictive way protecting user's own work.
<a href="https://xwiki.vo.elte.hu/en/kooplex-manual/projects"><span class="ms-2 bi bi-book"></span></a>
{% endblock %}

{% block head_content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
<link href="{% static 'hub/css/multitabs.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/inline.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/dropdown.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/cardlist.css' %}" rel="stylesheet">
<link href="{% static 'hub/css/tables.css' %}" rel="stylesheet">
{% endblock %}


{% block content %}
{# new project create or join #}
{% include 'project/new_or_join.html' %}
{# render the project cards #}
<div id="listPane" class="d-flex flex-wrap justify-content-center gap-3">
    {% for upb in userprojectbindinglist %}
      <div class="card-container" id="card-container-{{ project.id }}">
        {% include 'project/card.html' with project=upb.project projectcontainerbindings=upb.projectcontainerbindings is_admin=upb.is_admin %}
      </div>
    {% empty %}
      {% include 'empty.html' with empty_title="You have no projects yet." empty_p_before='Use the add (<i class="bi bi-plus border"></i>) button in the navbar to create your first project or join an active collaboration.' %}
    {% endfor %}
</div>


{# a modal to join a project #}
{% include 'project/fetch_joinproject_modal.html' %}

{# a modal to configure a project image #}
{% include 'container/image_selection.html' with instance="project" %}

{# a modal to configure a project collaborators #}
{% include 'widgets/select_users.html' with instance="project" %}

{# a modal to configure a project volumes #}
{% include 'volume/modal_volumes.html' with instance="project" %}
{% endblock %}


{% block scripts %}
<script src="{% static 'hub/js/inline.js' %}"></script>
<script src="{% static 'project/js/join.js' %}"></script>
<script src="{% static 'container/js/image_selection.js' %}"></script>
<script src="{% static 'hub/js/select_users.js' %}"></script>
<script src="{% static 'hub/js/buttons.js' %}"></script>
<script src="{% static 'volume/js/volume_selection.js' %}"></script>
<script src="{% static 'container/js/environments.js' %}"></script>
<script src="{% static 'container/js/controller.js' %}"></script>
<script src="{% static 'hub/js/multitabs.js' %}"></script>
<script src="{% static 'hub/js/wss.js' %}"></script> {# FIXME: we could get rid of it if js export/import properly implemented #}
<script src="{% static 'hub/js/config_register.js' %}"></script>

<script>
document.addEventListener('DOMContentLoaded', () => {
    window.wss_conf_project = new ConfigHandler(opts = {
        endpoint: "{{ wss_project_config }}",
        userid: {{ user.id }},
        request: "configure-project",
        model: "project",
        required: [ "name", "description", "preferred_image" ],
    });
    window.inlineEditor = new InlineEditor(window.wss_conf_project);
    window.imageSelector = new ImageSelectionHandler(window.wss_conf_project);
    window.mountHandler = new VolumeHandler(window.wss_conf_project);
    window.scopeButton = new DropDown(window.wss_conf_project, opts = {
        selector: ".scope-btn",
        field: "scope",
    });

    window.userHandler = new UserHandler(opts = {
        wsEndpoint: "{{ wss_project_users }}"
    });

    window.fetchContainers = new FetchContainer(opts = {
        endpoint: "{{ wss_project_container }}",
        userid: {{user.id}}
    });

    window.containerControl = new ContainerControl(opts = {
        endpoint: "{{ wss_container_control }}",
        userid: {{ user.id }}
    });

    window.fetchJoinableProjects = new FetchJoinableProjects(opts={
        endpoint: "{{ wss_project_join }}",
        userid: {{ user.id }}
    });

    $("#add").on('click', function() {
      $("#newProject").modal("show");
    });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}

