{% load extras %}
{% load container_buttons %}
{% load project_tags %}
{% load project_buttons %}
<div class="container">
    <div class="tab-container">
        <!-- Tabs -->
	<ul class="nav nav-tabs" id="dynamicTabs-{{project.id}}" role="tablist">
            <li class="nav-item" role="presentation">
                <button
		  class="nav-link active" 
		  id="tab-one-{{project.id}}" 
		  data-bs-toggle="tab" 
		  data-bs-target="#content-one-{{project.id}}" 
		  type="button" 
		  role="tab" 
		  aria-controls="content-one-{{project.id}}" 
		  aria-selected="true" 
		  data-text="Description" 
		  data-icon="bi bi-chat-left-text">
                    Description
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
		  class="nav-link" 
		  id="tab-three-{{project.id}}" 
		  data-bs-toggle="tab" 
		  data-bs-target="#content-three-{{project.id}}" 
		  type="button" 
		  role="tab" 
		  aria-controls="content-three-{{project.id}}" 
		  aria-selected="false" 
		  data-text="Collaborators" 
		  data-icon="bi bi-people">
                    <i class="bi bi-people" title="Collaborators"></i>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button 
		  class="nav-link" 
		  id="tab-four-{{project.id}}" 
		  data-bs-toggle="tab" 
		  data-bs-target="#content-four-{{project.id}}" 
		  type="button" 
		  role="tab" 
		  aria-controls="content-four-{{project.id}}" 
		  aria-selected="false" 
		  data-text="Volumes" 
		  data-icon="bi bi-folder">
                    <i class="bi bi-folder" title="Volumes"></i>
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
		  class="nav-link" 
		  id="tab-five-{{project.id}}" 
		  data-bs-toggle="tab" 
		  data-bs-target="#content-five-{{project.id}}" 
		  type="button" 
		  role="tab" 
		  aria-controls="content-five-{{project.id}}" 
		  aria-selected="false" 
		  data-text="Image" 
		  data-icon="bi bi-card-image">
                    <i class="bi bi-card-image" title="Image"></i>
                </button>
            </li>
            <li class="nav-item" role="presentation">   
               <button 
		 class="nav-link {% if new%}d-none{% endif %}" 
                 id="environments-tab-{{project.id}}"
                 data-id="{{project.id}}"
		 data-bs-toggle="tab" 
		 data-bs-target="#environments-pane-{{project.id}}" 
		 type="button" 
		 role="tab" 
		 aria-controls="environments-pane-{{project.id}}" 
		 aria-selected="true" 
		 data-text="Environments" 
		 data-icon="bi bi-boxes">
                    Environments
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button
		  class="nav-link {% if new%}d-none{% endif %}" 
		  id="tab-six-{{project.id}}" 
		  data-bs-toggle="tab" 
		  data-bs-target="#content-six-{{project.id}}" 
		  type="button" 
		  role="tab" 
		  aria-controls="content-six-{{project.id}}" 
		  aria-selected="false" 
		  data-text="Delete" 
		  data-icon="bi bi-trash">
		    <i class="bi bi-trash" title="Delete"></i>
                </button>
            </li>
        </ul>

        <!-- Tab Content -->
        <div class="tab-content multitabs">
            <div class="tab-pane fade show active" id="content-one-{{project.id}}" role="tabpanel" aria-labelledby="tab-one-{{project.id}}">
                <div class="content">
		    {% render_description project user %}
                </div>
            </div>
            <div class="tab-pane fade" id="content-three-{{project.id}}" role="tabpanel" aria-labelledby="tab-three-{{project.id}}">
		{% render_collaborators project user is_admin=is_admin %}
            </div>
            <div class="tab-pane fade" id="content-four-{{project.id}}" role="tabpanel" aria-labelledby="tab-four-{{project.id}}">
                {% render_volumes project user is_admin=is_admin %}
            </div>
            <div class="tab-pane fade" id="content-five-{{project.id}}" role="tabpanel" aria-labelledby="tab-five-{{project.id}}">
		{% button_image project "project" "preferred_image" %}
            </div>
            <div class="tab-pane fade" id="environments-pane-{{project.id}}" role="tabpanel" aria-labelledby="environments-tab-{{project.id}}">
              <div class="inner-frame">
                <div id="environmentControl-{{project.id}}" class="spinner-border" role="status"></div>
              </div>
            </div>
            <div class="tab-pane fade" id="content-six-{{project.id}}" role="tabpanel" aria-labelledby="tab-six-{{project.id}}">
		{% link_drop project user as drop_url %}
                {% if project.creator == user %}
		<p class="card-text">There are FIXME {# { project.collaborators_exclude:user|length} #} collaborators on this project and you are the owner. Are you sure you want to delete the project?
		{% include 'widgets/widget_delete.html' with msg="Are you sure you want to delete project?" tooltip="Delete project" link=drop_url obj=project %}
		</p>
		{% else %}
		<p class="card-text">You decide to leave the project?</p>
		{% include 'widgets/widget_delete.html' with msg="Are you sure you want to leave project?" tooltip="Leave project" link=drop_url obj=project %}
		{% endif %}
            </div>
        </div>
    </div>
</div>

