{% load extras %}
{% load container_buttons %}
<button 
    class="badge rounded-pill p-2 border border-1 border-dark text-dark flex-grow-1 text-start" 
    role="button"
    data-bs-toggle="tooltip" data-placement="bottom"
    title="Requested filesystem resources. Click to change mounts."
    data-name="mount" data-pk="{{container.id|default:'None'}}" data-model="container"
    >
    {% button_mount_projects container %}
    {% button_mount_courses container %}
    {% button_mount_volumes container %}
    {% if container.projects|length == 0 and container.courses|length == 0 and container.volumes|length == 0 %}
      <span><i class="bi bi-folder me-2"></i>default mounts</span>
    {% endif %}
</button>

