{% load container_buttons %}
<button 
    class="badge rounded-pill text-dark p-2 border border-1 border-dark w-100 text-start" 
    role="button"
    data-bs-toggle="tooltip" data-placement="bottom"
    title="Requested compute resources. Click to tune."
    data-pk="{{container.id|default:'None'}}" data-name="resources" data-model="container"
    >
    {% button_resource_node container %}
    {% button_resource_cpurequest container %}
    {% button_resource_gpurequest container %}
    {% button_resource_memoryrequest container %}
    {% button_resource_idletime container %}
    {% if not node and not cpurequest and not gpurequest and not memoryrequest and not idletime %} 
      <span><i class="bi bi-wrench-adjustable me-1"></i>default resources</span>
    {% endif %}
</button>

