<div id="container-seafile-{{container.id}}" class="me-2" data-orig="{{container.start_seafile}}">
    <button class="badge rounded-pill border border-1 border-dark p-2 me-2 position-relative {% if container.start_seafile %}d-none{% endif %}" 
	    name="grant" data-id="{{container.id}}" data-field="start_seafile"
            data-toggle="tooltip" title="Enable seafile login">
      <img src="{{icon}}" width="15px" alt="t">
      <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary small">off</span>
    </button>
    <button class="badge rounded-pill border border-2 border-success p-2 me-2 position-relative {% if not container.start_seafile %}d-none{% endif %}"
	    name="revoke" data-id="{{container.id}}" data-field="start_seafile"
            data-toggle="tooltip" title="Disable seafile login">
      <img src="{{icon}}" width="15px" alt="t">
      <span class="position-absolute top-0 start-100 translate-middle badge bg-success small">on</span>
    </button>
</div>
