<div id="container-teleport-{{container.id}}" class="me-2" data-orig="{{container.start_teleport}}">
    <button class="badge rounded-pill border border-1 border-dark p-2 me-2 position-relative {% if container.start_teleport %}d-none{% endif %}"
	    name="grant" data-id="{{container.id}}" data-field="start_teleport"
            data-toggle="tooltip" title="Enable teleport login">
      <img src="{{icon}}" width="15px" alt="t">
      <span class="position-absolute top-0 start-100 translate-middle badge bg-secondary small">off</span>
    </button>
    <button class="badge rounded-pill border border-2 border-success p-2 me-2 position-relative {% if not container.start_teleport %}d-none{% endif %}"
	    name="revoke" data-id="{{container.id}}" data-field="start_teleport"
            data-toggle="tooltip" title="Disable teleport login">
      <img src="{{icon}}" width="15px" alt="t">
      <span class="position-absolute top-0 start-100 translate-middle badge bg-success small">on</span>
    </button>
</div>

