{% extends "layout.html" %}

{% load staticfiles %}
{% load render_table from django_tables2 %}

{% block header_extra %}
    <link rel="stylesheet" href="{% static 'css/bootstrap-datetimepicker.min.css' %}">
{% endblock %}

{% block submenu %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSubmenu">
    <h5><span class="badge badge-secondary">{{ course }} manage assignments</span></h5>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item"><a {% if submenu == 'new' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'education:newassignment' course.id %}" {% endif %}>Create</a></li>
      <li class="nav-item"><a {% if submenu == 'bind' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'education:bindassignment' course.id %}" {% endif %}>Assign</a></li>
      <li class="nav-item"><a {% if submenu == 'collect' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'education:collectassignment' course.id %}" {% endif %}>Collect</a></li>
      <li class="nav-item"><a {% if submenu == 'feedback' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'education:feedback' course.id %}" {% endif %}>Feedback</a></li>
    </ul>
  </div>
</nav>
{% endblock %}

{% block content %}
<div>
  <div class="content">
    {% if submenu == 'new' %}
      {% include 'edu/pane-massassign.html' %}
    {% elif submenu == 'bind' %}
      {% include 'edu/pane-bind.html' %}
    {% elif submenu == 'collect' %}
       {% include 'edu/pane-collect.html' %}
    {% elif submenu == 'feedback' %}
       {% include 'edu/pane-feedback.html' %}
    {% endif %}
  </div>     <!-- tab-content -->
</div>      <!-- row -->

{% endblock %}

{% block scripts %}
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="{% static 'scripts/bootstrap-datetimepicker.min.js' %}"></script>
<script>
    $('.datetimepicker').datetimepicker();
</script>
{% endblock %}
