{% extends "layout.html" %}

{% block submenu %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <h5><span class="badge badge-secondary">The list of courses you attend</span></h5>
</div>
{% endblock %}


{% block main_content_center %}

  {% for course in user.profile.courses_attend %}
     {% include 'edu/partial.html' with container=course|get_usercoursecontainer:user url_assignment="education:submitassignment" tooltip="You can submit assignments." %}
  {% endfor %}

{% endblock %}

