<form id="assignmentbind-form-{{ course.id }}" class="form-horizontal" action="{% url 'assignment:bind' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="course_id" value="{{ course.id }}">
  {% if course.bindableassignments %}
    <div class="alert alert-warning">Select assignment and student to bind right now.</div>
    <table>
      <thead>
        <tr><td>Bind<td>Assignment(Folder)<td>Student
      </thead>
      <tbody>
      {% for a in course.bindableassignments %}
        {% for s in a.list_students_bindable %}
        <tr><td><input type="checkbox" name="binding" value="{{ a.id }}-{{ s.id }}"><td>{{ a.name }}({{ a.folder }})<td>{{ s }}
        {% endfor %}
      {% endfor %}
      </tbody>
    </table>
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="apply"> Bind</button>
    </div>
  {% else %}
    <div class="alert alert-warning">There are no candidate assignments to bind yet.</div>
  {% endif %}
</form>
