<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script language="JavaScript">
	function toggle(source) {
		  checkboxes = document.getElementsByName('userassignmentbinding_ids');
		 for(var i=0, n=checkboxes.length;i<n;i++) {
			     checkboxes[i].checked = source.checked;
			   }
	}
</script>
<script>
	$( document ).ready(function() {
		        document.getElementById('per_page').value={{ per_page }};
	});
</script>

<form id="assignmentcollect-form-{{ course.id }}" class="form-horizontal" action="{% url 'education:collectassignment' course.id %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="course_id" value="{{ course.id }}">

  {% load render_table from django_tables2 %}
    <div  class="alert alert-warning">
       <select name="per_page" id="per_page">
	    <option value="10">10</option>
	    <option value="20">20</option>
	    <option value="50">50</option>
	    <option value="100">100</option>
      </select>

      <input type="text" name="name" placeholder="Name" value="{{ search_name }}">
      <input type="text" name="username" placeholder="Username (Neptun code)" value="{{ search_username }}">
      <input type="text" name="assignment" placeholder="Assignment" value="{{ search_assignment }}">
      <button type="submit" class="btn btn-primary" name="button" value="search">Search</button>
      <input type="hidden" name="pager" value="{{ pager }}">
      <input type="hidden" name="sort" value="{{ sort }}">
    </div>
    <input type="hidden" name="pager" value="{{ pager }}">
  <input type="checkbox" onClick="toggle(this)" /> Select All<br/>
  {% if t_collect.data|length > 0 %}
    {% render_table t_collect %}
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="apply"> Collect</button>
    </div>
  {% else %}
    <div class="alert alert-warning">There are no assignment candidates to collect yet.</div>
  {% endif %}
</form>
