<form id="assignmentbind-form-{{ course.id }}" class="form-horizontal" action="{% url 'assignment:bind' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="course_id" value="{{ course.id }}">
  {% load render_table from django_tables2 %}
  {% if course.bindableassignments %}
    <div class="alert alert-warning">Select assignment and student to bind right now.</div>
      <div style="position: relative">
        {% render_table t_bind %}
      </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="apply"> Bind</button>
    </div>
  {% else %}
    <div class="alert alert-warning">There are no candidate assignments to bind yet.</div>
  {% endif %}
</form>
