<form id="assignments-feedbackform-{{ course.id }}" class="form-horizontal" action="{% url 'assignment:feedback' %}" method="post">
  {% csrf_token %}
  {% load render_table from django_tables2 %}
  {% if course.lookup_userassignmentbindings %}
    <div class="alert alert-warning">Select user assignments you finished correcting.</div>
    {% render_table t_feedback %}
    <div class="modal-footer">
      <button type="submit" class="btn btn-default" name="button" value="apply"> Feedback</button>
    </div>
  {% else %}
    <div class="alert alert-warning">There are no assignments being corrected.</div>
  {% endif %}
</form>
