<div class="card bg-light mb-3">
  <div class="card-header" id="heading-{{ course.id }}">
    {% include 'container/startopen.html' %}
    <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#collapse-{{ course.id }}" aria-expanded="true" aria-controls="collapse-{{ course.id }}" style="min-width: 15em; text-align: left;">
      <strong>{{ course.name }}</strong>
    </button>
    {% include 'container/stopremove.html' %}
    {% include 'container/containerstatus.html' %}
    <a href="{% url 'education:hide' course.id next_page %}" role="button" class="btn btn-secondary" data-toggle="tooltip" title="You can hide {{ course.name }} from your list." data-placement="top" style="padding: 3px 6px 6px 6px; float: right;">
      <span class="oi oi-eye" aria-hidden="true"></span></a>
    <button class="btn" data-toggle="collapse" data-target="#collapse-{{ course.id }}" aria-expanded="true" aria-controls="collapse-{{ course.id }}" style="float: right;">
{% if container.is_running  %}
      <span class="badge badge-pill badge-success">Using image:<strong>{{ course.image }}</strong></span>
{% else %}
      <span class="badge badge-pill badge-secondary">Using image:<strong>{{ course.image }}</strong></span>
{% endif %}
    </button>
  </div>

    <div id="collapse-{{ course.id }}" class="collapse" aria-labelledby="heading-{{ course.id }}" data-parent="#courseList">
      <div class="card-body">
        <strong>Description: </strong>{{ course.description }}<br>
        <div style="float: right;">
          <a href="{% url 'assignment:new' course.id %}" role="button" class="btn btn-secondary disabled" data-toggle="tooltip" title="You can create and manage assignments related to course {{ course.name }}." data-placement="top">
            <span class="oi oi-pencil" aria-hidden="true"></span></a>
          <a href="{% url 'education:conf_meta' course.id next_page %}" role="button" class="btn btn-secondary" data-toggle="tooltip" title="Settings of course {{ course.name }}. You can change the image, modify volume attachments." data-placement="top">
            <span class="oi oi-wrench" aria-hidden="true"></span></a>
        </div>  <!-- float //-->
      </div>   <!-- card-body -->
    </div>
  </div>

