<div class="container mt-4">
    <!-- The name widget -->
    <div class="datetime-row mb-3">  {# FIXME copy datetime-row cls #}
        <div class="icon" title="Assignment name">
            <i class="bi bi-card-heading"></i>
        </div>
        <input type="text" data-instance="{{instance}}" data-field="name" data-id="{{assignment.id}}" data-orig="{{assignment.name}}" value="{{assignment.name}}" class="form-control" placeholder="Add an assignment name"/>
        <div class="icon clear-btn d-none" title="Clear changes">
            <i class="bi bi-x"></i>
        </div>
    </div>
    <!-- Description widget -->
    <div class="position-relative">
        <textarea class="form-textarea mt-2" data-instance="{{instance}}" data-field="description" data-id="{{assignment.id}}" data-orig="{{assignment.description}}" placeholder="Provide a description">{{assignment.description}}</textarea>
        <div class="icon position-absolute top-0 start-0 badge rounded-pill bg-secondary text-white shadow-sm p-2" style="transform: translate(-50%, -50%);" title="Assignment's description">
            <i class="bi bi-journal-richtext"></i>
        </div>
    </div>
</div>
