{% load static %}
{% load render_busy from course_tags %}

<!-- templates/widgets/modal_assignment.html -->
<div id="assignmentsModal" class="modal fade assignments-modal" tabindex="-1" aria-labelledby="assignmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignmentsModalLabel">Manage assignments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
                <ul class="nav nav-tabs mt-3 mb-0 container" id="assignmentTabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab active" id="tab-new" data-bs-toggle="tab" href="#new" type="button" role="tab" aria-controls="new" aria-selected="true">New</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-config" data-bs-toggle="tab" href="#config" type="button" role="tab" aria-controls="config" aria-selected="false">Bulk</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-individual" data-bs-toggle="tab" href="#individual" type="button" role="tab" aria-controls="individual" aria-selected="false">Individual</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-summary" data-bs-toggle="tab" href="#summary" type="button" role="tab" aria-controls="summary" aria-selected="false">Summary</a>
                  </li>
                </ul>
                
                <div class="tab-content bg-light container rounded-bottom" id="assignmentTeacherTabContent">
                  <div class="tab-pane show active py-3" id="new" role="tabpanel" aria-labelledby="tab-new">{% render_busy "new" %}</div>
                  <div class="tab-pane fade py-3" id="config" role="tabpanel" aria-labelledby="tab-config">{% render_busy "config" %}</div>
                  <div class="tab-pane fade py-3" id="individual" role="tabpanel" aria-labelledby="tab-individual">{% render_busy "individual" %}</div>
                  <div class="tab-pane fade py-3" id="summary" role="tabpanel" aria-labelledby="tab-summary">{% render_busy "summary" %}</div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>


// Assignment manager Modal Logic
class AssignmentHandler {
    constructor(opts = {}) {
        this.userid = opts.userid || null;
        this.endpoint = opts.endpoint || null;
        this.modalSelector = opts.modalSelector || '#assignmentsModal';
        this.triggerSelector = opts.triggerSelector || '[name=assignment][data-pk]';

        this.wss = null;
        this.pk = null;

        this._openModal = this._openModal.bind(this);
        this._fetch = this._fetch.bind(this);
        this._callback = this._callback.bind(this);
        this._newAssignment = this._newAssignment.bind(this);
        this._configAssignment = this._configAssignment.bind(this);
        this._individualAssignment = this._individualAssignment.bind(this);

        this.init();
    }

    init() {
        if (this.endpoint) {
          this.wss = new ManagedWebSocket(this.endpoint, {
            onMessage: this._callback,
          });
	} else {
          console.log("endpoint option is not set");
	}
        $(document).on('click', this.triggerSelector, this._openModal);
        $(document).on('show.bs.tab', 'a[data-bs-toggle=tab]', this._fetch);
        $(document).on('click', 'button[data-submit=new]', this._newAssignment);
        $(document).on('click', 'button[data-submit=config]', this._configAssignment);
        $(document).on('click', 'button[data-submit=individual]', this._individualAssignment);
    }

    destructor() {
        $(document).off('click', this.triggerSelector, this._openModal);
        $(document).off('show.bs.tab', 'a[data-bs-toggle=tab]', this._fetch);
    }

    _openModal(event) {
        const $widget = $(event.target).closest(this.triggerSelector);
        const pk = $widget.data('pk');
        this.openModal(pk);
    }

    openModal(courseId) {
        this.pk = parseInt(courseId);
        const $modal = $(this.modalSelector);
        $modal.modal('show');
        let $tab = $modal.find('a[data-bs-toggle="tab"].active');
        if ($tab.length === 0) {
          $tab = $modal.find('a[data-bs-toggle="tab"]').first();
        }
        this._fetch({ target: $tab[0], currentTarget: $tab[0] });

    }

    _fetch(event) {
        const $widget = $(event.currentTarget);
        const tab = $widget.attr('aria-controls');
        this.wss.send(JSON.stringify({
          pk: this.pk,
          query: `list-${tab}`,
        }));
    }

    _newAssignment(event) {
      let folder = $("[name=selectfolder]").val();
      let description = $("[data-field=description]").val();
      let name = $("[data-field=name]").val();
      let valid_from = $("[data-field=valid_from]").val();
      let expires_at = $("[data-field=expires_at]").val();
      if (name && description && folder) {
        var attributes = { name, description, folder };
      } else {
        return
      }
      if (valid_from) { attributes.valid_from = valid_from; }
      if (expires_at) { attributes.expires_at = expires_at; }
      this.wss.send(JSON.stringify({
          pk: this.pk,
          query: 'new-assignment', attributes,
      }));
    }

    _configAssignment(event) {
      let widgets = $('[name=dustbin][data-id]:checked');
      const deleteList = widgets.map(function() {
          return $(this).data('id');
      }).get();
      if (deleteList.length) {
        this.wss.send(JSON.stringify({
            pk: this.pk,
            query: 'delete-assignment',
            remove: deleteList,
	}));
      }
      const handoutList = $("[name=handout]:checked").map(function() {
          let id=$(this).val();
          if (! deleteList.includes(id)) { return id; }
      }).get();
      if (handoutList.length) {
        this.wss.send(JSON.stringify({
            pk: this.pk,
            query: 'handout-assignment',
            handout: handoutList,
	}));
      }
      const collectList = $("[name=collect]:checked").map(function() {
          let id=$(this).val();
          if (! deleteList.includes(id)) { return id; }
      }).get();
      if (collectList.length) {
        this.wss.send(JSON.stringify({
            pk: this.pk,
            query: 'collect-assignment',
            collect: collectList,
	}));
      }
      const reassignList = $("[name=reassign]:checked").map(function() {
          let id=$(this).val();
          if (! deleteList.includes(id)) { return id; }
      }).get();
      if (reassignList.length) {
        this.wss.send(JSON.stringify({
            pk: this.pk,
            query: 'reassign-assignment',
            reassign: reassignList,
	}));
      }
      widgets = $('[data-field][data-id][data-orig][data-instance=assignment]');
      const changedWidgets = widgets.map(function() {
            const id = $(this).data('id');
            if (id==="None") { return }
            if (deleteList.includes(id)) { return }
            const field = $(this).data('field');
            const orig = $(this).data('orig');
            const value = $.trim($(this).val());
            if (value !== orig) {
                return { id, field, value, orig }
            }
      }).get();
      const groupedChanges = changedWidgets.reduce((acc, obj) => {
            let item = acc.find(item => item.id === obj.id);
            if (!item) {
                item = { id: obj.id, changed: {} }
                acc.push(item)
            }
            item.changed[obj.field] = obj.value;
            return acc;
      }, []);
      if (groupedChanges.length) {
        this.wss.send(JSON.stringify({
            pk: this.pk,
            query: 'configure-assignment',
            changes: groupedChanges,
	}));
      }
    }

    _individualAssignment(event) {
      let individual_tasks = $("[name=individual][data-todo][data-assignment][data-user]:checked").map(function() { 
      	return { todo: $(this).data('todo'), assignment_id: $(this).data('assignment'), user_id: $(this).data('user') };
      }).get();

      if ( individual_tasks.length ) {
        this.wss.send(JSON.stringify({
          pk: this.pk,
          query: 'manage-individual',
          individual: individual_tasks,
        }));
      }
    }

    _callback(message) {
      const newSelector = '[data-tab=new]';
      const confSelector = '[data-tab=config]';
      const scoreSelector = '[data-tab=summary]';
      const modalSelector = '#assignmentsModal';
      if (message.replace_widgets && (
	      Object.hasOwn(message.replace_widgets, newSelector) ||
	      Object.hasOwn(message.replace_widgets, confSelector)
        )
      ) {
          DatetimePickers.init();
      }
      if (message.replace_widgets && Object.hasOwn(message.replace_widgets, scoreSelector)) {
          window.initPopovers($(modalSelector)[0]);
      }
    }
}

</script>
