{% if state == assignment.ST_QUEUED %}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="handout_individual" data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-box-arrow-up-right" data-toggle="tooltip" title="Hand out"></span></label>
</div>
{% endif %}
<div class="form-check form-switch">
{% if state == assignment.ST_WORKINPROGRESS %}
  <input class="form-check-input" type="checkbox" name="collect_individual" data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-box-arrow-in-down-right" data-toggle="tooltip" title="Collect"></span></label>
</div>
{% endif %}
<div class="form-check form-switch">
{% if state == assignment.ST_SUBMITTED %}
  <input class="form-check-input" type="checkbox" name="reassign_individual" data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-recycle" data-toggle="tooltip" title="Reassign"</span></label>
</div>
{% endif %}


