{% if state == assignment.ST_QUEUED %}
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" name="individual" data-todo="handout"  data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-box-arrow-up-right" data-toggle="tooltip" title="Hand out"></span></label>
</div>
{% endif %}
<div class="form-check form-switch">
{% if state == assignment.ST_WORKINPROGRESS %}
  <input class="form-check-input" type="checkbox" name="individual" data-todo="collect" data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-box-arrow-in-down-right" data-toggle="tooltip" title="Collect"></span></label>
</div>
{% endif %}
<div class="form-check form-switch">
{% if state == assignment.ST_SUBMITTED or state == assignment.ST_COLLECTED %}
  <input class="form-check-input" type="checkbox" name="individual" data-toto="reassign" data-assignment="{{aid}}" data-user="{{uid}}" />
  <label class="form-check-label"><span class="bi bi-recycle" data-toggle="tooltip" title="Reassign"</span></label>
</div>
{% endif %}


