<div class="container">
  <div class="row">
    <div class="input-group log-event" id="linkedPickers1-{{assignment.id}}" data-td-target-input="nearest" data-td-target-toggle="nearest">
      <input id="valid_from-{{assignment.id}}" name="valid_from-{{assignment.id}}" type="text" class="form-control" data-td-target="#linkedPickers1-{{assignment.id}}" {{st1}}>
      <span class="input-group-text" data-td-target="#linkedPickers1-{{assignment.id}}" data-td-toggle="datetimepicker">
        <span class="bi bi-clock"></span>
      </span>
    </div>
  </div>
  <div class="row mt-2">
    <div class="input-group log-event" id="linkedPickers2-{{assignment.id}}" data-td-target-input="nearest" data-td-target-toggle="nearest">
      <input id="expires_at-{{assignment.id}}" name="expires_at-{{assignment.id}}" type="text" class="form-control" data-td-target="#linkedPickers2-{{assignment.id}}" {{st2}}>
      <span class="input-group-text" data-td-target="#linkedPickers2-{{assignment.id}}" data-td-toggle="datetimepicker">
        <span class="bi bi-bell"></span>
      </span>
    </div>
  </div>
</div>

