{% load static %}

<!-- templates/widgets/modal_assignment.html -->
<div id="assignmentsModal" class="modal fade assignments-modal" tabindex="-1" aria-labelledby="assignmentsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignmentsModalLabel">Manage assignments</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body vh-25">
                <ul class="nav nav-tabs mt-3 mb-0 container" id="assignmentTabs" role="tablist">
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab active" id="tab-new" data-bs-toggle="tab" href="#new" type="button" role="tab" aria-controls="new" aria-selected="true">New</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-config" data-bs-toggle="tab" href="#config" type="button" role="tab" aria-controls="config" aria-selected="false">Bulk</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-individual" data-bs-toggle="tab" href="#individual" type="button" role="tab" aria-controls="individual" aria-selected="false">Individual</a>
                  </li>
                  <li class="nav-item" role="presentation">
                    <a class="nav-link mytab" id="tab-summary" data-bs-toggle="tab" href="#summary" type="button" role="tab" aria-controls="summary" aria-selected="false">Summary</a>
                  </li>
                </ul>
                
                <div class="tab-content bg-light container rounded-bottom" id="assignmentTeacherTabContent">
                  <div class="tab-pane show active py-3" id="new" role="tabpanel" aria-labelledby="tab-new"></div>
                  <div class="tab-pane fade py-3" id="config" role="tabpanel" aria-labelledby="tab-config"></div>
                  <div class="tab-pane fade py-3" id="individual" role="tabpanel" aria-labelledby="tab-individual">TODO</div>
                  <div class="tab-pane fade py-3" id="summary" role="tabpanel" aria-labelledby="tab-summary"></div>
                </div>
            </div>
            <div class="modal-footer">
		<button type="submit" data-submit="finalize" class="badge rounded-pill bg-warning shadow-sm text-dark p-2 border border-secondary">
		  <i class="bi bi-arrow-right-square me-1"></i>Issue changes
                </button>
		    
            </div>
        </div>
    </div>
</div>

{#FIXME js/static #}
<script>
// Assignment manager Modal Logic
(function() {
    var pk = null
    const w=$("#assignmentsModal")

    // Handle search bar input
//    $('#search-user').on('input', function () {
//    })

    // Handle wss callback
    function callback(message) {
        if (message.f_new) {
            $("[id=new][role]").html(message.f_new)
	}
        if (message.t_assignment) {
            $("[id=config][role]").html(message.t_assignment)
	    DatetimePickers.init()
	}
        if (message.t_score) {
            $("[id=summary][role]").html(message.t_score)
	}
	if (message.t_individual) {
            $("[id=individual][role]").html(message.t_individual)
	}
    }

    // Handle modal open
    function handleOpen(courseId) {
        pk = parseInt(courseId)
        $(w).modal('show')
	wss_assignment.send(JSON.stringify({
          course_id: pk,
          query: 'list',
	}))
    }


    // Confirm user selection
    $('[type=submit][data-submit=finalize]').on('click', function() {
	let folder = $("[name=selectfolder]").val()
        // Get list of assignments to be deleted
	let widgets = $('[name=dustbin][data-id]:checked')
	const deleteList = widgets.map(function() {
            return $(this).data('id')
	}).get()

	const handoutList = $("[name=handout]:checked").map(function() {
            let id=$(this).val()
            if (! deleteList.includes(id)) { return id }
	}).get()
	const collectList = $("[name=collect]:checked").map(function() {
            let id=$(this).val()
            if (! deleteList.includes(id)) { return id }
	}).get()
	const reassignList = $("[name=reassign]:checked").map(function() {
            let id=$(this).val()
            if (! deleteList.includes(id)) { return id }
	}).get()

        // Get the list of elements
        widgets = $('[data-field][data-id][data-orig][data-instance=assignment]')
        
        // Map and filter the objects
        const changedWidgets = widgets.map(function() {
            // Extract attributes and current value
            const id = $(this).data('id')
            if (deleteList.includes(id)) { return }
            const field = $(this).data('field')
            const orig = $(this).data('orig')
            const value = $.trim($(this).val()) // Strip the value
        
            // Return an object if the values differ, otherwise return null
            if (value !== orig) {
                return { id, field, value, orig }
            }
        }).get() // Convert jQuery object to an array
        
        // Group changes by id
        const groupedChanges = changedWidgets.reduce((acc, obj) => {
            // Check if the ID already exists in the accumulator
            let item = acc.find(item => item.id === obj.id)
            if (!item) {
                // If not found, create a new entry
                item = { id: obj.id, changed: {} }
                acc.push(item)
            }
            // Add the changed field and its new value
            item.changed[obj.field] = obj.value
            return acc
        }, []) // Start with an empty array as the accumulator
        
        const newItem = groupedChanges.find(item => item.id === 'None')  //FIXME: ""
        if (newItem) {
            Object.assign(newItem.changed, { folder: folder })
        }

	let individual_tasks = $("[name=individual][data-todo][data-assignment][data-user]:checked").map(function() { 
		return { todo: $(this).data('todo'), assignment_id: $(this).data('assignment'), user_id: $(this).data('user')}
	}).get()

	if (groupedChanges.length || deleteList.length || handoutList.length || collectList.length || reassignList.length || individual_tasks.length ) {
	    wss_assignment.send(JSON.stringify({
              course_id: pk,
              query: 'configure',
              data: groupedChanges,
              remove: deleteList,
              handout: handoutList,
              collect: collectList,
              reassign: reassignList,
              individual: individual_tasks,
	    }))
	}

        // Close the modal
//        $(w).modal('hide')
//        pk = null
    })


    // Expose the functionality globally so it can be reused
    window.AssignmentHandler = {
        openModal: handleOpen,
        callback: callback,
    }

})()

$(document).ready(function () {
  if (wsURLs.assignment_config) {
    wss_assignment = new ManagedWebSocket(wsURLs.assignment_config, {
      onMessage: AssignmentHandler.callback,
    })
  } 
})

</script>
