<div class="container-resource-summary">
  <div class="container-resource-summary__heading">
    <i class="bi bi-server" aria-hidden="true"></i>

    {% if compute.has_explicit_resources %}
      <span>Resources</span>
    {% else %}
      <span>Default resources</span>
    {% endif %}
  </div>

  {% include "ui/editors/intslider/display.html" with icon="bi bi-cpu" label="CPU" value=compute.effective_cpu_request_m unit="mCPU" position=compute.cpu_display_position is_default=compute.cpu_request_is_default only %}

  {% include "ui/editors/intslider/display.html" with icon="bi bi-memory" label="Memory" value=compute.effective_memory_request_gib|floatformat:"-2" unit="GiB" position=compute.memory_display_position is_default=compute.memory_request_is_default only %}

  {% if compute.gpu_enabled %}
    <div>TODO add GPU slider display here<div>
  {% endif %}
</div>
