{% if project.userprojectbindings|length > 1 %}
<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dc-collabs-{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="oi oi-people"></i>: {{project.userprojectbindings|length}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dc-collabs-{{ project.id }}">
    {% for upb in project.userprojectbindings %}
      {% with u=upb.user %}
        {% if u != user %}
          <li><a class="dropdown-item" href="#">{{ u.username }} ({{ u.first_name }} {{ u.last_name }})</a></li>
	{% endif %}
      {% endwith %}
    {% endfor %}
  </ul>
</div>
{% endif %}

