{% load render_table from django_tables2 %}
<form id="projectSettingsForm" class="form-horizontal" action="{% url 'project:conf_environment' project.id next_page %}" method="post">
{% load render_table from django_tables2 %}
  {% csrf_token %}


  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Choose an <strong data-toggle="tooltip" data-placement="bottom" title="Images are the frameworks...">image </strong>for this project 
	      <span class="badge badge-secondary">{{ project.image }}</span></h5>
      <h6 class="card-subtitle mb-2 text-muted"> This define the basic working environment</h6>
      <div class="row" style="padding-top: 10px;">
         <select id="project_images-{{ project.id }}" name="project_image" class="form-control">
           <option value="None" {% if not project.image %} selected {% endif %}>Default image</option>
           {% for image in images %}
             {% if image.present %}
	     <option value="{{ image.name }}" {% if project.image == image %} selected {% endif %}><strong>{{ image }}</strong> - {{ image.description }}</option>
             {% endif %}
           {% endfor %}
         </select>
      </div>
       {% if project.is_running %}
       <div class="alert alert-warning" role="alert">This project {{ project }} is running. If you decide to change the image. Do not forget to restart the project container to take effect.</div>
       {% endif %}
    </div>
  </div>

  
  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Functional volumes</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Extra packages can be installed to these volumes. Visit the <a href="https://kooplex-test.elte.hu/manual/Containers/image.html">manual</a> for further informations!</h6>
      <div class="row">
      {% render_table t_volumes_fun %}
      </div>
    </div>
  </div>
  

  <div class="card" style="width: 100%;">
    <div class="card-body">
      <h5 class="card-title">Storage volumes</h5>
      <h6 class="card-subtitle mb-2 text-muted"> Large data is stored in these volumes. Visit the <a href="https://kooplex-test.elte.hu/manual/Containers/image.html">manual</a> for further informations!</h6>
      {% render_table t_volumes_stg %}
    </div>
  </div>


  <div class="modal-footer">
    <button type="submit" class="btn btn-default" name="button" value="apply"> Apply settings</button>
    <button class="btn btn-default" data-dismiss="modal" name="button" value="cancel">Cancel</button>
	
  </div>

</form>

