{% if services|length > 0 %}
<div class="dropdown" data-bs-toggle="tooltip" data-bs-placement="top" title="Service environments project {{ project.name }} is associated with">
  <a class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dc-svcs-{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="oi oi-terminal"></i>: {{services|length}}
  </a>
  <ul class="dropdown-menu" aria-labelledby="dc-svcs-{{ project.id }}">
    {% for svc in services %}
      <li><span class="dropdown-item">
        <div class="btn-group" role="group" aria-label="control buttons">
          <span>{{ svc.name }}
            {% include 'container/startopen.html' with service=svc next_page="project:list" %}
            {% include 'container/stopremove.html' with service=svc next_page="project:list" %}
	  </span>
      </span></div></li>
    {% endfor %}
  </ul>
</div>
{% endif %}


