{% extends "layout.html" %}

{% block submenu %}
  {% include 'project/project_submenu.html' with title="The list of your projects" submenu="list" %}
{% endblock %}

{% block main_content_center %}
  {% for binding in projectbindings %}
    {% with project=binding.project %}
      {% include 'project/partial.html' with next_page='project:list' services=project|get_userz_services:user %}
    {% endwith %}
  {% endfor %}
{% endblock %}

{% block main_content_right %}
{{block.super}}
{% endblock %}
