{% extends "layout.html" %}

{% block header_extra %}

<!--script src="https://kit.fontawesome.com/27d0a7c7d0.js"></script-->
<link rel="stylesheet" href="/static/fontawesome-free-5.10.2-web/css/all.css">


<style>
.card-header .btn-link {
	color: #343a40;

}
.card-header .btn-link.collapsed:before {
    content:"\f105";
}
.card-header .btn-link:before {
   content:"\f107";
    padding-right: 4px;
}
.card-header .btn:hover,
.card-header .btn:focus  {
    text-decoration:none;
    border-color: darkgrey;
}
</style>
{% endblock %}

{% block submenu %}
<div class="navbar navbar-expand-lg navbar-light bg-light">
  <h5><span class="badge badge-secondary">The list of your projects</span></h5>
</div>
{% endblock %}

{% block main_content_left %}
<iframe src="https://kooplex-fiek.elte.hu/grafana/d-solo/GSx3U1SMz/memory?orgId=1&panelId=4" width="330" height="200" frameborder="0"></iframe>
<iframe src="https://kooplex-fiek.elte.hu/grafana/d-solo/GSx3U1SMz/memory?orgId=1&theme=light&panelId=2" width="330" height="600" frameborder="0"></iframe>
{% endblock %}

{% block main_content_center %}
  {% for binding in user.profile.projectbindings %}
    {% if not binding.is_hidden %}
      {% with project=binding.project %}
         {% include 'project/partial.html' with container=project|get_userprojectcontainer:user %}
      {% endwith %}
    {% endif %}
  {% endfor %}
{% endblock %}

{% block main_content_right %}
{{block.super}}
{% endblock %}
