{% extends "layout.html" %}

{% block submenu %}
  {% include 'project/project_submenu.html' with title="The list of your projects" submenu="list" %}
{% endblock %}

{% block main_content_center %}
<div class="row row-cols-1 row-cols-md-3 g-4">
  {% for binding in projectbindings %}
    {% with project=binding.project %}
      {% include 'project/partial.html' with next_page='project:list' services=project|get_userz_services:user %}
    {% endwith %}
  {% endfor %}
</div>
{% endblock %}

{% block main_content_right %}
  {% include 'project/hint_list.html' %}
{% endblock %}
