{% extends "layout.html" %}
{% load render_table from django_tables2 %}

{% block submenu %}
  {% include 'project/project_submenu.html' with title="Show or hide your projects" submenu="showhide" %}
{% endblock %}

{% block main_content_center %}
<div class="row">
  <form id="project-manage" class="form-horizontal" action="{% url 'project:showhide' %}" method="post">
    {% csrf_token %}
    <h5>Use the switch to hide or show some of your projects</h5>
    {% if t_project.data|length > 0 %}
      {% render_table t_project %}
    {% else %}
      <p>You do not have any projects to hide or show.</p>
    {% endif %}
    {% include 'apply_cancel.html' %}
  </form>
</div> <!-- container -->
{% endblock %}

{% block main_content_right %}
  {% include 'project/hint_showhide.html' %}
{% endblock %}

{% block navsearch %}
<form class="d-flex" action="{% url 'project:sh_search' %}" method="post">
  {% csrf_token %}
  <input class="form-control me-2" type="search" name="project" placeholder="Search project" 
    {% if search_value %}  
      value="{{ search_value }}" 
    {% endif %}  
      aria-label="Search">
  <button class="btn btn-outline-secondary" type="submit" name="button" value="search">Search</button>
</form>
{% endblock %}
