<div class="modal fade" id="project-new" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="titleNewProject" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titleNewProject">Describe your new project</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id="project_new" class="form-horizontal" action="{% url 'project:new' %}" method="post">
       {% csrf_token %}
        <div class="modal-body">
          <table>
            {{ f_project_meta.as_table }}
          </table>
          <input type="hidden" name="user_id" value="{{ user.id }}">
        </div>
        <div class="modal-footer">
          {% include 'apply_cancel.html' with modal=True apply='Create' %}
        </div>
      </form>
    </div>
  </div>
</div>
