<div class="card bg-light mb-3">
  <div id="heading-{{ project.id }}" class="card-header btn btn-outline-secondary collapsed" data-toggle="collapse" data-target="#collapse-{{ project.id }}" aria-expanded="true" aria-controls="collapse-{{ project.id }}">
    <div class="row no-gutters justify-content-between">
      <div class="col-8">
        <div class="row">
          <div class="col-1 text-left">
            <i class="fas drpdn"></i>
	    <span class="badge badge-pill badge-dark">
            {% if project.scope == project.SCP_PRIVATE %}
              <i class="oi oi-key" aria-hidden="true" data-toggle="tooltip" title="Private project" data-placement="top"></i>
            {% else %}
              <i class="oi oi-cloud" aria-hidden="true" data-toggle="tooltip" title="Public project" data-placement="top"></i>
            {% endif %}
            {% if project.creator == user %}
              <i class="ri-admin-fill" aria-hidden="true" data-toggle="tooltip" title="You created it" data-placement="top"></i>
            {% else %}
              <i class="ri-team-fill" aria-hidden="true" data-toggle="tooltip" title="You are collaborator" data-placement="top"></i>
            {% endif %}
	    </span>
          </div>
          <div class="col-2 text-left">
            <strong>{{ project.name }}</strong>
          </div>
          <div class="col-9 text-left">
            {% if project.description %}
            <span class="badge badge-pill badge-dark" {% if project.description_is_long %}data-toggle="tooltip" title="{{ project.description }}" data-placement="bottom"{% endif %}>
              Description: {{ project.short_description }}
            </span>
            {% else %}
            <span class="badge badge-pill badge-warning">
              Please provide a description to your project
            </span>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-2 text-right">
        {% if project.reports|length > 0 %}
          <span class="badge badge-pill badge-dark" aria-hidden="true" data-toggle="tooltip" title="Reports" data-placement="top"><i class="oi oi-graph"></i>: {{project.reports|length}}</span>
        {% endif %}
        {% if project.userprojectbindings|length > 1 %}
          <span class="badge badge-pill badge-dark" aria-hidden="true" data-toggle="tooltip" title="Collaborators" data-placement="top"><i class="oi oi-people"></i>: {{project.userprojectbindings|length}}</span>
        {% endif %}
        {% if services|length > 0 %}
          <span class="badge badge-pill badge-dark" aria-hidden="true" data-toggle="tooltip" title="Service environments" data-placement="top"><i class="oi oi-terminal"></i>: {{services|length}}</span>
        {% endif %}
      </div>
    </div>
  </div>

  <div id="collapse-{{ project.id }}" class="collapse" aria-labelledby="heading-{{ project.id }}" data-parent="#projectList">
    <div class="card" style="margin: 10px">
      <div class="card-header">Control: 
        <div style="float: right;">
          {% if project|is_admin:user %}
            <a href="{% url 'project:configure' project.id %}" role="button" class="btn btn-secondary myctrl"><span class="oi oi-wrench" aria-hidden="true" data-toggle="tooltip" title="Settings of project {{ project.name }}. You can modify collaboration and bind environments." data-placement="top" ></span></a>
          {% else %}
            <a href="#" role="button" class="btn btn-secondary myctrl disabled"><span class="oi oi-wrench" aria-hidden="true" data-toggle="tooltip" title="You don't have permission to configure project {{ project.name }}." data-placement="top" ></span></a>
          {% endif %}
	  {% if binding.is_hidden %}
            <a href="{% url 'project:show' project.id %}" role="button" class="btn btn-secondary myctrl"><span class="oi oi-eye" aria-hidden="true" data-toggle="tooltip" title="You can unhide {{ project.name }}." data-placement="top"></span></a>
	  {% else %}
            <a href="{% url 'project:hide' project.id %}" role="button" class="btn btn-secondary myctrl"><span class="oi oi-eye" aria-hidden="true" data-toggle="tooltip" title="You can hide {{ project.name }} from your list." data-placement="top"></span></a>
	  {% endif %}
	  {% comment %}
          <a href="{% url 'project:delete' project.id %}" role="button" class="btn btn-danger myctrl"><span class="oi oi-trash" aria-hidden="true" data-toggle="tooltip" title="Delete project {{ project.name }}." data-placement="top"></span></a>
	  <a href="#" data-toggle="modal" data-target="#confirm-{{ project.id }}" role="button" class="btn btn-danger myctrl"><span class="oi oi-trash" aria-hidden="true" data-toggle="tooltip" title="Delete project {{ project.name }}." data-placement="top"></span></a>
	  {% with "Do you really want to delete project "{{ project.name }}"?" as message %}
	  {% include 'confirm.html' with cid=project.id title="Delete project" url_ok="#" %}
	  {% endwith %}
	  {% endcomment %}
          <a href="{% url 'project:delete' project.id %}" role="button" class="btn btn-danger myctrl" onclick="return confirm('Are you sure?');"><span class="oi oi-trash" aria-hidden="true" data-toggle="tooltip" title="Delete project {{ project.name }}." data-placement="top"></span></a>
        </div>
      </div>
      <div class="card-body">
        <div class="card-deck">
          <div class="card">
            {% if project.userprojectbindings|length == 0 %}
              <h5 class="card-title">No collaborators</h5>
            {% else %}
              <h5 class="card-title">Project collaborators</h5>
              {% for b in project.userprojectbindings %}
	      <p><span data-toggle="tooltip" title="Username {{ b.user.username }}" data-placement="bottom">{{ b.user.first_name }} {{ b.user.last_name }}</span> {{ b.role }}</p>
              {% endfor %}
            {% endif %}
          </div>
          <div class="card">
            {% if services|length == 0 %}
              <h5 class="card-title">Environments associated</h5>
            {% else %}
              <h5 class="card-title">Environments</h5>
              {% for svc in services %}
	        <div class="card-body">
                  <span data-toggle="tooltip" title="Image: {{ svc.image }}">{{ svc.name }}</span>
                  <div style="float: right;">
                    {% include 'container/startopen.html' with service=svc next_page="project:list" %}
                    {% include 'container/stopremove.html' with service=svc next_page="project:list" %}
                  </div>
	        </div>
              {% endfor %}
            {% endif %}
          </div>
          <div class="card">
            {% if project.reports|length == 0 %}
              <h5 class="card-title">No project reports</h5>
            {% else %}
              <h5 class="card-title">Reports</h5>
		   <form method="POST" action="{% url 'report:list'  %}">
	              {% csrf_token %}
			   <input type="hidden" name="name" value="Data">
			   <input type="submit" name="barmi" value="Show reports for this project">
		   </form>
              {% for r in project.reports %}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

