{% comment %}
{% load custom_tags %}
{% endcomment %}

{% if caller == 'teacher' %}
  {% include 'project/settings.html' with enable_image=1 enable_modulevolume=1 enable_storagevolume=1 %}
{% comment %}
  {% include 'edu/assignments.html' %}
{% endcomment %}
{% endif %}
{% if caller == 'student' %}
  {% include 'edu/assignment_submission.html' %}
{% endif %}

{% if container.is_running  %}
<div class="panel panel-success" style="margin-bottom: 3px">
{% else %}
<div class="panel panel-default" style="margin-bottom: 3px">
{% endif %}
  <div class="panel-heading" style="padding: 5px 5px;">
    <div class="row">
        {% include 'container/startopen.html' %}
        <a data-toggle="collapse"  href="#collapse{{ project.id }}" style="text-decoration: none; color: gray">
        <div class="col-md-11 col-sm-10" style="padding: 0px 30px 0px 30px;">
          {% include 'container/containerstatus.html' %}
          <strong>{{ project.name }}</strong>
          <div style="float: right;">
            <span class="badge"> Using image:<strong>{{ project.image }}</strong></span>
            {% include 'container/stopremove.html' %}
            </div>
        </div>
      </a>
    </div>
  </div>

  <div id="collapse{{ project.id }}" class="panel-collapse collapse">
    <div class="panel-body">
      <strong>Description: </strong>{{ project.description }}<br>
{% if caller == 'teacher' or caller == 'student' %}
      <strong>Flag: </strong>
      {% for flag in project.course|lookup_usercourseflags:user %} {{ flag }}, {% endfor %}
{% endif %}
      {% if caller == 'teacher' or caller == 'projectowner' %}
      <div style="float: right;">
        {% if caller == 'teacher' %}
        <!-- a href="#" data-toggle="modal" data-target="#assignments-{{ project.id  }}" -->
        <a href="{% url 'teaching:assignment' project.id %}">
          <button role="button" type="button" class="btn btn-info" data-toggle="tooltip" title="You can create and manage assignments related to course {{ project.name }}." data-placement="top">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button></a>
        {% endif %} {% comment %} TODO: in else branch we can add reporting button {% endcomment %}
        <a href="#" data-toggle="modal" data-target="#project-settings-{{ project.id  }}">
          <button role="button" type="button" class="btn btn-info" data-toggle="tooltip" title="Settings of project {{ project.name }}. You can change the image, modify volume attachments." data-placement="top">
            <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
          </button></a>
        <a href="{% url 'project:hide' project.id %}">
          <button role="button" type="button" class="btn btn-info" data-toggle="tooltip" title="You can hide {{ project.name }} from your list. The related container will be stopped and removed." data-placement="top">
            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
          </button></a>
      </div>  <!-- float //-->
      {% endif %}
      {% if caller == 'student' %} <!-- FIXME: only when active assignments are there -->
      <div style="float: right;">
        <a href="#" data-toggle="modal" data-target="#assignments-submit-{{ project.id  }}">
          <button role="button" type="button" class="btn btn-info" data-toggle="tooltip" title="You can upload your assignments related to course {{ project.name }}." data-placement="top">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </button></a>
      </div>  <!-- float //-->
      {% endif %}
    </div>    <!-- panel-body //-->
  </div>      <!-- collapse //-->
</div>        <!-- panel //-->
