<style>
a.active {
    background-color: #ccc;
    border-radius: 5px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSubmenu">
     <div class="col-3">
       <h5><span class="badge badge-secondary">{{ title }}</span></h5>
     </div>
     <div class="col-8">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#project-new">New project</a></li>
          <li class="nav-item"><a {% if submenu == 'join' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:join' %}" {% endif %}>Join a project</a></li>
          <li class="nav-item"><a {% if submenu == 'list' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:list' %}" {% endif %}>List projects</a></li>
          <li class="nav-item"><a {% if submenu == 'showhide' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:showhide' %}" {% endif %}>Show/hide projects</a></li>
        </ul>
     </div>
  </div>
</nav>
