<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSubmenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSubmenu">
     <div class="col-3">
       <h5><span class="badge bg-secondary">{{ title }}</span></h5>
     </div>
     <div class="col-8">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#project-new">New project</a></li>
          <li class="nav-item"><a {% if submenu == 'join' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:join' %}" {% endif %}>Join a project</a></li>
          <li class="nav-item"><a {% if submenu == 'list' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:list' %}" {% endif %}>List projects</a></li>
          <li class="nav-item"><a {% if submenu == 'showhide' %} class="nav-link active" href="#" {% else %} class="nav-link" href="{% url 'project:showhide' %}" {% endif %}>Show/hide projects 
            {% with x=user.profile.number_of_hidden_projects %}
              {% if x %}
                <span class="badge bg-secondary" data-bs-toggle="tooltip" title="The number of hidden projects">{{ x }}</span>
	      {% endif %}
	    {% endwith %}
          </a></li>
	  {% comment %}
	  <li class="nav-item"><a {% if submenu == 'configure' %} class="nav-link active" href="#" {% else %} class="nav-link" href="#" {% endif %}>Configure project </a></li>
	  {% endcomment %}
        </ul>
     </div>
     <div class="col-1">
       <div class="d-flex justify-content-end">
	 {% if user.layout.project_list %}
           <a href="{% url 'project:layout_flip' %}" class="text-dark"><span class="oi oi-grid-two-up"></span></a>
	 {% else %}
           <a href="{% url 'project:layout_flip' %}" class="text-dark"><span class="oi oi-list"></span></a>
	 {% endif %}
       </div>
     </div>
  </div>
</nav>
