{% if project.reports|length > 0 %}
<div class="dropdown">
  <button class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" id="dc-reports-{{ project.id }}" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="oi oi-graph"></i>: {{project.reports|length}}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dc-collabs-{{ project.id }}">
    {% for r in project.reports %}
      {% if r.service.state == r.service.ST_RUNNING %}
        <li><a class="dropdown-item" href="{% url 'report:openreport' r.id %}" target="_blank"><span class="oi oi-external-link" aria-hidden="true"> {{ r.name }} by {{ r.creator.profile.name_and_username }}</span> </a></li>
      {% else %}
        <li><a class="dropdown-item" href="#"><span class="oi oi-link-broken" aria-hidden="true"> {{ r.name }} by {{ r.creator.profile.name_and_username }}</span> </a></li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
{% endif %}
