{% if project.containers|length == 0 %}
  <a href="#" role="button" class="btn btn-warning" style="padding: 3px 6px 6px 6px; float: right;" data-toggle="tooltip" title="Missing environment"><span class="oi oi-x" aria-hidden="true"></span></a>
{% elif project.containers|length == 1 %}
  {% include 'container/stopremove.html' with container=project.containers|first %}
{% else %}
  <div class="btn-group" style="padding: 3px 6px 6px 6px; float: right;">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"></button>
    <div class="dropdown-menu">
    {% for container in project.containers %}
      {% if container.state == container.ST_RUNNING %}
      <a class="dropdown-item" href="{% url 'service:stop' container.id next_page %}" class="btn btn-danger"><span class="oi oi-x" aria-hidden="true"> Stop {{ container.name }}</span></a>
      {% elif container.state == container.ST_ERROR %}
      <a class="dropdown-item" href="{% url 'service:stop' container.id next_page %}" class="btn btn-danger"><span class="oi oi-x" aria-hidden="true"> Stop {{ container.name }}</span></a>
      {% else %}
      <a class="dropdown-item" class="btn btn-default disabled" href="#"><span class="oi oi-link-broken" aria-hidden="true"> {{ container.name }}</span></a>
      {% endif %}
    {% endfor %}
    </div>
    {% with fc=project.containers|first %}
      {% if fc.state == fc.ST_RUNNING %}
    <button type="button" class="btn btn-danger"><a href="{% url 'service:stop' fc.id next_page %}" role="button" class="btn-danger" data-toggle="tooltip" title="Stop environment {{ fc.name }}"><span class="oi oi-x" aria-hidden="true"></a></button>
      {% elif fc.state == container.ST_ERROR %}
    <button type="button" class="btn btn-danger"><a href="{% url 'service:stop' fc.id next_page %}" role="button" class="btn-danger" data-toggle="tooltip" title="Cleanup resources of environment {{ fc.name }}"><span class="oi oi-x" aria-hidden="true"></a></button>
      {% else %}
    <button type="button" class="btn btn-outline-secondary"><a href="#"><span class="oi oi-link-broken" aria-hidden="true"></a></button>
      {% endif %}
    {% endwith %}
  </div>
{% endif %}
