{% extends 'storage_layout.html' %}
{% load static %}
{% load extras %}

{% block realcontent %}
<div class="container mt-2">
  <form id="attachment_new" class="form-horizontal was-validated card bg-light border-secondary shadow p-3" action="{% url 'container:new_attachment' %}" method="post">
    {% csrf_token %}
    {% title "Create a new attachment" %}
    <table>
       {{ form.as_table }}
    </table>
    {% apply_cancel label_apply="Create" icon_apply="bi bi-check-circle-fill" color_apply="btn-success" %}
  </form>
</div>
{% endblock %}
