{% extends "storage_layout.html" %}
{% load static %}

{% block realcontent %}
{% if attachments %}
  <input class="form-control me-2 mb-3 mt-3" type="text" id="search_attachment" placeholder="Search attachment" title="Type in a name" autofocus >
  <div id="attachmentListPane" >
  {% for attachment in attachments %}
    {% include 'attachment_partial_list.html' %}
  {% endfor %}
  </div>    
{% else %}
  {% include 'empty.html' %}
{% endif %}
{% endblock %}

{% block scripts %}
<script>
$("#search_attachment").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $("input[id^='attachment-dump-'").each(function() {
  console.log( this );
    var attachmentid = $( this ).attr('id').split('-')[2];
    var hide_it = true;
    var card = $("#card-" + attachmentid);
    if (pattern.length > 0) {
      var name = $( this ).attr("value").toUpperCase();
      if ( name.indexOf(pattern) > -1 ) {
        hide_it = false;
      }
    } else {
      hide_it = false;
    }
    if (hide_it) {
      $( card ).hide();
    } else {
      $( card ).show();
    }
  });
});
</script>
{% endblock %}
