{% extends 'storage_layout.html' %}

{% load static %}

{% block realcontent %}
<div class="container mt-2">
  <form id="attachment_new" class="form-horizontal was-validated" action="{% url 'container:new_attachment' %}" method="post">
  <h5>Create a new attachment</h5>
  <form id="attachment_new" class="form-horizontal" action="{% url 'container:new_attachment' %}" method="post">
   {% csrf_token %}
   <table>
     {{ form.as_table }}
   </table>
   {% include 'apply_cancel.html' with hide_cancel=True apply='Create' %}
  </form>
</div>
{% endblock %}
