{% extends "layout.html" %}

{% block page_title %}Kooplex Environment{% endblock %}

{% block help %} 
  {% include 'containerhelp.html' %}
{% endblock %}


{% block submenu %}
<ul class="navbar-nav flex-row flex-md-row">
  <li class="ms-3 nav-item text-center">
    <a data-toggle="tooltip" title="New environment" data-placement="bottom" class="nav-link {% if submenu == 'new' %}active active border-2 border-bottom{% endif %}" href="{% url 'container:new' %}"><i class="bi bi-basket3"></i><span class="d-none d-md-block">&nbsp;New environment</span></a>
  </li>
  <li class="ms-3 nav-item text-center">
    <a data-toggle="tooltip" title="List environment" data-placement="bottom" class="nav-link {% if submenu == 'list' %}active active border-2 border-bottom{% endif %}" href="{% url 'container:list' %}"><i class="bi bi-bag-dash"></i><span class="d-none d-md-block">&nbsp;List environment</span></a>
  </li>
</ul>
{% endblock %}

