{% extends 'container_layout.html' %}

{% load static %}
{% load extras %}



{% block realcontent %}
<div class="container mt-2">
  <form id="service_new" class="form-horizontal was-validated" action="{% url 'container:new' %}" method="post">
  {% csrf_token %}
  <div class="card bg-light border-secondary shadow p-3">
    {% title "Set the details of your new environment" %}
    <div class="d-flex flex-column flex-md-row">
      <div class="flex-fill w-100 w-md-75">
        <table>
          {{ form.as_table }}
        </table>
      </div>
      <div class="flex-fill d-flex ms-3 w-100 w-md-50">
        <div ata-toggle="tooltip" title="Please select an option from the image dropdown to check its description."  class="d-flex bg-warning rounded p-2 w-100 mt-2 mt-md-0">
          <p class="fw-bolder">Image description:&nbsp;</p>
          <p id="imageDescription"></p>
        </div>
	{{ form.descriptions }}
      </div>
    </div>
    {% apply_cancel hide_cancel=True label_apply='Create' icon_apply='bi bi-boxes' %}
  </div>
  </form>
</div>
{% endblock %}

{% block scripts %}
<script>
$("select[name='image'").change(function() {
    $( "select option:selected" ).each(function() {
        var id = $(this).attr("value");
        console.log( $( this ).text() + " -> " + id);
	if (id === "") {
	    $("#imageDescription").text("");
	} else {
	    var description = $("#image-description-" + id).attr("value");
	    $("#imageDescription").text(description);
	}
    });
}).change();
</script>
{% endblock %}
