{% extends "container_layout.html" %}

{% load static %}


{% block realcontent %}
  {% if containers %}
    <input class="form-control me-2 mb-3 mt-3" type="text" id="search_container" placeholder="Search environments" title="Type in a name" autofocus >
    <div id="containerListPane" >
    {% for container in containers %}
       {% include partial %}
    {% endfor %}
    </div>
  {% else %}
    {% include 'empty.html' %}
  {% endif %}
{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
  $.cookie("next_page", "container:list", { 'path': '/', 'secure': true });
  var uf = $.cookie("unfold_container");
  if ( uf === undefined ) {
    $.cookie("unfold_container", JSON.stringify([]), { 'path': '/', 'secure': true });
    console.log('undefined');
  } else {
    $.each(JSON.parse(uf), function(index, value) {
      console.log( value );
      $("#collapse-" + value).collapse();
    });

  }
});
$("#search_container").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $("span[id^='container-name-'").each(function() {
  console.log( this );
    var containerid = $( this ).attr('id').split('-')[2];
    var hide_it = true;
    var card = $("#card-" + containerid);
    if (pattern.length > 0) {
      var name = $( this ).html().toUpperCase();
      if ( name.indexOf(pattern) > -1 ) {
        hide_it = false;
      }
    } else {
      hide_it = false;
    }
    if (hide_it) {
      $( card ).hide();
    } else {
      $( card ).show();
    }
  });
});
$("div[data-bs-target^='#collapse-").mouseover(function() {
  $(this).css("font-weight", "bold");
  $(this).css("cursor", "pointer");
});
$("div[data-bs-target^='#collapse-").mouseout(function() {
  $(this).css("font-weight", "normal");
});
$("div[data-bs-target^='#collapse-").click(function() {
  var tgt = $(this).attr("data-bs-target");
  var oid = tgt.split('-')[1];
  console.log( tgt + "->" + oid );
  setTimeout(function() {
    var uf = JSON.parse( $.cookie("unfold_container") );
    if ( $(tgt).hasClass('show') ) {
      console.log('shown');
      uf.push(oid);
    } else {
      console.log('collapsed');
      uf.pop(oid);
    }
    var clean = uf.filter(function(element, index, self){
      return index === self.indexOf(element);
    });
    $.cookie("unfold_container", JSON.stringify(clean), { 'path': '/', 'secure': true });
  }, 1000);
});
</script>
{% endblock %}
