{% extends "container_layout.html" %}

{% load static %}

{% block head_content %}
  <!-- bootstrap-toggler requirement -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
  <link href="{% static 'css/xeditable.css' %}" rel="stylesheet">
{% endblock %}

{# render the container cards #}
{% block bodycontent %}
<div id="containerListPane" class="row row-cols-1 row-cols-md-2 row-cols-lg-3 w-100 mx-auto justify-content-center">
    {% for container in containers %}
      <div class="col opacity-75" id="card-container-{{ container.id }}">
        {% include 'container.html' %}
      </div>
    {% endfor %}
    {# new container create button #}
    <div class="col opacity-75">
      {% include 'container.html' %}
    </div>
</div>
<script src="{% static 'js/container_buttons.js' %}"></script>

{# a modal to configure a container or display its logs #}
<div class="modal modal-xl fade" id="containerInfoModal" tabindex="-1" aria-labelledby="containerInfoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="container-manage" class="form-horizontal was-validated" 
            action="{{ url_post }}"
            method="post">
        {% csrf_token %}
	<input type="hidden" id="containerid" name="containerid" value="{{ container_id }}">
	{% block form %}
	<div id="containerInfoModal-content"></div>
	{% endblock %}
      </form>
    </div>
  </div>
</div>

{# a modal to configure a container image #}
<script src="{% static 'js/container_changes.js' %}"></script>
{% include 'widgets/image_selection.html' %}
<script src="{% static 'js/image_selection.js' %}"></script>

{# a modal to configure a container compute resources #}
{% include 'widgets/compute_resource_selection.html' with form=resource_form %}
<script src="{% static 'js/computeresource_selection.js' %}"></script>

{# a modal to configure a container filesystem resources #}
{% include 'widgets/file_resource_selection.html' %}
<script src="{% static 'js/fileresource_selection.js' %}"></script>

{# a modal to dump logs #}
{% include 'widgets/fetchlogs.html' %}
<script src="{% static 'js/fetchlogs.js' %}"></script>

{% endblock %}


{% block scripts %}
<script>
// Save web socket urls
const wsURLs = {
  container_fetchlog: "{{ wss_container_fetchlog }}",
  container_control: "{{ wss_container_control }}",
  container_config: "{{ wss_container_config }}",
  monitor_node: "{{ wss_monitor_node }}"
}

$(document).ready(function() {
    // Example initialization, assuming `containers` is passed from Django context
    {% for container in containers %}
        updateButtons({{ container.id }}, "", "{{ container.state }}")
        updateTeleportButton({{ container.id }}, "{{ container.teleport }}")
    {% endfor %}
    updateTeleportButton("new", "grant")
});
</script>
<script>

{% if form %}
$(document).ready(function() {
  m = $("#containerInfoModal")
  console.log( m )
  m.modal("show")
})
{% endif %}

var containerSocketS = open_ws(wsURLs['container_config'], ws_callback)
var containerSocket = open_ws(wsURLs['container_control'], ws_callback)

{# make sure search string we got gets applied #}
$("#search_container").keyup();

{# open a container #}
function open_container(url) {
  console.log( "opening: " + url )
  var win = window.open(url, '_blank')
  if (win) {
    win.focus()
  }
}


{# handle websocket callback #}
function ws_callback(data) {
  console.log(data);
  container_id = data['container_id'];
  if ('overwrite' in data) {
    $widget=$("#"+data["overwrite"])
    if ($widget.length === 0) { // FIXME ugly code
	    if (data["overwrite"]==="container_image_update_name") { container_image_update_name(container_id, data["value"]) }
    } else {
      $widget.text(data["value"])
    }
    return
  }
  if ('container_state' in data) {
    container_state = data['container_state'];
    updateButtons(container_id, "", container_state)
  }
  if ('container_state_backend' in data) {
    updateContainerState(container_id, data['container_state_backend'])
  }
}


{# catch modal close event #}
click_x = false
$("#containerInfoModal").on("hidden.bs.modal", function (ev, o) {
  url_list = '{{ url_list }}#'
  if (click_x) {
    click_x = false
    if (! window.location.href.endsWith(url_list)) {
      window.location.href = url_list
    }
  } else {
    if (! window.location.href.endsWith(url_list)) {
      if (confirm('Are you sure you want to discard changes?')) {
        window.location.href = url_list
      } else {
        $("#containerInfoModal").modal("show")
      }
    }
  }
});

{# start/restart/stop/open a container, or refresh log clicked in the modal #}
function handle_click(command, containerid) {
  //containerid = $(w).parent().attr('id').split('-')[2];
  //command = $(w).children("input[name=target]").val();
  if (command == "open") {
    open_container(containerid);
    return;
  }
  if (containerSocket.readyState != 1) {
    console.log("Socket not open: " + containerSocket.readyState);
    containerSocket = open_ws('{{ wss_container }}', ws_callback);
  }
  console.log( command + ": " + containerid );
  containerSocket.send(JSON.stringify({
    pk: containerid,
    request: command,
  }));
}

{# on mouse over the card show the buttonbars #}
$("div[id^=card-container-]").mouseenter(function() {
  $(this).addClass("opacity-100")
  $(this).removeClass("opacity-75")
});

{# hide buttons on mouse leaving the card #}
$("div[id^=card-container-]").mouseleave(function() {
  $(this).addClass("opacity-75")
  $(this).removeClass("opacity-100")
});

{# check if the card belongs to a running container #}
//function is_running(w) {
//  var containerid = $(w).attr('id').split('-', 3)[2];
//  return ! $("#container-open-" + containerid).hasClass('d-none');
//  //return ! $("#container-open-" + containerid).hasClass('d-opacity20');
//}

//FIXME: maybe this is something to be put in common
{# make sure socket is open #}
function check_sock(sock, wss, callback) {
  if (sock.readyState != 1) {
    console.log("Socket not open: " + sock.readyState)
    sock = open_ws(wss, callback)
    console.log("and now: " + sock.readyState)
  }
  return sock
}

{# handle container configuration #}
//function configure(cid) {
//  s = check_sock(containerSocket, '{{ wss_container }}', ws_callback)
//  s.send(JSON.stringify({
//    'command': 'configure',
//    'container-id': cid,
//  }));
//	containerSocket = s
//}

//  {# clickng the card header/body opens the environment #}
//  $("div[id^=click-]").click(function() {
//    if (is_running(this)) {
//      open_container( $( this ).attr("id").split("-", 3)[2] );
//    }
//  });

</script>
<script src="{% static 'js/xeditable.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}
