{% extends 'container_layout.html' %}

{% load static %}
{% load extras %}


{% block bodycontent %}
<div class="container">
  <form id="service_new" class="form-horizontal was-validated" action="{% url 'container:new' %}" method="post">
  {% csrf_token %}
  <div class="card bg-light border-secondary shadow p-3">
    {% title "Set the details of your new environment" %}
    <div class="d-flex flex-column flex-md-row">
      <div class="flex-fill w-100 w-md-75">
        <div class="progress d-none" id="busybar" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 100%"></div>
        </div>
        <table>
          {{ form.as_table }}
        </table>
      </div>
      <div class="flex-fill d-flex ms-3 w-100 w-md-50">
        <div ata-toggle="tooltip" title="Please select an option from the image dropdown to check its description."  class="d-flex bg-warning rounded p-2 w-100 mt-2 mt-md-0">
          <p class="fw-bolder">Image description:&nbsp;</p>
          <p id="imageDescription"></p>
        </div>
	{{ form.descriptions }}
      </div>
    </div>
    {% apply_cancel hide_cancel=True label_apply='Create' icon_apply='bi bi-boxes' %}
  </div>
  </form>
</div>

{% endblock %}

{% block scripts %}
<script>
containerSocket = open_ws('{{ wss_container }}', ws_callback);

{# when image selection changes, display the details in info panel #}
$("select[name='image']").change(function() {
    $( "select[name='image'] option:selected" ).each(function() {
        var id = $(this).attr("value");
        console.log( $( this ).text() + " -> " + id);
	if (id === "") {
	    $("#imageDescription").text("");
	} else {
	    var description = $("#image-description-" + id).attr("value");
	    $("#imageDescription").text(description);
	}
    });
}).change();

{# handle websocket callback #}
function ws_callback(data) {
  //console.log(data);
  var command = data['command'];
  var msg = data['message'];
  var containerid = data['container-id'];
  //console.log('SOCK: --> ' + command + ": " + msg);
  if (command == 'monitor-node') {
    console.log(data);
    $("input[name='cpurequest']").attr("max", data["avail_cpu"]);
    $("input[name='memoryrequest']").attr("max", data["avail_memory"]);
    $("input[name='gpurequest']").attr("max", data["avail_gpu"]);
    $("#thresholdhigh-cpurequest").text(data["total_cpu"]);
    $("#thresholdhigh-memoryrequest").text(data["total_memory"]);
    $("#thresholdhigh-gpurequest").text(data["total_gpu"]);
    selected = $( "select[name='node'] option:selected" )[0];
    sel_node = $(selected).val();
    if (sel_node == data['node'] || (sel_node == '')) {
        $("#busybar").addClass("d-none");
        $("input[name$='request'").each(function() { 
          if ($(this).attr("max") > 0) {
	    $(this).attr('disabled', false ) 
	  }
	});
    }
  }
};

{# when node selection changes, retrieve node details #}
$("select[name='node']").change(function() {
    $( "select[name='node'] option:selected" ).each(function() {
        var node = $(this).attr("value");
        if (containerSocket.readyState != 1) {
          console.log("Socket not open: " + containerSocket.readyState);
          containerSocket = open_ws('{{ wss_container }}', ws_callback);
        }
	if (node != "") {
          containerSocket.send(JSON.stringify({
            'command': 'monitor-node',
            'node': node,
          }));
	  $("#busybar").removeClass("d-none");
	  $("input[name$='request'").each(function() { $(this).attr('disabled', true ) });
	}
    });
}).change();
</script>
{% endblock %}
