{% load buttons %}
{% load check_show %}


<div class="col">
  <div class="card bg-light mt-3 border-success shadow search" id="{{ container.friendly_name }}">
    <div class="card-header">
      <h5 class="card-title">{{ container.friendly_name }}
      </h5>
    </div>
          <div style="margin-left: 5px; margin-top: 10px">
        {% container_image container %}
            </div>
    <div class="card-body">
      <p class="card-text"><strong>Information:</strong>
	  {% projects projects=container.projects %}
	  {% courses courses=container.courses %}
	  {% attachments attachments=container.attachments %}
	  {% if container.report %}
	  <span class="badge rounded-pill bg-secondary" aria-hidden="true" data-bs-toggle="tooltip" 
		title="Report service environment for {{ container.report.name }}"
                data-placement="top"><i class="oi oi-graph"></i> {{container.report.name}}</span>
          {% elif container.projects|length == 0 and container.courses|length == 0 %}
	  <span class="badge rounded-pill bg-warning"><i class="oi oi-warning"></i>
            Not bound to any projects, courses or report.
          </span>
          {% endif %}
          {% if container.synced_libraries|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Synchron folders:
{% for l in container.synced_libraries %}
{{ l.library_name }} from server {{ l.token.syncserver.url }}
{% endfor %}" data-placement="top"><i class="ri-refresh-fill"></i> {{container.synced_libraries|length}}</span>
          {% endif %}
          {% if container.repos|length > 0 %}
            <span class="badge rounded-pill bg-dark" aria-hidden="true" data-bs-toggle="tooltip" title="Version control repositories:
{% for r in container.repos %}
{{ r.project_name }} from server {{ r.token.repository.url }}
{% endfor %}" data-placement="top"><i class="ri-git-repository-line"></i> {{container.repos|length}}</span>
          {% endif %}
      </p>
      {% container_restart_reason container %}
      {% container_last_message container %}
    </div>
    <div class="card-footer">
      <div class="row">
      <div>
        <div style="display: flex;">
        <div style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">        {% button_start_open container next_page="container:list" %}
        </div>
        <div style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">        {% button_restart container next_page="container:list" %}
        </div>
        <div style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">         {% button_stop container next_page="container:list" %}
        </div>
        <div  style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">        {% button_refreshlog container next_page="container:list" %}
        </div>
        {% if not container.report %}
        <div style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">	  {% button_configure container %}
        </div>
        <div style="width: 50px; height: 30px; padding-right: 5px; margin-top: 10px">	           {% button_delete_container container next_page %}
        </div>
  </div>
        {% endif %}
      </div>
      </div>
    </div>
  </div>
</div>

