{% extends "container_layout.html" %}

{% load static %}

{% block chardinhelp %}
             url: "{% static 'chardinjs/helptext_env.json' %}"
{% endblock %}

{% block realcontent %}
  <input class="form-control me-2 mb-3 mt-3" type="text" id="search_container" placeholder="Search environments" title="Type in a name" autofocus data-intro="#search_environment">
  <div id="containerListPane" data-intro="#container_list" >
  {% for container in containers %}
     {% include 'container_partial_list.html' %}
  {% endfor %}
  </div>
{% endblock %}

{% block scripts %}
<script>
$( document ).ready(function() {
  $.cookie("next_page", "container:list", { 'path': '/', 'secure': true });
});
$("#search_container").keyup(function() {
  var pattern = $( this ).val().toUpperCase();
  console.log( "search: " + pattern );
  $("span[id^='container-name-'").each(function() {
  console.log( this );
    var containerid = $( this ).attr('id').split('-')[2];
    var hide_it = true;
    var card = $("#card-" + containerid);
    if (pattern.length > 0) {
      var name = $( this ).html().toUpperCase();
      if ( name.indexOf(pattern) > -1 ) {
        hide_it = false;
      }
    } else {
      hide_it = false;
    }
    if (hide_it) {
      $( card ).hide();
    } else {
      $( card ).show();
    }
  });
});
</script>
{% endblock %}
