{% load container_buttons %}
{% load static %}
{% load check_show %}

{# the environment cards, buttonbar is shown on mouse over #}
<div
  class="bg-image card shadow-1-strong border border-2 mb-3 border-warning"
  style="background-image: url('{% static 'dockercontainerbg.jpg' %}'); {#max-width: 560px; height: 300px; #} background-color: #2a69a833; background-blend-mode: darken; background-size: cover;"
>
  <input type="hidden" id="container-shown-{{ container.id }}" value="true">
  <input type="hidden" id="container-search-{{ container.id }}" value="{{ container.search }}">
  <input type="hidden" id="container-match-{{ container.id }}" value="true">
  <input type="hidden" id="container-isshown-{{ container.id }}" value="true">
  {% if container.image.imagetype == container.image.TP_PROJECT %}
  <div class="card-header bg-secondary bg-opacity-75 border-bottom border-warning border-1 border-opacity-50" id="click-containerhead-{{ container.id }}">
  {% elif container.image.imagetype == container.image.TP_REPORT %}
  <div class="card-header bg-success bg-opacity-75 border-bottom border-warning border-1 border-opacity-50" id="click-containerhead-{{ container.id }}">
  {% elif container.image.imagetype == container.image.TP_API %}
  <div class="card-header bg-danger bg-opacity-75 border-bottom border-warning border-1 border-opacity-50" id="click-containerhead-{{ container.id }}"></div>
  {% endif %}
    {% container_name container %}
  </div>
  <div class="card-body text-dark fw-bold" id="click-containerbody-{{ container.id }}">
    <p class="card-text">
        {% container_image container %}
        {% container_state container %}
        <img src="{{ container.image.thumbnail.img_src }}" alt="{{ container.image.thumbnail.name }}" height="50" style="display: flex;float: inline-end;">
    </p>
    <p class="card-text">
        {% container_resources container %}
    </p>
    <p class="card-text">
        {% container_mounts container %}
    </p>
    <p class="card-text">
        {% ifempty container %}
    </p>
    <p class="card-text">
      {% container_restart_reason container %}
    </p>
  </div>
  <div class="card-footer bg-secondary bg-opacity-35 border-bottom border-warning border-1 border-opacity-50i opacity-25" id="buttonbar-{{ container.id }}">
    <div class="container-fluid">
      <div class="d-flex flex-row justify-content-between">
        <div class="d-flex flex-row justify-content-start">
          <div>{% button_start_open container %}</div>
          <div class="ms-2">{% button_restart container %}</div>
          <div class="ms-2">{% button_stop container %}</div>
        </div>
        <div class="d-flex flex-row justify-content-end">
          <div>{% button_configure container %}</div>
        </div>
      </div>
    </div>
  </div>
</div>

