{% extends "layout.html" %}

{% load static %}
{% load project_buttons %}

{% block page_title %}Kooplex Environment{% endblock %}



{% block submenu %}
<ul class="navbar-nav flex-row flex-md-row">
  <li class="ms-3 nav-item">
    <a data-toggle="tooltip" title="New environment" data-placement="bottom" class="nav-link {% if submenu == 'new' %}active{% endif %}" href="{% url 'container:new' %}"><i class="bi bi-basket3"></i><span class="d-none d-sm-inline">&nbsp;New environment</span></a>
  </li>
  <li class="ms-3 nav-item">
    <a data-toggle="tooltip" title="List environment" data-placement="bottom" class="nav-link {% if submenu == 'list' %}active{% endif %}" href="{% url 'container:list' %}"><i class="bi bi-bag-dash"></i><span class="d-none d-sm-inline">&nbsp;List environment</span></a>
  </li>
</ul>
{% endblock %}

{% block bodycontent %}
<div class="container mt-4">
{% block realcontent %}
  <div class="card shadow p-3 mb-2 mt-3 bg-light rounded"> 
    <h6 class="card-title">Nothing interesting</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
  </div>
{% endblock %}
</div>
{% endblock %}

