{#% extends "container_layout.html" %#}
{% load container_buttons %}
{% load render_table from django_tables2 %}
{% load extras %}

{% block head_content %}
<!-- bootstrap-toggler requirement -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/css/bootstrap5-toggle.min.css" rel="stylesheet">
{% endblock %}

<div id="containerInfoModal-content">
  <div class="modal-header">
  {% if container.id %}
    <h5 class="modal-title">Configuring environment {{container.name}}</h5>
  {% else %}
    <h5 class="modal-title">Create environment</h5>
  {% endif %}
    <button onclick="click_x=true" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body" id="containerInfoModal-body">
    <ul class="nav nav-tabs" id="serviceConfigTabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link mytab active" id="tab-meta" data-bs-toggle="tab" href="#meta" role="tab" aria-controls="meta" aria-selected="true">Name/Resources</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link mytab" id="tab-projects" data-bs-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="false">Projects</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link mytab" id="tab-courses" data-bs-toggle="tab" href="#courses" role="tab" aria-controls="courses" aria-selected="false">Courses</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link mytab" id="tab-volumes" data-bs-toggle="tab" href="#volumes" role="tab" aria-controls="volumes" aria-selected="false">Storage</a>
      </li>

      {% if container.id %}
      <li class="nav-item" role="presentation" aria-selected="false">
        <a class="nav-link mytab text-info" id="tab-logs" data-bs-toggle="tab" href="#logs" role="tab" aria-controls="logs" aria-selected="false">Logs</a>
      </li>
      <li class="nav-item" role="presentation" aria-selected="false">
        <a class="nav-link mytab text-info" id="tab-con" data-bs-toggle="tab" href="#connections" role="tab" aria-controls="connections" aria-selected="false">Connections</a>
      </li>
      <li class="nav-item" role="presentation" aria-selected="false">
        <a class="nav-link mytab text-success" id="tab-export" data-bs-toggle="tab" href="#export" role="tab" aria-controls="export" aria-selected="false">Export</a>
      </li>
      <li class="nav-item" role="presentation" aria-selected="false">
        <a class="nav-link mytab text-danger" id="tab-delete" data-bs-toggle="tab" href="#delete" role="tab" aria-controls="delete" aria-selected="false">Delete</a>
      </li>
      {% endif %}
    </ul>

    <div class="tab-content" id="serviceConfigTabContent">
      <div class="tab-pane fade show active" id="meta" role="tabpanel" aria-labelledby="tab-meta">
        {% include 'widget_form_image.html' %}
      </div>
      <div class="tab-pane fade" id="projects" role="tabpanel" aria-labelledby="tab-projects">
        {# fixme: add project search bar #}
        {% render_table form.t_projects %}
      </div>
      <div class="tab-pane fade" id="courses" role="tabpanel" aria-labelledby="tab-coursess">
        {% render_table form.t_courses %}
      </div>
      <div class="tab-pane fade" id="volumes" role="tabpanel" aria-labelledby="tab-volumes">
        {% render_table form.t_volumes %}
      </div>
      {% if container.id %}
      <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="tab-logs" style="white-space: pre-wrap;">
        Retrieving logs...
      </div>
      <div class="tab-pane fade" id="connections" role="tabpanel" aria-labelledby="tab-con" style="white-space: pre-wrap;">
	      <ul>
		      <li> Kernel Url:  (use this for accessing the environment's kernels e.g. from VScode) <a href="https://xwiki.vo.elte.hu/en/kooplex-manual/teleport"><span class="ms-2 bi bi-book"></span></a></br>{{ container.url_kernel}}</li>
	      </ul>

      </div>
      <div class="tab-pane fade" id="delete" role="tabpanel" aria-labelledby="tab-delete">
        <p>Delete your container by clicking the dustbin...</p>
        {% button_delete_container container %}
      </div>
      {% endif %}
    </div>
  </div>
  <div class="modal-footer"><button type="submit" class="btn btn-warning" name="button" value="apply"><i class="bi bi-save"></i>&nbsp;Save all changes</button></div>
</div>


{% block scripts %}
<script>

{# handle websocket callback #}
function monitor_callback(data) {
  console.log(data);
  command = data['command'];
  msg = data['message'];
  containerid = data['container-id'];
  //console.log('SOCK: --> ' + command + ": " + msg);
  if (command == 'monitor-node') {
    selected = $( "select[name='node'] option:selected" )[0];
    sel_node = $(selected).val();
    node_old = $("#id_node_old").val();
    console.log(data);
	  if (data['node'] == node_old && sel_node != "" && "{{ container.state }}" == "run") {
		  cpu = parseFloat($("#id_cpurequest_old").val()) + parseFloat(data["avail_cpu"]);
		  gpu = parseInt($("#id_gpurequest_old").val()) + parseInt(data["avail_gpu"]);
		  memory = parseFloat($("#id_memoryrequest_old").val()) + parseFloat(data["avail_memory"]);
	  } else {
		  cpu = data["avail_cpu"];
		  gpu = data["avail_gpu"];
		  memory = data["avail_memory"];
	  }
    $("input[name='cpurequest']").attr("max", cpu);
    $("input[name='memoryrequest']").attr("max", memory);
    $("input[name='gpurequest']").attr("max", gpu);
    $("#thresholdhigh-cpurequest").text(cpu);
    $("#thresholdhigh-memoryrequest").text(memory);
    $("#thresholdhigh-gpurequest").text(gpu);
    if (sel_node == data['node']) {
      $("#busybar").addClass("d-none");
      $("input[name$='request'").each(function() { 
        if ($(this).attr("max") > 0) {
          $(this).attr('disabled', false ) 
        }
      })
    }
  }
}

$(document).ready(function() {
  monitorSocket = open_ws('{{ wss_monitor }}', monitor_callback)
  $("select[name='node']").change()
})

{# when node selection changes, retrieve node details #}
$("select[name='node']").change(function() {
	console.log("hook")
 $( "select[name='node'] option:selected" ).each(function() {
   node = $(this).attr("value")
   if (monitorSocket.readyState != 1) {
     console.log("Socket not open: " + monitorSocket.readyState)
     monitorSocket = open_ws('{{ wss_monitor }}', monitor_callback)  //FIXME
   }
   monitorSocket.send(JSON.stringify({
     'command': 'monitor-node',
     'node': node,
   }))
   $("#busybar").removeClass("d-none")
   $("input[name$='request'").each(function() { $(this).attr('disabled', true ) })
 })
})//.change()

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap5-toggle@3.7.0/js/bootstrap5-toggle.min.js"></script>
{% endblock %}
