{% if user.is_authenticated %}
<li class="nav-item dropdown {{ active }}">
  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownContainer" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-intro="#envs">
    Environments
  </a>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdownContainer">
    <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#container-new">New environment</a></li>
    <li><a class="dropdown-item" href="{% url 'container:list' %}">List environments</a></li>
    <li><hr class="dropdown-divider"></li>
    {% if user.profile.can_createimage %}
      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#image-new">Create image</a></li>
    {% else %}
      <li><a class="dropdown-item disabled" href="#">Create image</a></li>
    {% endif %}
    {% if user.profile.can_createattachment %}
      <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#attachment-new">Create attachment</a></li>
    {% else %}
      <li><a class="dropdown-item disabled" href="#">Create attachment</a></li>
    {% endif %}
    <li><a class="dropdown-item" href="{% url 'container:list_attachments' %}">List attachments</a></li>
  </ul>
</li>
{% include "container_new.html" %}
{% if user.profile.can_createimage %}
  {% include "image_new.html" %}
{% endif %}
{% if user.profile.can_createattachment %}
  {% include "attachment_new.html" %}
{% endif %}
{% else %}
{% endif %}
