<div class="container-fluid">
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col">
      <table>
        {{ form.as_table }}
      </table>
    </div>
    <div class="col"> {# hide if small #}
      <div data-toggle="tooltip" title="Please select an option from the image dropdown to check its description." class="bg-warning rounded p-2 w-100 mt-2 mt-md-0">
        <p class="fw-bolder">Image description:&nbsp;</p>
        <p id="imageDescription"></p>
	<div class="clearfix"><img id="imageThumbnail" class="float-end" alt=""></div>
        {{ form.descriptions }}
      </div>
    </div>
  </div>
  <div class="row row-cols-1 p-2">
    <div class="progress d-none" id="busybar" role="progressbar" aria-label="Animated striped example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" style="width: 100%">Retrieving cluster information...</div>
    </div>
  </div>
</div>

<script>
	{# FIXME: guess widget name #}
{# when image selection changes, display the details in info panel #}
function image_selection_changed(name) {
  $( "select[name=" + name + "] option:selected" ).each(function() {
    id = $(this).attr("value");
    console.log( $( this ).text() + " -> " + id);
    if (id === "") {
      $("#imageDescription").text("");
       $("#imageThumbnail").attr("src", "");
    } else {
       description = $("#image-description-" + id).attr("value");
       $("#imageDescription").text(description);
       tn = $("#image-thumbnail-" + id).attr("value");
       $("#imageThumbnail").attr("src", tn);
    }
  });
}
$("select[name='image']").change(function() {
  image_selection_changed('image');
}).change();
</script>

