

div.my {
background-color: #dda7a7;;
    border-color: black;
}

div.public {
background-color: #e0c393;
    border-color: black;
}

div.running-containers{
  background-color: #dde4d4;
    border-color: black;
}

div.new-project{
float: right;
/*  background-color: #9abde4; */
    border-color: black;
    margin-top:5px;
}

div.projects{
    border-width: 2px;
    border-color: aliceblue;
    border-style: solid;
/*    border-radius: 10px; */
    padding: 10px;
    width:auto;
    transition:height 0.5s;
    -moz-transition:height 0.5s; /* Firefox 4 */
    -webkit-transition:height 0.5s; /* Safari and Chrome */
    -o-transition:height 0.5s; /* Opera */
    display:block;
}

div.running {
background-color: #ddddff;
}

div.session{
    border-width: 2px;
    border-color: aliceblue;
    border-style: solid;
/*    border-radius: 10px; */
    background-color: #dddddd;
/*    border-color: black; */
    padding: 10px;
    margin-left: 40px;
    width:auto;
    transition:height 0.5s;
    -moz-transition:height 0.5s; /* Firefox 4 */
    -webkit-transition:height 0.5s; /* Safari and Chrome */
    -o-transition:height 0.5s; /* Opera */
    display:block;
}

div.session-details{
    display: inline-block;
    /*float: left;*/
    overflow: hidden;
    width: 50%;
    height:100%;
}

div.session-buttons{
    display: inline-block;
    float: right;
}

span.button {
color: black;
width: 100px;
padding: 5px;
      border-width: 2px;
    border-color: aliceblue;
    border-style: solid;
/*    border-radius: 10px; */
}
span.shutdown {
/*background-color: #ff7377;*/
background-color: white;
}
span.stop {
/*background-color: #ff7377;*/
background-color: white;
}
span.start {
/*background-color: green;*/
background-color: white;
}
span.delete {
/*background-color: #6d7cff;*/
background-color: white;
}
span.open {
/*background-color: #5bc0de;*/
background-color: white;
}

span.commit {
/*background-color: gold;*/
background-color: white;
}

span.commit {
/*background-color: gold;*/
background-color: white;
}

span.view {
    background-color: #c11ee6;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

ul.nav-tabs {
    background-color: #f9f9f9;
}
