<div class="editable-wrap"
     data-type="text"
     data-name="{{ attr }}"
     data-pk="{{ pk }}"
     data-model="{{ model }}">
  <span 
     {% if editable %}
     class="editable-display"
     {% else %}
     class="disabled-display"
     {% endif %}
  >
    {% if pk == None and value == None %}
    <i>{{ placeholder|default:"Add a name" }}</i>
    {% else %}
    {{ value }}
    {% endif %}
  </span>

  {% if error %}
  <div class="widget-error bg-danger text-white p-1 rounded shadow">
    {{ error }}
    {% if pk != None %}
    <button class="btn btn-sm btn-outline-secondary revert-btn"
            data-original="{{ original_value }}">Revert</button>
    {% endif %}
  </div>
  {% endif %}
</div>

